# SPDX-FileCopyrightText: Copyright (c) 2021-2022 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: LicenseRef-NvidiaProprietary
#
# NVIDIA CORPORATION, its affiliates and licensors retain all intellectual
# property and proprietary rights in and to this material, related
# documentation and any modifications thereto. Any use, reproduction,
# disclosure or distribution of this material and related documentation
# without an express license agreement from NVIDIA CORPORATION or
# its affiliates is strictly prohibited.
[env]
REPO_ROOT = { script = ["echo ${CI_PROJECT_DIR}"], condition = {env_set = ["CI_PROJECT_DIR"], env_not_set = ["REPO_ROOT"]}}
FORGE_CA = { value = "nonprod", condition = { env_not_set = ["FORGE_CA"] } }
FORGE_CA_PATH = { value = "${REPO_ROOT}/dev/forge_${FORGE_CA}root.pem"}
BFB_LOCATION = "https://urm.nvidia.com/artifactory/list/sw-mlnx-bluefield-generic/Ubuntu20.04"
BFB_NAME = "DOCA_1.5.1_BSP_3.9.3_Ubuntu_20.04-54.signed.bfb"
HBN_CONFIG_VERSION = "1.5.1v2"

[tasks.build-boot-artifacts-x86_64]
dependencies = [
        "mkdir-static-x86_64",
        { name = "build-cli", path = "${REPO_ROOT}" },
        "build",
        "create-ephemeral-image-x86_64",
        "ipxe-x86_64",
]

[tasks.build-boot-artifacts-x86_64-ci]
dependencies = [
        "mkdir-static-x86_64",
        { name = "build-cli-ci", path = "${REPO_ROOT}" },
        "build",
        "create-ephemeral-image-x86_64-ci",
        "ipxe-x86_64-ci",
]

[tasks.build-boot-artifacts-aarch64]
dependencies = [
        "mkdir-static-aarch64",
	{ name = "build-cli", path = "${REPO_ROOT}" },
	"bfb-aarch64",
	"ipxe-aarch64",
]

[tasks.build-boot-artifacts-aarch64-ci]
dependencies = [
        "mkdir-static-aarch64",
	{ name = "build-cli-ci", path = "${REPO_ROOT}" },
	"bfb-aarch64-ci",
	"ipxe-aarch64",
]

[tasks.create-ephemeral-image-x86_64]
category = "Ephemeral Image"
dependencies = [
	"mkosi-generate-zipapp",
	"mkosi-clean-artifacts",
	"copy-debug-artifacts",
	"copy-forge-root-ca",
	"mkosi-build-image",
	"mkosi-remove-unnecessary-files",
]

[tasks.create-ephemeral-image-x86_64-ci]
category = "Ephemeral Image"
dependencies = [
	"mkosi-generate-zipapp",
	"mkosi-clean-artifacts-x86_64-ci",
	"copy-debug-artifacts",
	"copy-forge-root-ca",
	"mkosi-build-image-x86_64-ci",
	"mkosi-remove-unnecessary-files",
]

[tasks.mkdir-static-aarch64]
category = "ipxe"
script = '''
  mkdir -p "${REPO_ROOT}/pxe/static/blobs/internal/aarch64"
'''

[tasks.mkdir-static-x86_64]
category = "ipxe"
script = '''
  mkdir -p "${REPO_ROOT}/pxe/static/blobs/internal/x86_64"
'''


[tasks.copy-forge-root-ca]
category = "Copy Forge Root CA"
command = "cp"
args = [
    "-f",
	"${FORGE_CA_PATH}",
	"mkosi.extra/opt/forge/forge_root.pem",
]

[tasks.copy-debug-artifacts]
category = "Copy Debug Artifacts"
command = "cp"
args = [
	"${REPO_ROOT}/target/debug/forge-scout",
	"mkosi.extra/opt/forge/",
]

# We don't need the Disk image it creates yet
[tasks.mkosi-remove-unnecessary-files]
category = "Ephemeral Image"
command = "rm"
args = [
	"-f",
	"static/blobs/internal/x86_64/carbide",
	"static/blobs/internal/x86_64/carbide.changelog",
]

[tasks.mkosi-clean-artifacts]
category = "Ephemeral Image"
command = "sudo"
args = [
	"mkosi/builddir/mkosi",
	"--split-artifacts",
	"--output", "static/blobs/internal/x86_64/carbide",
	"clean"
]

[tasks.mkosi-build-image]
category = "Ephemeral Image"
command = "sudo"
args = [
	"mkosi/builddir/mkosi",
	"--split-artifacts",
	"--output", "static/blobs/internal/x86_64/carbide",
	"build"
]

[tasks.mkosi-clean-artifacts-x86_64-ci]
category = "Ephemeral Image"
command = "sudo"
args = [
        "mkosi/builddir/mkosi",
	"--split-artifacts",
	"--output", "static/blobs/internal/x86_64/carbide",
	"clean"
]

[tasks.mkosi-build-image-x86_64-ci]
category = "Ephemeral Image"
command = "sudo"
args = [
        "mkosi/builddir/mkosi",
	"--split-artifacts",
	"--output", "static/blobs/internal/x86_64/carbide",
	"build"
]

[tasks.mkosi-generate-zipapp]
category = "Ephemeral Image"
description = "Compile the mkosi executable from the mkosi sources"
command = "tools/generate-zipapp.sh"
cwd = "mkosi"

[tasks.ipxe-x86_64]
category = "iPXE Kernel"
description = "Build iPXE kernel for x86_64 (Legacy BIOS, EFI) and move to the carbide static webroot"
dependencies = [
	"ipxe-config",
	"ipxe-install-pcbios-x86_64",
	"ipxe-install-efi-x86_64",
]

[tasks.ipxe-x86_64-ci]
category = "iPXE Kernel"
description = "Build iPXE kernel for x86_64 (Legacy BIOS, EFI) and move to the carbide static webroot"
dependencies = [
	"ipxe-config",
	"ipxe-install-pcbios-x86_64",
	"ipxe-install-efi-x86_64",
    "package-boot-artifacts-x86_64",
    "upload-boot-artifacts-x86_64"
]

[tasks.ipxe-config]
category = "iPXE Kernel"
description = "Copy the Carbide specific iPXE config headers to the input directory"
script = "cp ipxe/local/*.h ipxe/upstream/src/config/local/"

[tasks.ipxe-install-pcbios-x86_64]
category = "iPXE Kernel"
description = "Copy the x86_64 Legacy BIOS iPXE kernel to the boot controller static files directory"
command = "mv"
args = ["ipxe/upstream/src/bin-x86_64-pcbios/ipxe.kpxe", "static/blobs/internal/x86_64/ipxe.kpxe"]
dependencies = [
	"ipxe-build-pcbios-x86_64",
]

[tasks.ipxe-install-efi-x86_64]
category = "iPXE Kernel"
description = "Copy the x86_64 EFI iPXE kernel to the boot controller static files directory"
command = "mv"
args = ["ipxe/upstream/src/bin-x86_64-efi/ipxe.efi", "static/blobs/internal/x86_64/ipxe.efi"]
dependencies = [
	"ipxe-build-efi-x86_64",
]

[tasks.ipxe-aarch64]
category = "iPXE Kernel"
description = "Build iPXE kernel for aarch64 (EFI) and move to the carbide static webroot"
dependencies = [
    "ipxe-config",
    "ipxe-install-efi-aarch64",
	"ipxe-update-efi-checksum-aarch64",
    "package-boot-artifacts-aarch64",
    "upload-boot-artifacts-aarch64",
]

[tasks.ipxe-update-efi-checksum-aarch64]
category = "iPXE Kernel"
description = "update the checksum for the aarch64 EFI iPXE kernel"
script = '''
rm -f artifacts.json.bk &&
CHECKSUM=$(shasum -a 256 static/blobs/internal/aarch64/ipxe.efi | cut -d ' ' -f 1)
jq --arg CHECKSUM "$CHECKSUM" '."forge-boot-artifact-aarch64".checksums."ipxe.efi" = $CHECKSUM' < artifacts.json > artifacts.json.bk &&
mv artifacts.json.bk artifacts.json
'''
dependencies = [
  "ipxe-install-efi-aarch64"
]

[tasks.ipxe-install-efi-aarch64]
category = "iPXE Kernel"
description = "Copy the aarch64 EFI iPXE kernel to the boot controller static files directory"
command = "mv"
args = ["ipxe/upstream/src/bin-arm64-efi/ipxe.efi", "static/blobs/internal/aarch64/ipxe.efi"]
dependencies = [
	"ipxe-build-efi-aarch64",
]

[tasks.ipxe-build-pcbios-x86_64]
category = "iPXE Kernel"
description = "Build the x86_64 Legacy BIOS iPXE kernel"
command = "make"
args = [ "bin-x86_64-pcbios/ipxe.kpxe", "EMBED=${REPO_ROOT}/pxe/ipxe/local/embed.ipxe", "CERT=${FORGE_CA_PATH}", "TRUST=${FORGE_CA_PATH}"]
cwd = "ipxe/upstream/src"

[tasks.ipxe-build-efi-x86_64]
category = "iPXE Kernel"
description = "Build the x86_64 EFI iPXE kernel"
command = "make"
args = [ "bin-x86_64-efi/ipxe.efi", "EMBED=${REPO_ROOT}/pxe/ipxe/local/embed.ipxe", "CERT=${FORGE_CA_PATH}", "TRUST=${FORGE_CA_PATH}"]
cwd = "ipxe/upstream/src"

[tasks.ipxe-build-efi-aarch64]
category = "iPXE Kernel"
description = "Build the aarch64 EFI iPXE kernel on aarch64 gitlab runner"
command = "make"
args = [ "bin-arm64-efi/ipxe.efi", "EMBED=${REPO_ROOT}/pxe/ipxe/local/embed.ipxe", "CERT=${FORGE_CA_PATH}", "TRUST=${FORGE_CA_PATH}"]
cwd = "ipxe/upstream/src"

[tasks.bfb-aarch64-ci]
category = "iPXE Kernel"
description = "Build iPXE kernel for aarch64 (EFI) and move to the carbide static webroot"
dependencies = [
	"bfb-cleanup-tmp",
	"bfb-create-tmp",
	"bfb-download",
	"bfbtools-download",
	"bfb-extract",
	"bfb-extract-efi",
	"bfb-add-scout-to-bfb",
	"bfb-add-forge-root-ca-to-bfb",
	"download-hbn-installer-to-bfb",
	{ name = "build-forge-dpu-deb", path="${REPO_ROOT}/bluefield" },
	"move-forge-dpu-package-to-bfb",
	"bfb-copy-efi",
	"bfb-remove-extracted-efi",
	"bfb-rebuild-rootfs",
	"bfb-copy-rootfs",
]

[tasks.bfb-aarch64]
category = "iPXE Kernel"
description = "Build iPXE kernel for aarch64 (EFI) and move to the carbide static webroot"
dependencies = [
	"bfb-cleanup-tmp",
	"bfb-create-tmp",
	"bfb-download",
	"bfbtools-download",
	"bfb-extract",
	"bfb-extract-efi",
	"bfb-add-scout-to-bfb",
	"bfb-add-root-ca-to-bfb",
	"download-hbn-installer-to-bfb",
	{ name = "build-forge-dpu-deb", path="${REPO_ROOT}/bluefield" },
	"move-forge-dpu-package-to-bfb",
	"bfb-copy-efi",
	"bfb-update-efi-checksum-aarch64",
	"bfb-remove-extracted-efi",
	"bfb-rebuild-rootfs",
	"bfb-copy-rootfs",
	"bfb-update-rootfs-checksum-aarch64",
]

[tasks.bfb-cleanup-tmp]
category = "iPXE Kernel"
description = "Download the BFB on aarch64 gitlab runner"
command = "rm"
args = [ "-rf", "/tmp/bfb-dump/initramfs-tmp" ]
cwd = "ipxe/upstream/src"

[tasks.bfb-create-tmp]
category = "iPXE Kernel"
description = "Download the BFB on aarch64 gitlab runner"
command = "mkdir"
args = [ "-p", "/tmp/bfb-dump/initramfs-tmp" ]
cwd = "ipxe/upstream/src"

[tasks.bfb-download]
category = "iPXE Kernel"
description = "Download the BFB on aarch64 gitlab runner"
command = "curl"
args = [
	"${BFB_LOCATION}/${BFB_NAME}",
	"--output",
	"${BFB_NAME}",
]
cwd = "/tmp/bfb-dump"

[tasks.bfbtools-download]
category = "iPXE Kernel"
description = "Download the BFB tools on aarch64 gitlab runner"
command = "curl"
args = [
	"https://raw.githubusercontent.com/Mellanox/bfscripts/master/mlx-mkbfb",
	"--output",
	"mlx-mkbfb",
]
cwd = "/tmp/bfb-dump"

[tasks.bfb-extract]
category = "iPXE Kernel"
description = "Extract the BFB on aarch64 gitlab runner"
command = "python3"
args = [ "mlx-mkbfb", "-x", "${BFB_NAME}" ]
cwd = "/tmp/bfb-dump"

[tasks.bfb-extract-efi]
category = "iPXE Kernel"
description = "Extract the BFB initramfs on aarch64 gitlab runner"
script = [ "gzip -d < /tmp/bfb-dump/dump-initramfs-v0 | cpio -id" ]
cwd = "/tmp/bfb-dump/initramfs-tmp"

[tasks.bfb-add-forge-root-ca-to-bfb]
category = "iPXE Kernel"
description = "Add the forge root CA to the bfb"
command = "cp"
args = [
	"${FORGE_CA_PATH}",
	"/tmp/bfb-dump/initramfs-tmp/forge_root.pem",
]

[tasks.bfb-add-scout-to-bfb]
category = "iPXE Kernel"
description = "Add the scout to the bfb"
command = "cp"
args = [
	"${REPO_ROOT}/target/debug/forge-scout",
	"/tmp/bfb-dump/initramfs-tmp",
]

[tasks.download-hbn-installer-to-bfb]
category = "iPXE Kernel"
description = "Add the HBN installer to the bfb"
command = "wget"
args = [
	"https://api.ngc.nvidia.com/v2/resources/nvidia/doca/doca_container_configs/versions/${HBN_CONFIG_VERSION}/zip",
	"-O",
	"/tmp/bfb-dump/initramfs-tmp/doca_container_configs_${HBN_CONFIG_VERSION}.zip",
]

[tasks.move-forge-dpu-package-to-bfb]
category = "iPXE Kernel"
description = "Move aarch64 EFI iPXE debian file"
command = "mv"
args = [
	"${REPO_ROOT}/bluefield/forge-dpu_1.0-1.deb",
	"/tmp/bfb-dump/initramfs-tmp",
]

[tasks.bfb-update-efi-checksum-aarch64]
category = "iPXE Kernel"
description = "update the checksum for the aarch64 BFB EFI kernel"
script = '''
rm -f artifacts.json.bk &&
CHECKSUM=$(shasum -a 256 static/blobs/internal/aarch64/carbide.efi | cut -d ' ' -f 1)
jq --arg CHECKSUM "$CHECKSUM" '."forge-boot-artifact-aarch64".checksums."carbide.efi" = $CHECKSUM' < artifacts.json > artifacts.json.bk &&
mv artifacts.json.bk artifacts.json
'''
dependencies = [
	"bfb-copy-efi"
]

[tasks.bfb-copy-efi]
category = "iPXE Kernel"
description = "Copy the BFB efi kernel on aarch64 gitlab runner"
command = "cp"
args = [ "/tmp/bfb-dump/initramfs-tmp/dump-image-v0", "carbide.efi"]
cwd = "static/blobs/internal/aarch64"

[tasks.bfb-remove-extracted-efi]
category = "iPXE Kernel"
description = "Remove the BFB efi kernel on aarch64 gitlab runner"
command = "rm"
args = [ "-fr", "/tmp/bfb-dump/initramfs-tmp/dump-image-v0"]

[tasks.bfb-update-rootfs-checksum-aarch64]
category = "iPXE Kernel"
description = "update the checksum for the aarch64 BFB rootfs"
script = '''
rm -f artifacts.json.bk &&
CHECKSUM=$(shasum -a 256 static/blobs/internal/aarch64/carbide.root | cut -d ' ' -f 1)
jq --arg CHECKSUM "$CHECKSUM" '."forge-boot-artifact-aarch64".checksums."carbide.root" = $CHECKSUM' < artifacts.json > artifacts.json.bk &&
mv artifacts.json.bk artifacts.json
'''
dependencies = [
	"bfb-copy-rootfs"
]

[tasks.bfb-rebuild-rootfs]
category = "iPXE Kernel"
description = "Rebuild the BFB root fs on aarch64 gitlab runner"
script = [ "find . -print0 | sudo cpio --null -o --format=newc | gzip -9 > ../dump-initramfs-v0" ]
cwd = "/tmp/bfb-dump/initramfs-tmp"

[tasks.bfb-copy-rootfs]
category = "iPXE Kernel"
description = "Copy the BFB root fs on aarch64 gitlab runner"
command = "cp"
args = [ "/tmp/bfb-dump/dump-initramfs-v0", "carbide.root"]
cwd = "static/blobs/internal/aarch64"

[tasks.container-boot-artifacts-x86_64-ci]
category = "iPXE Kernel"
description = "Pacakge x86_64 EFI ipxe kernel and rootdisk"
command = "docker"
args = ["-t", "boot-artifacts-${FORGE_CA}-x86_64:${CI_BUILD_ID}", "-f", "${CI_PROJECT_DIR}/pxe/Dockerfile", "${CI_PROJECT_DIR}/pxe"]

[tasks.container-boot-artifacts-aarch64-ci]
category = "iPXE Kernel"
description = "Pacakge aarch64 EFI ipxe kernel and rootdisk"
command = "docker"
args = ["-t", "boot-artifacts-${FORGE_CA}-aarch64:${CI_BUILD_ID}", "-f", "${CI_PROJECT_DIR}/pxe/Dockerfile", "${CI_PROJECT_DIR}/pxe"]

[tasks.package-boot-artifacts-x86_64]
category = "iPXE Kernel"
description = "Package x86_64 EFI iPXE kernel and rootdisk"
command = "tar"
args = [ "-czvf", "${CI_PROJECT_DIR}/forge-boot-artifacts-${CI_BUILD_ID}.tar.gz", "ipxe.kpxe", "ipxe.efi", "carbide.root", "carbide.efi"]
cwd = "static/blobs/internal/x86_64"

[tasks.package-boot-artifacts-aarch64]
category = "iPXE Kernel"
description = "Package aarch64 EFI iPXE kernel and rootdisk"
command = "tar"
args = [ "-czvf", "${CI_PROJECT_DIR}/forge-boot-artifacts-${CI_BUILD_ID}.tar.gz", "ipxe.efi", "carbide.root", "carbide.efi",]
cwd = "static/blobs/internal/aarch64"

[tasks.upload-boot-artifacts-x86_64]
category = "iPXE Kernel"
description = "Upload x86_64 EFI iPXE kernel and rootdisk"
command = "/usr/local/bin/jfrog"
args = [ "rt", "u", "${CI_PROJECT_DIR}/forge-boot-artifacts-${CI_BUILD_ID}.tar.gz", "swngc-ngcc-generic-local/nvmetal/boot-artifacts/x86_64/forge-boot-artifacts-${CI_BUILD_ID}.tar.gz"]
dependencies = [
  "package-boot-artifacts-x86_64"
]

[tasks.upload-boot-artifacts-aarch64]
category = "iPXE Kernel"
description = "Upload aarch64 EFI iPXE kernel and rootdisk"
command = "/usr/local/bin/jfrog"
args = [ "rt", "u", "${CI_PROJECT_DIR}/forge-boot-artifacts-${CI_BUILD_ID}.tar.gz", "swngc-ngcc-generic-local/nvmetal/boot-artifacts/aarch64/forge-boot-artifacts-${CI_BUILD_ID}.tar.gz"]
dependencies = [
  "package-boot-artifacts-aarch64"
]
