# SPDX-FileCopyrightText: Copyright (c) 2021-2023 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: LicenseRef-NvidiaProprietary
#
# NVIDIA CORPORATION, its affiliates and licensors retain all intellectual
# property and proprietary rights in and to this material, related
# documentation and any modifications thereto. Any use, reproduction,
# disclosure or distribution of this material and related documentation
# without an express license agreement from NVIDIA CORPORATION or
# its affiliates is strictly prohibited.
[env]
REPO_ROOT = { script = ["dirname $(cargo locate-project --message-format plain --workspace)"] }
FORGE_CA_PATH = { value = "${REPO_ROOT}/dev/forge_prodroot.pem"}

# BFB stuff
BFB_LOCATION = "https://urm.nvidia.com/artifactory/sw-mlnx-bluefield-generic/Ubuntu22.04"
BFB_NAME = "DOCA_2.2.0_BSP_4.2.0_Ubuntu_22.04-1.20230918.prod.bfb"
HBN_CONFIG_URL = "https://api.ngc.nvidia.com/v2/resources/nvidia/doca/doca_container_configs/versions/2.2.0v3/zip"
IPXE_BANNER_VERSION = { script = ["echo ${VERSION:-$(git describe --tags --first-parent --always)}"] }
DOCA_HBN_URI = "nvcr.io/nvidia/doca/doca_hbn:1.5.0-doca2.2.0"
DOCA_TELEMETRY_URI = "nvcr.io/nvidia/doca/doca_telemetry:1.14.2-doca2.2.0"
K8S_PAUSE_URI = "k8s.gcr.io/pause:3.2"
DPU_AGENT_PKG_VERSION = { script = ["echo $(git describe --tags --first-parent --always | cut -c 2-)"] }

[tasks.build-boot-artifacts-x86_64]
dependencies = [
        "mkdir-static-x86_64",
        { name = "build-cli", path = "${REPO_ROOT}" },
        "build",
        "create-ephemeral-image-x86_64",
        "ipxe-x86_64",
]

[tasks.build-boot-artifacts-minikube-x86_64]
dependencies = [
        "mkdir-static-x86_64",
        { name = "build-cli-ci", path = "${REPO_ROOT}" },
        "create-ephemeral-image-x86_64",
        "ipxe-x86_64",
]

[tasks.build-boot-artifacts-x86_64-ci]
dependencies = [
        "mkdir-static-x86_64",
        { name = "build-cli-ci", path = "${REPO_ROOT}" },
        "ipxe-x86_64-ci",
]

[tasks.build-boot-artifacts-aarch64]
dependencies = [
	"mkdir-static-aarch64",
	"bfb-aarch64",
	"ipxe-aarch64",
	"setup-apt-repo",
]

[tasks.build-boot-artifacts-aarch64-ci]
dependencies = [
	"mkdir-static-aarch64",
	{ name = "build-cli-ci", path = "${REPO_ROOT}" },
	"bfb-aarch64-ci",
	"ipxe-aarch64",
	"setup-apt-repo",
]

[tasks.create-ephemeral-image-x86_64]
category = "Ephemeral Image"
dependencies = [
	"mkosi-clean-artifacts",
	"copy-debug-artifacts",
	"copy-forge-prod-root-ca",
	"mkosi-build-scout",
	"mkosi-build-qcow-imager",
	"mkosi-copy-qcow-imager-to-webroot",
	"mkosi-copy-scout-to-webroot",

]

[tasks.mkdir-static-aarch64]
category = "ipxe"
script = '''
  mkdir -p "${REPO_ROOT}/pxe/static/blobs/internal/aarch64"
  mkdir -p "${REPO_ROOT}/pxe/static/blobs/internal/apt/dists/focal/main/binary-arm64"
  mkdir -p "${REPO_ROOT}/pxe/static/blobs/internal/apt/pool/base/f/forge-dpu"
'''

[tasks.mkdir-static-x86_64]
category = "ipxe"
script = '''
  mkdir -p "${REPO_ROOT}/pxe/static/blobs/internal/x86_64"
'''

[tasks.copy-forge-prod-root-ca]
category = "Copy Forge Root CA in CI"
command = "cp"
args = [
	"-f",
	"${FORGE_CA_PATH}",
	"mkosi.profiles/scout/mkosi.extra/opt/forge/forge_root.pem",
]

[tasks.copy-forge-dev-root-ca]
category = "Copy Forge Root CA"
command = "cp"
args = [
	"-f",
	"${REPO_ROOT}/dev/certs/forge_developer_local_only_root_cert_pem",
	"mkosi.profiles/scout/mkosi.extra/opt/forge/forge_root.pem",
]

[tasks.copy-debug-artifacts]
category = "Copy Debug Artifacts"
command = "cp"
args = [
	"${REPO_ROOT}/target/debug/forge-scout",
	"mkosi.profiles/scout/mkosi.extra/opt/forge/",
]

[tasks.mkosi-clean-artifacts]
category = "Ephemeral Image"
dependencies = [
	"mkosi-clean-qcow-imager",
	"mkosi-clean-scout"
]

[tasks.mkosi-clean-qcow-imager]
category = "Ephemeral Image"
command = "sudo"
args = [
	"mkosi/bin/mkosi",
	"--profile", "qcow-imager",
	"clean"
]

[tasks.mkosi-clean-scout]
category = "Ephemeral Image"
command = "sudo"
args = [
	"mkosi/bin/mkosi",
	"--profile", "scout",
	"clean"
]

[tasks.mkosi-build-scout]
category = "Ephemeral Image"
command = "sudo"
args = [
	"mkosi/bin/mkosi",
	"--profile", "scout",
	"build"
]

[tasks.mkosi-build-qcow-imager]
category = "Ephemeral Image"
command = "sudo"
args = [
	"mkosi/bin/mkosi",
	"--profile", "qcow-imager",
	"build"
]

[tasks.mkosi-copy-qcow-imager-to-webroot]
category = "Ephemeral Image"
command = "cp"
args = [
	"mkosi.output/qcow-imager.efi",
	"static/blobs/internal/x86_64/qcow-imager.efi"
]
dependencies = [
	"mkdir-static-x86_64"
]

[tasks.mkosi-copy-scout-to-webroot]
category = "Ephemeral Image"
command = "cp"
args = [
	"mkosi.output/scout.efi",
	"static/blobs/internal/x86_64/scout.efi"
]
dependencies = [
	"mkdir-static-x86_64"
]

[tasks.ipxe-x86_64]
category = "iPXE Kernel"
description = "Build iPXE kernel for x86_64 (Legacy BIOS, EFI) and move to the carbide static webroot"
dependencies = [
	"ipxe-config",
	"ipxe-install-efi-x86_64",
]

[tasks.ipxe-x86_64-ci]
category = "iPXE Kernel"
description = "Build iPXE kernel for x86_64 (Legacy BIOS, EFI) and move to the carbide static webroot"
dependencies = [
	"ipxe-config",
	"ipxe-install-efi-x86_64",
]

[tasks.ipxe-config]
category = "iPXE Kernel"
description = "Copy the Carbide specific iPXE config headers to the input directory"
script = "cp ipxe/local/*.h ipxe/upstream/src/config/local/"

[tasks.ipxe-install-efi-x86_64]
category = "iPXE Kernel"
description = "Copy the x86_64 EFI iPXE kernel to the boot controller static files directory"
command = "mv"
args = ["ipxe/upstream/src/bin-x86_64-efi/ipxe.efi", "static/blobs/internal/x86_64/ipxe.efi"]
dependencies = [
	"ipxe-build-efi-x86_64",
]

[tasks.ipxe-aarch64]
category = "iPXE Kernel"
description = "Build iPXE kernel for aarch64 (EFI) and move to the carbide static webroot"
dependencies = [
    "ipxe-config",
    "ipxe-install-efi-aarch64",
]

[tasks.ipxe-install-efi-aarch64]
category = "iPXE Kernel"
description = "Copy the aarch64 EFI iPXE kernel to the boot controller static files directory"
command = "mv"
args = ["ipxe/upstream/src/bin-arm64-efi/ipxe.efi", "static/blobs/internal/aarch64/ipxe.efi"]
dependencies = [
	"ipxe-build-efi-aarch64",
]

[tasks.ipxe-build-efi-x86_64]
category = "iPXE Kernel"
description = "Build the x86_64 EFI iPXE kernel"
command = "make"
args = [ "bin-x86_64-efi/ipxe.efi", "VERSION=${IPXE_BANNER_VERSION}", "EMBED=${REPO_ROOT}/pxe/ipxe/local/embed.ipxe", "DEBUG=tls"]
cwd = "ipxe/upstream/src"

[tasks.ipxe-build-efi-aarch64]
category = "iPXE Kernel"
description = "Build the aarch64 EFI iPXE kernel on aarch64 gitlab runner"
command = "make"
args = [ "bin-arm64-efi/ipxe.efi", "VERSION=${IPXE_BANNER_VERSION}", "EMBED=${REPO_ROOT}/pxe/ipxe/local/embed.ipxe", "DEBUG=tls"]
cwd = "ipxe/upstream/src"

[tasks.bfb-aarch64-ci]
category = "iPXE Kernel"
description = "Build iPXE kernel for aarch64 (EFI) and move to the carbide static webroot"
dependencies = [
	"bfb-cleanup-tmp",
	"bfb-create-tmp",
	"bfb-download",
	"bfbtools-download",
	"bfb-hbn-download",
	"k8s-pause-download",
	"bfb-telemetry-download",
	"bfb-extract",
	"bfb-extract-efi",
	"bfb-hbn-export",
	"kubelet-pause-export",
	"bfb-telemetry-export",
	"bfb-add-scout-to-bfb-ci",
	"bfb-add-debs-to-bfb",
	"bfb-add-nvinit-setup-to-bfb",
	"bfb-add-forge-root-ca-to-bfb",
	"download-hbn-installer-to-bfb",
	"mkdir-hbn-folder-in-bfb",
	"unzip-hbn-folder-in-bfb",
	"mv-hbn-configs-to-bfb",
	"mv-hbn-scripts-to-bfb",
	"cleanup-hbn-scripts",
	{ name = "build-forge-dpu-deb-ci", path="${REPO_ROOT}/bluefield" },
	"cp-forge-dpu-package-to-bfb",
	"bfb-copy-efi",
	"bfb-remove-extracted-efi",
	"bfb-rebuild-rootfs",
	"bfb-copy-rootfs",
]

[tasks.bfb-aarch64]
category = "iPXE Kernel"
description = "Build iPXE kernel for aarch64 (EFI) and move to the carbide static webroot"
workspace = false
dependencies = [
    { name = "check-cross-installed", path = "${REPO_ROOT}" },
	"bfb-cleanup-tmp",
	"bfb-create-tmp",
	"bfb-download",
	"bfbtools-download",
	"bfb-hbn-download",
	"k8s-pause-download",
	"bfb-telemetry-download",
	"bfb-extract",
	"bfb-extract-efi",
	"bfb-hbn-export",
	"kubelet-pause-export",
	"bfb-telemetry-export",
	"bfb-add-scout-to-bfb",
	"bfb-add-debs-to-bfb",
	"bfb-add-nvinit-setup-to-bfb",
	"bfb-add-forge-root-ca-to-bfb",
	"download-hbn-installer-to-bfb",
	"mkdir-hbn-folder-in-bfb",
	"unzip-hbn-folder-in-bfb",
	"mv-hbn-configs-to-bfb",
	"mv-hbn-scripts-to-bfb",
	"cleanup-hbn-scripts",
	{ name = "build-forge-dpu-deb", path="${REPO_ROOT}/bluefield" },
	"cp-forge-dpu-package-to-bfb",
	"bfb-copy-efi",
	"bfb-remove-extracted-efi",
	"bfb-rebuild-rootfs",
	"bfb-copy-rootfs",
]

[tasks.bfb-cleanup-tmp]
category = "iPXE Kernel"
description = "Download the BFB on aarch64 gitlab runner"
command = "rm"
args = [ "-rf", "/tmp/bfb-dump/initramfs-tmp" ]
cwd = "ipxe/upstream/src"

[tasks.bfb-create-tmp]
category = "iPXE Kernel"
description = "Download the BFB on aarch64 gitlab runner"
command = "mkdir"
args = [ "-p", "/tmp/bfb-dump/initramfs-tmp" ]
cwd = "ipxe/upstream/src"

[tasks.bfb-download]
category = "iPXE Kernel"
description = "Download the BFB on aarch64 gitlab runner"
command = "curl"
args = [
	"${BFB_LOCATION}/${BFB_NAME}",
	"--output",
	"${BFB_NAME}",
]
cwd = "/tmp/bfb-dump"

[tasks.bfbtools-download]
category = "iPXE Kernel"
description = "Download the BFB tools on aarch64 gitlab runner"
command = "curl"
args = [
	"https://raw.githubusercontent.com/Mellanox/bfscripts/master/mlx-mkbfb",
	"--output",
	"mlx-mkbfb",
]
cwd = "/tmp/bfb-dump"

[tasks.bfb-hbn-download]
category = "iPXE Kernel"
description = "Download the hbn doca container on aarch64 gitlab runner"
command = "sudo"
args = [
	"docker",
	"pull",
	"${DOCA_HBN_URI}",
]

[tasks.bfb-telemetry-download]
category = "iPXE Kernel"
description = "Download the doca telemetry container on aarch64 gitlab runner"
command = "sudo"
args = [
    "docker",
	"pull",
	"${DOCA_TELEMETRY_URI}",
]

[tasks.k8s-pause-download]
category = "iPXE Kernel"
description = "Download the kubelet pause container on aarch64 gitlab runner"
command = "sudo"
args = [
	"docker",
	"pull",
	"${K8S_PAUSE_URI}",
]

[tasks.bfb-extract]
category = "iPXE Kernel"
description = "Extract the BFB on aarch64 gitlab runner"
command = "python3"
args = [ "mlx-mkbfb", "-x", "${BFB_NAME}" ]
cwd = "/tmp/bfb-dump"

[tasks.bfb-extract-efi]
category = "iPXE Kernel"
description = "Extract the BFB initramfs on aarch64 gitlab runner"
script = [ "gzip -d < /tmp/bfb-dump/dump-initramfs-v0 | cpio -id" ]
cwd = "/tmp/bfb-dump/initramfs-tmp"

[tasks.bfb-hbn-export]
category = "iPXE Kernel"
description = "export the hbn doca container on aarch64 gitlab runner"
command = "sudo"
args = [
	"docker",
	"save",
	"--output=doca_hbn.tar",
	"${DOCA_HBN_URI}",
]
cwd = "/tmp/bfb-dump/initramfs-tmp"

[tasks.bfb-telemetry-export]
category = "iPXE Kernel"
description = "export the hbn telemetry container on aarch64 gitlab runner"
command = "sudo"
args = [
	"docker",
	"save",
	"--output=doca_telemetry.tar",
	"${DOCA_TELEMETRY_URI}",
]
cwd = "/tmp/bfb-dump/initramfs-tmp"

[tasks.kubelet-pause-export]
category = "iPXE Kernel"
description = "export the kubelet pause container on aarch64 gitlab runner"
command = "sudo"
args = [
	"docker",
	"save",
	"--output=pause.tar",
	"${K8S_PAUSE_URI}",
]
cwd = "/tmp/bfb-dump/initramfs-tmp"

[tasks.bfb-add-forge-root-ca-to-bfb]
category = "iPXE Kernel"
description = "Add the forge root CA to the bfb"
command = "cp"
args = [
	"${FORGE_CA_PATH}",
	"/tmp/bfb-dump/initramfs-tmp/forge_root.pem",
]

[tasks.download-debs-for-bfb]
category = "iPXE Kernel"
description = "wget the debs to nvinit_setup"
command = "wget"
args = [
    "-i",
    "${REPO_ROOT}/pxe/wget_deb_urls",
    "--directory-prefix=${REPO_ROOT}/pxe/debs",
]
cwd = "${REPO_ROOT}/pxe"

[tasks.bfb-add-debs-to-bfb]
category = "iPXE Kernel"
description = "Add debs folder to the bfb"
command = "cp"
args = [
    "-R",
    "${REPO_ROOT}/pxe/debs",
    "/tmp/bfb-dump/initramfs-tmp",
]
dependencies = [
    "download-debs-for-bfb",
]

[tasks.bfb-add-nvinit-setup-to-bfb]
category = "iPXE Kernel"
description = "Add nvinit_setup folder to the bfb"
command = "cp"
args = [
    "-R",
    "${REPO_ROOT}/pxe/nvinit_setup",
    "/tmp/bfb-dump/initramfs-tmp",
]

[tasks.bfb-add-scout-to-bfb-ci]
category = "iPXE Kernel"
description = "Add the scout to the bfb"
command = "cp"
args = [
	"${REPO_ROOT}/target/debug/forge-scout",
	"/tmp/bfb-dump/initramfs-tmp",
]

[tasks.bfb-add-scout-to-bfb]
category = "iPXE Kernel"
description = "Add the scout to the bfb"
command = "cp"
args = [
	"${REPO_ROOT}/target/aarch64-unknown-linux-gnu/debug/forge-scout",
	"/tmp/bfb-dump/initramfs-tmp",
]
dependencies = [
	{ name = "build-cli-cross-aarch64", path = "${REPO_ROOT}" },
]

[tasks.download-hbn-installer-to-bfb]
category = "iPXE Kernel"
description = "Add the HBN installer to the bfb"
command = "curl"
args = [
	"-L",
	"${HBN_CONFIG_URL}",
	"--output",
	"/tmp/bfb-dump/initramfs-tmp/doca_container_configs.zip",
]

[tasks.mkdir-hbn-folder-in-bfb]
category = "iPXE Kernel"
description = "Make the HBN script target directory to the bfb"
command = "mkdir"
args = [
	"/tmp/bfb-dump/initramfs-tmp/doca_container_configs",
]

[tasks.unzip-hbn-folder-in-bfb]
category = "iPXE Kernel"
description = "Unzip the HBN scripts to a temp directory"
command = "unzip"
args = [
	"/tmp/bfb-dump/initramfs-tmp/doca_container_configs.zip",
	"-d",
	"temp"
]
cwd = "/tmp/bfb-dump/initramfs-tmp/doca_container_configs"

[tasks.mv-hbn-configs-to-bfb]
category = "iPXE Kernel"
description = "Add the HBN configs to the bfb"
command = "mv"
args = [
	"temp/scripts/doca_hbn/1.5.0/",
	"scripts",
]
cwd = "/tmp/bfb-dump/initramfs-tmp/doca_container_configs"

[tasks.mv-hbn-scripts-to-bfb]
category = "iPXE Kernel"
description = "Add the HBN scripts to the bfb"
command = "mv"
args = [
	"temp/configs/2.2.0/",
	"configs",
]
cwd = "/tmp/bfb-dump/initramfs-tmp/doca_container_configs"

[tasks.cleanup-hbn-scripts]
category = "iPXE Kernel"
description = "Cleanup the HBN scripts"
command = "rm"
args = [
	"-rf",
	"temp",
]
cwd = "/tmp/bfb-dump/initramfs-tmp/doca_container_configs"

[tasks.cp-forge-dpu-package-to-bfb]
category = "iPXE Kernel"
description = "Copy aarch64 EFI iPXE debian file"
command = "cp"
args = [
	"${REPO_ROOT}/bluefield/forge-dpu_${DPU_AGENT_PKG_VERSION}.deb",
	"/tmp/bfb-dump/initramfs-tmp",
]

[tasks.setup-apt-repo]
category = "iPXE Kernel"
description = "Setup apt repo for forge-dpu package"
script = '''
	mv "${REPO_ROOT}/bluefield/forge-dpu_${DPU_AGENT_PKG_VERSION}.deb" \
	"${REPO_ROOT}/pxe/static/blobs/internal/apt/pool/base/f/forge-dpu/"
	cd "${REPO_ROOT}/pxe/static/blobs/internal/apt"
	dpkg-scanpackages -m pool > dists/focal/main/binary-arm64/Packages
	cd "${REPO_ROOT}/pxe/static/blobs/internal/apt/dists/focal"
	echo "Origin: Ubuntu
Label: Ubuntu
Suite: focal
Version: 20.04
Codename: focal
Architectures: arm64
Components: main
Description: Forge apt repo" > Release
	echo "Date: `LANG=C date -Ru`" >> Release
	echo 'SHA256:' >> Release
	find main -type f | xargs -i sh -c 'printf " "$(sha256sum {} | cut -d " " -f 1)" "$(wc --bytes {} | cut -d " " -f 1)" "{}"\n"' >> Release
	cd "${REPO_ROOT}/pxe/static/blobs/internal/apt/dists/focal/main/binary-arm64"
	echo "Archive: focal
Version: 20.04
Component: main
Origin: Ubuntu
Label: Ubuntu
Architecture: arm64" > Release
'''


[tasks.bfb-copy-efi]
category = "iPXE Kernel"
description = "Copy the BFB efi kernel on aarch64 gitlab runner"
command = "cp"
args = [ "/tmp/bfb-dump/dump-image-v0", "carbide.efi"]
cwd = "static/blobs/internal/aarch64"

[tasks.bfb-remove-extracted-efi]
category = "iPXE Kernel"
description = "Remove the BFB efi kernel on aarch64 gitlab runner"
command = "rm"
args = [ "-fr", "/tmp/bfb-dump/initramfs-tmp/dump-image-v0"]

[tasks.bfb-rebuild-rootfs]
category = "iPXE Kernel"
description = "Rebuild the BFB root fs on aarch64 gitlab runner"
script = [ "find . -print0 | sudo cpio --null -o --format=newc | gzip -9 > ../dump-initramfs-v0" ]
cwd = "/tmp/bfb-dump/initramfs-tmp"

[tasks.bfb-copy-rootfs]
category = "iPXE Kernel"
description = "Copy the BFB root fs on aarch64 gitlab runner"
command = "cp"
args = [ "/tmp/bfb-dump/dump-initramfs-v0", "carbide.root"]
cwd = "static/blobs/internal/aarch64"

[tasks.container-boot-artifacts-x86_64-ci]
category = "iPXE Kernel"
description = "Pacakge x86_64 EFI ipxe kernel and rootdisk"
command = "docker"
args = ["-t", "boot-artifacts-prod-x86_64:${CI_JOB_ID}", "-f", "${CI_PROJECT_DIR}/pxe/Dockerfile", "${CI_PROJECT_DIR}/pxe"]

[tasks.container-boot-artifacts-aarch64-ci]
category = "iPXE Kernel"
description = "Pacakge aarch64 EFI ipxe kernel and rootdisk"
command = "docker"
args = ["-t", "boot-artifacts-prod-aarch64:${CI_JOB_ID}", "-f", "${CI_PROJECT_DIR}/pxe/Dockerfile", "${CI_PROJECT_DIR}/pxe"]
