[env]
BFB_LOCATION = "https://urm.nvidia.com/artifactory/list/sw-mlnx-bluefield-generic/Ubuntu20.04"
BFB_NAME = "DOCA_1.4.0_BSP_3.9.2_Ubuntu_20.04-4.hbn.4.bfb"

[tasks.build-boot-artifacts-x86_64]
dependencies = [
        "build",
        "create-ephemeral-image-x86_64-ci",
        "ipxe-x86_64",
]

[tasks.build-boot-artifacts-x86_64-ci]
dependencies = [
        "build",
        "create-ephemeral-image-x86_64-ci",
        "ipxe-x86_64",
]

[tasks.build-boot-artifacts-aarch64]
dependencies = [
	"bfb-aarch64",
	"ipxe-aarch64",
]

[tasks.build-boot-artifacts-aarch64-ci]
dependencies = [
	"bfb-aarch64",
	"ipxe-aarch64",
]

[tasks.create-ephemeral-image]
category = "Ephemeral Image"
dependencies = [
	"mkosi-generate-zipapp",
	"mkosi-clean-artifacts",
	"copy-debug-artifacts",
	"mkosi-build-image",
	"mkosi-remove-unnecessary-files",
]

[tasks.create-ephemeral-image-x86_64-ci]
category = "Ephemeral Image"
dependencies = [
	"mkosi-generate-zipapp",
	"mkosi-clean-artifacts-x86_64-ci",
	"copy-debug-artifacts",
	"mkosi-build-image-x86_64-ci",
	"mkosi-remove-unnecessary-files",
]

[tasks.copy-debug-artifacts]
category = "Copy Debug Artifacts"
command = "cp"
args = [
	"../target/debug/carbide-cli",
	"mkosi.extra/carbide/",
]

# We don't need the Disk image it creates yet
[tasks.mkosi-remove-unnecessary-files]
category = "Ephemeral Image"
command = "rm"
args = [
	"-f",
	"static/blobs/internal/x86_64/carbide",
	"static/blobs/internal/x86_64/carbide.changelog",
]

[tasks.mkosi-clean-artifacts]
category = "Ephemeral Image"
command = "sudo"
args = [
	"mkosi/builddir/mkosi",
	"--split-artifacts",
	"--output", "static/blobs/internal/x86_64/carbide",
	"clean"
]

[tasks.mkosi-build-image]
category = "Ephemeral Image"
command = "sudo"
args = [
	"mkosi/builddir/mkosi",
	"--split-artifacts",
	"--output", "static/blobs/internal/x86_64/carbide",
	"build"
]

[tasks.mkosi-clean-artifacts-x86_64-ci]
category = "Ephemeral Image"
command = "sudo"
args = [
        "mkosi/builddir/mkosi",
	"--split-artifacts",
	"--output", "static/blobs/internal/x86_64/carbide",
	"clean"
]

[tasks.mkosi-build-image-x86_64-ci]
category = "Ephemeral Image"
command = "sudo"
args = [
        "mkosi/builddir/mkosi",
	"--split-artifacts",
	"--output", "static/blobs/internal/x86_64/carbide",
	"build"
]

[tasks.mkosi-generate-zipapp]
category = "Ephemeral Image"
description = "Compile the mkosi executable from the mkosi sources"
command = "tools/generate-zipapp.sh"
cwd = "mkosi"

[tasks.ipxe-x86_64]
category = "iPXE Kernel"
description = "Build iPXE kernel for x86_64 (Legacy BIOS, EFI) and move to the carbide static webroot"
dependencies = [
	"ipxe-config",
	"ipxe-install-pcbios-x86_64",
	"ipxe-install-efi-x86_64",
  "package-boot-artifacts-x86_64",
  "upload-boot-artifacts-x86_64",
]

[tasks.ipxe-config]
category = "iPXE Kernel"
description = "Copy the Carbide specific iPXE config headers to the input directory"
script = "cp ipxe/local/*.h ipxe/upstream/src/config/local/"

[tasks.ipxe-install-pcbios-x86_64]
category = "iPXE Kernel"
description = "Copy the x86_64 Legacy BIOS iPXE kernel to the boot controller static files directory"
command = "mv"
args = ["ipxe/upstream/src/bin-x86_64-pcbios/ipxe.kpxe", "static/blobs/internal/x86_64/ipxe.kpxe"]
dependencies = [
	"ipxe-build-pcbios-x86_64",
]

[tasks.ipxe-install-efi-x86_64]
category = "iPXE Kernel"
description = "Copy the x86_64 EFI iPXE kernel to the boot controller static files directory"
command = "mv"
args = ["ipxe/upstream/src/bin-x86_64-efi/ipxe.efi", "static/blobs/internal/x86_64/ipxe.efi"]
dependencies = [
	"ipxe-build-efi-x86_64",
]

[tasks.ipxe-aarch64]
category = "iPXE Kernel"
description = "Build iPXE kernel for aarch64 (EFI) and move to the carbide static webroot"
dependencies = [
  "ipxe-config",
  "ipxe-install-efi-aarch64",
  "package-boot-artifacts-aarch64",
  "upload-boot-artifacts-aarch64",
]

[tasks.ipxe-install-efi-aarch64]
category = "iPXE Kernel"
description = "Copy the aarch64 EFI iPXE kernel to the boot controller static files directory"
command = "mv"
args = ["ipxe/upstream/src/bin-arm64-efi/ipxe.efi", "static/blobs/internal/aarch64/ipxe.efi"]
dependencies = [
	"ipxe-build-efi-aarch64",
]

[tasks.ipxe-build-pcbios-x86_64]
category = "iPXE Kernel"
description = "Build the x86_64 Legacy BIOS iPXE kernel"
command = "make"
args = [ "bin-x86_64-pcbios/ipxe.kpxe", "EMBED=../../local/embed.ipxe" ]
cwd = "ipxe/upstream/src"

[tasks.ipxe-build-efi-x86_64]
category = "iPXE Kernel"
description = "Build the x86_64 EFI iPXE kernel"
command = "make"
args = [ "bin-x86_64-efi/ipxe.efi", "EMBED=../../local/embed.ipxe"]
cwd = "ipxe/upstream/src"

[tasks.ipxe-build-efi-aarch64]
category = "iPXE Kernel"
description = "Build the aarch64 EFI iPXE kernel on aarch64 gitlab runner"
command = "make"
args = [ "bin-arm64-efi/ipxe.efi", "EMBED=../../local/embed.ipxe"]
cwd = "ipxe/upstream/src"

[tasks.bfb-aarch64]
category = "iPXE Kernel"
description = "Build iPXE kernel for aarch64 (EFI) and move to the carbide static webroot"
dependencies = [
	"bfb-cleanup-tmp",
	"bfb-create-tmp",
	"bfb-download",
	"bfbtools-download",
	"bfb-extract",
	"bfb-extract-efi",
	"bfb-extract-ubuntu",
	"bfb-copy-efi",
	"bfb-copy-rootfs",
]

[tasks.bfb-cleanup-tmp]
category = "iPXE Kernel"
description = "Download the BFB on aarch64 gitlab runner"
command = "rm"
args = [ "-rf", "/tmp/bfb-dump/initramfs-tmp" ]
cwd = "ipxe/upstream/src"

[tasks.bfb-create-tmp]
category = "iPXE Kernel"
description = "Download the BFB on aarch64 gitlab runner"
command = "mkdir"
args = [ "-p", "/tmp/bfb-dump/initramfs-tmp" ]
cwd = "ipxe/upstream/src"

[tasks.bfb-download]
category = "iPXE Kernel"
description = "Download the BFB on aarch64 gitlab runner"
command = "curl"
args = [
	"${BFB_LOCATION}/${BFB_NAME}",
	"--output",
	"${BFB_NAME}",
]
cwd = "/tmp/bfb-dump"

[tasks.bfbtools-download]
category = "iPXE Kernel"
description = "Download the BFB tools on aarch64 gitlab runner"
command = "curl"
args = [
	"https://raw.githubusercontent.com/Mellanox/bfscripts/master/mlx-mkbfb",
	"--output",
	"mlx-mkbfb",
]
cwd = "/tmp/bfb-dump"

[tasks.bfb-extract]
category = "iPXE Kernel"
description = "Extract the BFB on aarch64 gitlab runner"
command = "python3"
args = [ "mlx-mkbfb", "-x", "${BFB_NAME}" ]
cwd = "/tmp/bfb-dump"

[tasks.bfb-extract-efi]
category = "iPXE Kernel"
description = "Extract the BFB initramfs on aarch64 gitlab runner"
script = [ "gzip -d < /tmp/bfb-dump/dump-initramfs-v0 | cpio -id" ]
cwd = "/tmp/bfb-dump/initramfs-tmp"

[tasks.bfb-extract-ubuntu]
category = "iPXE Kernel"
description = "Extract the BFB ubuntu image on aarch64 gitlab runner"
command = "tar"
args = [ "-xf", "image.tar.xz"]
cwd = "/tmp/bfb-dump/initramfs-tmp/ubuntu"

[tasks.bfb-copy-efi]
category = "iPXE Kernel"
description = "Copy the BFB efi kernel on aarch64 gitlab runner"
command = "cp"
args = [ "/tmp/bfb-dump/initramfs-tmp/ubuntu/boot/vmlinuz", "carbide.efi"]
cwd = "static/blobs/internal/aarch64"

[tasks.bfb-copy-rootfs]
category = "iPXE Kernel"
description = "Copy the BFB root fs on aarch64 gitlab runner"
command = "cp"
args = [ "/tmp/bfb-dump/dump-initramfs-v0", "carbide.root"]
cwd = "static/blobs/internal/aarch64"

[tasks.package-boot-artifacts-x86_64]
category = "iPXE Kernel"
description = "Package x86_64 EFI iPXE kernel and rootdisk"
command = "tar"
args = [ "-czvf", "${CI_PROJECT_DIR}/forge-boot-artifacts-${CI_BUILD_ID}.tar.gz", "ipxe.kpxe", "ipxe.efi", "carbide.root", "carbide.efi"]
cwd = "static/blobs/internal/x86_64"

[tasks.package-boot-artifacts-aarch64]
category = "iPXE Kernel"
description = "Package aarch64 EFI iPXE kernel and rootdisk"
command = "tar"
args = [ "-czvf", "${CI_PROJECT_DIR}/forge-boot-artifacts-${CI_BUILD_ID}.tar.gz", "ipxe.efi", "carbide.root", "carbide.efi",]
cwd = "static/blobs/internal/aarch64"

[tasks.upload-boot-artifacts-x86_64]
category = "iPXE Kernel"
description = "Upload x86_64 EFI iPXE kernel and rootdisk"
command = "/usr/local/bin/jfrog"
args = [ "rt", "u", "${CI_PROJECT_DIR}/forge-boot-artifacts-${CI_BUILD_ID}.tar.gz", "swngc-ngcc-generic-local/nvmetal/boot-artifacts/x86_64/forge-boot-artifacts-${CI_BUILD_ID}.tar.gz"]
dependencies = [
  "package-boot-artifacts-x86_64"
]

[tasks.upload-boot-artifacts-aarch64]
category = "iPXE Kernel"
description = "Upload aarch64 EFI iPXE kernel and rootdisk"
command = "/usr/local/bin/jfrog"
args = [ "rt", "u", "${CI_PROJECT_DIR}/forge-boot-artifacts-${CI_BUILD_ID}.tar.gz", "swngc-ngcc-generic-local/nvmetal/boot-artifacts/aarch64/forge-boot-artifacts-${CI_BUILD_ID}.tar.gz"]
dependencies = [
  "package-boot-artifacts-aarch64"
]
