[tasks.build-boot-artifacts]
dependencies = [
	"build",
	"create-ephemeral-image",
	"ipxe",
]

[tasks.create-ephemeral-image]
category = "Ephemeral Image"
dependencies = [
	"mkosi-generate-zipapp",
	"mkosi-clean-artifacts",
	"copy-debug-artifacts",
	"mkosi-build-image",
	"mkosi-remove-unnecessary-files",
]

[tasks.copy-debug-artifacts]
category = "Copy Debug Artifacts"
command = "cp"
args = [
	"../target/debug/carbide-cli",
	"mkosi.extra/carbide/",
]

# We don't need the Disk image it creates yet
[tasks.mkosi-remove-unnecessary-files]
category = "Ephemeral Image"
command = "rm"
args = [
	"-f",
	"static/blobs/internal/x86_64/carbide",
	"static/blobs/internal/x86_64/carbide.changelog",
]

[tasks.mkosi-clean-artifacts]
category = "Ephemeral Image"
command = "sudo"
args = [
	"mkosi/builddir/mkosi",
	"--split-artifacts",
	"--output", "static/blobs/internal/x86_64/carbide",
	"clean"
]

[tasks.mkosi-build-image]
category = "Ephemeral Image"
command = "sudo"
args = [
	"mkosi/builddir/mkosi",
	"--split-artifacts",
	"--output", "static/blobs/internal/x86_64/carbide",
	"build"
]

[tasks.mkosi-generate-zipapp]
category = "Ephemeral Image"
description = "Compile the mkosi executable from the mkosi sources"
command = "tools/generate-zipapp.sh"
cwd = "mkosi"

[tasks.ipxe]
category = "iPXE Kernel"
description = "Build iPXE kernel for x86_64 (Legacy BIOS, EFI) and aarch64 (EFI), and move to the carbide static webroot"
dependencies = [
	"ipxe-config",
	"ipxe-install-pcbios-x86_64",
	"ipxe-install-efi-x86_64",
	"ipxe-install-efi-arm64",
]

[tasks.ipxe-config]
category = "iPXE Kernel"
description = "Copy the Carbide specific iPXE config headers to the input directory"
script = "cp ipxe/local/*.h ipxe/upstream/src/config/local/"

[tasks.ipxe-install-pcbios-x86_64]
category = "iPXE Kernel"
description = "Copy the x86_64 Legacy BIOS iPXE kernel to the boot controller static files directory"
command = "mv"
args = ["ipxe/upstream/src/bin-x86_64-pcbios/ipxe.kpxe", "static/blobs/internal/x86_64/ipxe.kpxe"]
dependencies = [
	"ipxe-build-pcbios-x86_64",
]

[tasks.ipxe-install-efi-x86_64]
category = "iPXE Kernel"
description = "Copy the x86_64 EFI iPXE kernel to the boot controller static files directory"
command = "mv"
args = ["ipxe/upstream/src/bin-x86_64-efi/ipxe.efi", "static/blobs/internal/x86_64/ipxe.efi"]
dependencies = [
	"ipxe-build-efi-x86_64",
]

[tasks.ipxe-install-efi-arm64]
category = "iPXE Kernel"
description = "Copy the aarch64 EFI iPXE kernel to the boot controller static files directory"
command = "mv"
args = ["ipxe/upstream/src/bin-arm64-efi/ipxe.efi", "static/blobs/internal/aarch64/ipxe.efi"]
dependencies = [
	"ipxe-build-efi-arm64",
]

[tasks.ipxe-build-pcbios-x86_64]
category = "iPXE Kernel"
description = "Build the x86_64 Legacy BIOS iPXE kernel"
command = "make"
args = [ "bin-x86_64-pcbios/ipxe.kpxe", "EMBED=../../local/embed.ipxe" ]
cwd = "ipxe/upstream/src"

[tasks.ipxe-build-efi-x86_64]
category = "iPXE Kernel"
description = "Build the x86_64 EFI iPXE kernel"
command = "make"
args = [ "bin-x86_64-efi/ipxe.efi", "EMBED=../../local/embed.ipxe"]
cwd = "ipxe/upstream/src"

[tasks.ipxe-build-efi-arm64]
category = "iPXE Kernel"
description = "Build the aarch64 EFI iPXE kernel"
env = { "CROSS_COMPILE" = "aarch64-linux-gnu-", "ARCH" = "arm64", CC="aarch64-linux-gnu-gcc-11" }
command = "make"
args = [ "bin-arm64-efi/ipxe.efi", "EMBED=../../local/embed.ipxe"]
cwd = "ipxe/upstream/src"
