# SPDX-FileCopyrightText: Copyright (c) 2021-2022 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: LicenseRef-NvidiaProprietary
#
# NVIDIA CORPORATION, its affiliates and licensors retain all intellectual
# property and proprietary rights in and to this material, related
# documentation and any modifications thereto. Any use, reproduction,
# disclosure or distribution of this material and related documentation
# without an express license agreement from NVIDIA CORPORATION or
# its affiliates is strictly prohibited.
[tasks.setup-forge-dpu-deb]
category = "Build"
workspace = false
script = '''
	vers=$(grep Version misc/DEBIAN/control | cut -d : -f 2 | sed s/\ //g) && \
	export vers && \
	mkdir -p "forge-dpu_${vers}/lib/systemd/system" && \
	mkdir -p "forge-dpu_${vers}/usr/bin" && \
	cp misc/local_bmc_dev "forge-dpu_${vers}/usr/bin/" && \
	cp misc/local_bmc_dev.service "forge-dpu_${vers}/lib/systemd/system/" && \
	cp -r misc/DEBIAN "forge-dpu_${vers}/"
'''

[tasks.build-forge-dpu-deb]
category = "Build"
description = "Build the forge-dpu.deb package"
workspace = false
script = '''
	vers=$(grep Version misc/DEBIAN/control | cut -d : -f 2 | sed s/\ //g) && \
	export vers && \
	dpkg-deb --build forge-dpu_${vers}
'''
dependencies = [
	"setup-forge-dpu-deb"
]
