# SPDX-FileCopyrightText: Copyright (c) 2021-2023 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: LicenseRef-NvidiaProprietary
#
# NVIDIA CORPORATION, its affiliates and licensors retain all intellectual
# property and proprietary rights in and to this material, related
# documentation and any modifications thereto. Any use, reproduction,
# disclosure or distribution of this material and related documentation
# without an express license agreement from NVIDIA CORPORATION or
# its affiliates is strictly prohibited.

[env]
# e.g. 2024.05.24-rc1-0-0-g786e94757
DPU_AGENT_PKG_VERSION = { script = [
  "echo $(git describe --tags --first-parent --always --long | cut -c 2-)",
] }

[tasks.cleanup-local-pkg-files]
category = "Build"
workspace = false
description = "clean up locally built forge-dpu-agent files"
script = '''
  echo Removing locally built forge-dpu-agent files ...
  rm -rf forge-dpu_*
  echo Cleanup completed.
'''

[tasks.cleanup-custom-otelcol-build]
category = "Build"
workspace = false
description = "cleaup custom OpenTelemetry collector build"
script = '''
  echo Cleaning up custom OpenTelemetry collector build ...
  rm -f ${REPO_ROOT}/bluefield/otel/ocb
  rm -f ${REPO_ROOT}/bluefield/otel/ocb_config.yaml
  rm -rf ${REPO_ROOT}/bluefield/otel/ocb-build
  echo Cleanup completed.
'''
dependencies = ["cleanup-go"]

[tasks.clean]
dependencies = ["cleanup-local-pkg-files", "cleanup-custom-otelcol-build"]

[tasks.build-dpu-agent]
category = "Build"
description = "cross compile forge-dpu-agent locally"
workspace = false
script = '''
docker run --rm -v $REPO_ROOT:/carbide --user $(id -u):$(id -g) \
    --env CARGO_HOME=/cargo \
    -v $CARGO_HOME:/cargo \
    build-artifacts-container-cross-aarch64:latest \
    "cargo" \
    "build" \
    "--release" \
    "--target=aarch64-unknown-linux-gnu" \
    "--bin" \
    "forge-dpu-agent"
docker run --rm -v $REPO_ROOT:/carbide --user $(id -u):$(id -g) build-artifacts-container-cross-aarch64:latest "aarch64-linux-gnu-strip" \
    "/carbide/target/aarch64-unknown-linux-gnu/release/forge-dpu-agent" \
'''
dependencies = [
  { name = "build-cross-docker-image", path = "${REPO_ROOT}" },
  { name = "check-cargo-home-set", path = "${REPO_ROOT}" },
]

[tasks.build-dpu-agent-ci]
category = "Build"
workspace = false
description = "Referring to the prebuilt 'build' task doesn't work here, since it always tries to build the full workspace - including targets that are not aarch64 compatible"
command = "cargo"
args = ["build", "--bin", "forge-dpu-agent"]

[tasks.download-otelcol-builder]
category = "Build"
description = "Download ocb binary (custom otelcol builder)"
workspace = false
script = '''
  cd ${REPO_ROOT}/bluefield/otel
  PLATFORM=$(uname -m | sed 's/x86_64/amd64/' | sed 's/aarch64/arm64/')
  VERSION=$(cat otelcol_version.txt)
  URL=$(sed -e "s/\${PLATFORM}/${PLATFORM}/g" -e "s/\${VERSION}/${VERSION}/g" ocb_url.txt)
  rm -f ocb
  curl --retry 5 --proto '=https' --tlsv1.2 -fL -o ocb -C - $URL
  chmod +x ocb
'''

[tasks.cleanup-go]
category = "Build"
description = "Cleanup go"
workspace = false
script = '''
  GOPATH="${REPO_ROOT}/bluefield/otel/go"
  chmod -R u+w ${GOPATH} 2>/dev/null || true
  rm -rf ${GOPATH}
'''

[tasks.download-go]
category = "Build"
description = "Download go"
workspace = false
condition = { files_not_exist = ["{REPO_ROOT}/bluefield/otel/go"] }
script = '''
  GO_VERSION="1.22.0"
  PLATFORM=$(uname -m | sed 's/x86_64/amd64/' | sed 's/aarch64/arm64/')
  TARFILE=go${GO_VERSION}.linux-${PLATFORM}.tar.gz
  OTEL=${REPO_ROOT}/bluefield/otel
  URL=https://golang.org/dl/${TARFILE}
  wget -q $URL --directory-prefix=${OTEL} --tries=5 --continue --timeout=30
  tar -C ${OTEL} -xzf ${OTEL}/${TARFILE}
  rm ${OTEL}/${TARFILE}
'''

[tasks.check-otelcol-builder]
category = "Build"
description = "Check for ocb binary"
condition = { files_modified = { input = [
  "${REPO_ROOT}/bluefield/otel/ocb_url.txt",
  "${REPO_ROOT}/bluefield/otel/otelcol_version.txt",
], output = [
  "${REPO_ROOT}/bluefield/otel/ocb",
] } }
run_task = "download-otelcol-builder"

[tasks.build-otelcol]
category = "Build"
description = "Build custom OpenTelemetry collector for running on ARM DPU"
workspace = false
script = '''
  OTEL=${REPO_ROOT}/bluefield/otel
  cd ${OTEL}
  VERSION=$(cat otelcol_version.txt)
  sed -e "s/\${VERSION}/${VERSION}/g" otelcol_builder_config_yaml.txt > ocb_config.yaml
  export GOROOT="${OTEL}/go"
  export PATH="${GOROOT}/bin:${PATH}"
  export GOPATH="${GOROOT}/gopath"
  export GOCACHE="${GOROOT}/gocache"
  GOOS=linux GOARCH=arm64 ./ocb --config ocb_config.yaml
  rm ocb_config.yaml
'''
dependencies = ["check-otelcol-builder", "download-go"]

[tasks.build-otelcol-and-clean]
dependencies = ["build-otelcol", "cleanup-go"]

[tasks.stage-otelcol]
category = "Build"
description = "Stage the custom otelcol-contrib binary"
workspace = false
script = '''
  export vers=${DPU_AGENT_PKG_VERSION}
  export bin=${REPO_ROOT}/bluefield/forge-dpu_${vers}/usr/bin
  mkdir -p $bin
  mv ${REPO_ROOT}/bluefield/otel/ocb-build/otelcol-contrib ${bin}
'''
dependencies = ["build-otelcol-and-clean"]

[tasks.stage-otelcol-and-clean]
dependencies = ["stage-otelcol", "cleanup-custom-otelcol-build"]

[tasks.include-otelcol]
category = "Build"
description = "Include otelcol-contrib binary in forge-dpu-agent.deb package"
workspace = false
condition = { files_modified = { input = [
  "${REPO_ROOT}/bluefield/Makefile.toml",
  "${REPO_ROOT}/bluefield/otel/ocb_url.txt",
  "${REPO_ROOT}/bluefield/otel/otelcol_version.txt",
  "${REPO_ROOT}/bluefield/otel/fileresourceprocessor/go.mod",
  "${REPO_ROOT}/bluefield/otel/fileresourceprocessor/config.go",
  "${REPO_ROOT}/bluefield/otel/fileresourceprocessor/factory.go",
  "${REPO_ROOT}/bluefield/otel/fileresourceprocessor/fileresourceprocessor.go",
], output = [
  "${REPO_ROOT}/bluefield/forge-dpu_${DPU_AGENT_PKG_VERSION}/usr/bin/otelcol-contrib",
] } }
run_task = "stage-otelcol-and-clean"

[tasks.setup-dpu-agent-deb-local]
category = "Build"
description = "Build the forge-dpu-agent.deb package locally"
workspace = false
script = '''
  export vers=${DPU_AGENT_PKG_VERSION}
  mkdir -p "forge-dpu_${vers}/lib/systemd/system"
  mkdir -p "forge-dpu_${vers}/usr/bin"
  mkdir -p "forge-dpu_${vers}/var/lib/hbn/var/support/forge-dhcp/bin"
  mkdir -p "forge-dpu_${vers}/var/lib/hbn/var/support/forge-dhcp/conf"
  mkdir -p "forge-dpu_${vers}/var/lib/hbn/var/support/forge-dhcp/logs"
  mkdir -p "forge-dpu_${vers}/etc/otelcol-contrib"
  mkdir -p "forge-dpu_${vers}/var/lib/otelcol-contrib/cursors"
  mkdir -p "forge-dpu_${vers}/etc/otelcol-contrib/fd_configs"
  cp ${REPO_ROOT}/target/aarch64-unknown-linux-gnu/release/forge-dpu-agent "forge-dpu_${vers}/usr/bin/"
  cp ${REPO_ROOT}/target/aarch64-unknown-linux-gnu/release/forge-dhcp-server "forge-dpu_${vers}/var/lib/hbn/var/support/forge-dhcp/bin/"
  cp misc/forge-dpu-agent.service "forge-dpu_${vers}/lib/systemd/system/"
  cp misc/clean_core_files.sh "forge-dpu_${vers}/usr/bin/" && chmod u+x "forge-dpu_${vers}/usr/bin/clean_core_files.sh"
  cp misc/local_bmc_dev "forge-dpu_${vers}/usr/bin/"
  cp misc/local_bmc_dev.service "forge-dpu_${vers}/lib/systemd/system/"
  cp misc/otelcol-contrib.service "forge-dpu_${vers}/lib/systemd/system/"
  cp otel/otel_config.yaml "forge-dpu_${vers}/etc/otelcol-contrib/config.yaml"
  cp -r misc/DEBIAN "forge-dpu_${vers}/"
  sed -i "s/SED__DPU_AGENT_PKG_VERSION/${vers}/" forge-dpu_${vers}/DEBIAN/control
'''
dependencies = [
  "build-dpu-agent",
  { name = "build-dhcp-server", path = "${REPO_ROOT}/dhcp-server" },
  "include-otelcol",
]

[tasks.setup-forge-dpu-deb]
category = "Build"
workspace = false
script = '''
    export vers=${DPU_AGENT_PKG_VERSION}
    mkdir -p "forge-dpu_${vers}/lib/systemd/system"
    mkdir -p "forge-dpu_${vers}/usr/bin"
    mkdir -p "forge-dpu_${vers}/var/lib/hbn/var/support/forge-dhcp/bin"
    mkdir -p "forge-dpu_${vers}/var/lib/hbn/var/support/forge-dhcp/conf"
    mkdir -p "forge-dpu_${vers}/var/lib/hbn/var/support/forge-dhcp/logs"
    mkdir -p "forge-dpu_${vers}/etc/otelcol-contrib"
    mkdir -p "forge-dpu_${vers}/var/lib/otelcol-contrib/cursors"
    mkdir -p "forge-dpu_${vers}/etc/otelcol-contrib/fd_configs"
    cp ${REPO_ROOT}/target/debug/forge-dpu-agent "forge-dpu_${vers}/usr/bin/"
    cp ${REPO_ROOT}/target/debug/forge-dhcp-server "forge-dpu_${vers}/var/lib/hbn/var/support/forge-dhcp/bin/"
    cp misc/forge-dpu-agent.service "forge-dpu_${vers}/lib/systemd/system/"
    cp misc/clean_core_files.sh "forge-dpu_${vers}/usr/bin/" && chmod u+x "forge-dpu_${vers}/usr/bin/clean_core_files.sh"
    cp misc/local_bmc_dev "forge-dpu_${vers}/usr/bin/"
    cp misc/local_bmc_dev.service "forge-dpu_${vers}/lib/systemd/system/"
    cp misc/otelcol-contrib.service "forge-dpu_${vers}/lib/systemd/system/"
    cp otel/otel_config.yaml "forge-dpu_${vers}/etc/otelcol-contrib/config.yaml"
    cp -r misc/DEBIAN "forge-dpu_${vers}/"
	sed -i "s/SED__DPU_AGENT_PKG_VERSION/${vers}/" forge-dpu_${vers}/DEBIAN/control
'''
dependencies = [
  "build-dpu-agent-ci",
  { name = "build-dhcp-server-ci", path = "${REPO_ROOT}/dhcp-server" },
  "include-otelcol",
]

[tasks.setup-forge-dpu-deb-ci]
category = "Build"
workspace = false
script = '''
    export vers=${DPU_AGENT_PKG_VERSION}
    mkdir -p "forge-dpu_${vers}/lib/systemd/system"
    mkdir -p "forge-dpu_${vers}/usr/bin"
    mkdir -p "forge-dpu_${vers}/var/lib/hbn/var/support/forge-dhcp/bin"
    mkdir -p "forge-dpu_${vers}/var/lib/hbn/var/support/forge-dhcp/conf"
    mkdir -p "forge-dpu_${vers}/var/lib/hbn/var/support/forge-dhcp/logs"
    mkdir -p "forge-dpu_${vers}/etc/otelcol-contrib"
    mkdir -p "forge-dpu_${vers}/var/lib/otelcol-contrib/cursors"
    mkdir -p "forge-dpu_${vers}/etc/otelcol-contrib/fd_configs"
    cp ${REPO_ROOT}/target/debug/forge-dpu-agent "forge-dpu_${vers}/usr/bin/"
    cp ${REPO_ROOT}/target/debug/forge-dhcp-server "forge-dpu_${vers}/var/lib/hbn/var/support/forge-dhcp/bin/"
    cp misc/forge-dpu-agent.service "forge-dpu_${vers}/lib/systemd/system/"
    cp misc/clean_core_files.sh "forge-dpu_${vers}/usr/bin/" && chmod u+x "forge-dpu_${vers}/usr/bin/clean_core_files.sh"
    cp misc/local_bmc_dev "forge-dpu_${vers}/usr/bin/"
    cp misc/local_bmc_dev.service "forge-dpu_${vers}/lib/systemd/system/"
    cp misc/otelcol-contrib.service "forge-dpu_${vers}/lib/systemd/system/"
    cp otel/otel_config.yaml "forge-dpu_${vers}/etc/otelcol-contrib/config.yaml"
    cp -r misc/DEBIAN "forge-dpu_${vers}/"
	sed -i "s/SED__DPU_AGENT_PKG_VERSION/${vers}/" forge-dpu_${vers}/DEBIAN/control
'''
dependencies = [
  "build-dpu-agent-ci",
  { name = "build-dhcp-server-ci", path = "${REPO_ROOT}/dhcp-server" },
  "include-otelcol",
]

[tasks.build-forge-dpu-deb-local]
category = "Build"
description = "Build the forge-dpu.deb package locally"
workspace = false
script = '''
    dpkg-deb --build forge-dpu_${DPU_AGENT_PKG_VERSION}
'''
dependencies = ["setup-dpu-agent-deb-local"]

[tasks.build-forge-dpu-deb]
category = "Build"
description = "Build the forge-dpu.deb package"
workspace = false
script = '''
    dpkg-deb --build forge-dpu_${DPU_AGENT_PKG_VERSION}
'''
dependencies = ["setup-forge-dpu-deb"]

[tasks.build-forge-dpu-deb-ci]
category = "Build"
description = "Build the forge-dpu.deb package"
workspace = false
script = '''
    dpkg-deb --build forge-dpu_${DPU_AGENT_PKG_VERSION}
'''
dependencies = ["setup-forge-dpu-deb-ci"]
