# SPDX-FileCopyrightText: Copyright (c) 2021-2023 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: LicenseRef-NvidiaProprietary
#
# NVIDIA CORPORATION, its affiliates and licensors retain all intellectual
# property and proprietary rights in and to this material, related
# documentation and any modifications thereto. Any use, reproduction,
# disclosure or distribution of this material and related documentation
# without an express license agreement from NVIDIA CORPORATION or
# its affiliates is strictly prohibited.

[env]
# e.g. 2023.09-72-g1641d986
DPU_AGENT_PKG_VERSION = { script = [
  "echo $(git describe --tags --first-parent --always | cut -c 2-)",
] }

[tasks.build-dpu-agent]
category = "Build"
description = "cross compile forge-dpu-agent locally"
workspace = false
script = '''
cross build --bin forge-dpu-agent --target aarch64-unknown-linux-gnu --release
# Install package `binutils-aarch64-linux-gnu` to get this one
if command -v aarch64-linux-gnu-strip >/dev/null 2>&1; then
	aarch64-linux-gnu-strip ${REPO_ROOT}/target/aarch64-unknown-linux-gnu/release/forge-dpu-agent
fi
'''
dependencies = [
  { name = "check-cross-installed", path = "${REPO_ROOT}" },
  { name = "build-cross-docker-image", path = "${REPO_ROOT}" },
]

[tasks.build-dpu-agent-ci]
category = "Build"
workspace = false
description = "Referring to the prebuilt 'build' task doesn't work here, since it always tries to build the full workspace - including targets that are not aarch64 compatible"
command = "cargo"
args = ["build", "--bin", "forge-dpu-agent"]

[tasks.setup-dpu-agent-deb-local]
category = "Build"
description = "Build the forge-dpu-agent.deb package locally"
workspace = false
script = '''
  export vers=${DPU_AGENT_PKG_VERSION}
  mkdir -p "forge-dpu_${vers}/lib/systemd/system"
  mkdir -p "forge-dpu_${vers}/usr/bin"
  mkdir -p "forge-dpu_${vers}/var/lib/hbn/var/support/forge-dhcp/bin"
  mkdir -p "forge-dpu_${vers}/var/lib/hbn/var/support/forge-dhcp/conf"
  mkdir -p "forge-dpu_${vers}/var/lib/hbn/var/support/forge-dhcp/logs"
  cp ${REPO_ROOT}/target/aarch64-unknown-linux-gnu/release/forge-dpu-agent "forge-dpu_${vers}/usr/bin/"
  cp ${REPO_ROOT}/target/aarch64-unknown-linux-gnu/debug/forge-dhcp-server "forge-dpu_${vers}/var/lib/hbn/var/support/forge-dhcp/bin/"
  cp misc/forge-dpu-agent.service "forge-dpu_${vers}/lib/systemd/system/"
  cp misc/clean_core_files.sh "forge-dpu_${vers}/usr/bin/" && chmod u+x "forge-dpu_${vers}/usr/bin/clean_core_files.sh"
  cp misc/local_bmc_dev "forge-dpu_${vers}/usr/bin/"
  cp misc/local_bmc_dev.service "forge-dpu_${vers}/lib/systemd/system/"
  cp -r misc/DEBIAN "forge-dpu_${vers}/"
  sed -i "s/SED__DPU_AGENT_PKG_VERSION/${vers}/" forge-dpu_${vers}/DEBIAN/control
'''
dependencies = [
  "build-dpu-agent",
  { name = "build-dhcp-server", path = "${REPO_ROOT}/dhcp-server" },
]

[tasks.setup-forge-dpu-deb]
category = "Build"
workspace = false
script = '''
    export vers=${DPU_AGENT_PKG_VERSION}
    mkdir -p "forge-dpu_${vers}/lib/systemd/system"
    mkdir -p "forge-dpu_${vers}/usr/bin"
    mkdir -p "forge-dpu_${vers}/var/lib/hbn/var/support/forge-dhcp/bin"
    mkdir -p "forge-dpu_${vers}/var/lib/hbn/var/support/forge-dhcp/conf"
    mkdir -p "forge-dpu_${vers}/var/lib/hbn/var/support/forge-dhcp/logs"
    cp ${REPO_ROOT}/target/debug/forge-dpu-agent "forge-dpu_${vers}/usr/bin/"
    cp ${REPO_ROOT}/target/debug/forge-dhcp-server "forge-dpu_${vers}/var/lib/hbn/var/support/forge-dhcp/bin/"
    cp misc/forge-dpu-agent.service "forge-dpu_${vers}/lib/systemd/system/"
    cp misc/clean_core_files.sh "forge-dpu_${vers}/usr/bin/" && chmod u+x "forge-dpu_${vers}/usr/bin/clean_core_files.sh"
    cp misc/local_bmc_dev "forge-dpu_${vers}/usr/bin/"
    cp misc/local_bmc_dev.service "forge-dpu_${vers}/lib/systemd/system/"
    cp -r misc/DEBIAN "forge-dpu_${vers}/"
	sed -i "s/SED__DPU_AGENT_PKG_VERSION/${vers}/" forge-dpu_${vers}/DEBIAN/control
'''
dependencies = [
  "build-dpu-agent-ci",
  { name = "build-dhcp-server-ci", path = "${REPO_ROOT}/dhcp-server" },
]

[tasks.setup-forge-dpu-deb-ci]
category = "Build"
workspace = false
script = '''
    export vers=${DPU_AGENT_PKG_VERSION}
    mkdir -p "forge-dpu_${vers}/lib/systemd/system"
    mkdir -p "forge-dpu_${vers}/usr/bin"
    mkdir -p "forge-dpu_${vers}/var/lib/hbn/var/support/forge-dhcp/bin"
    mkdir -p "forge-dpu_${vers}/var/lib/hbn/var/support/forge-dhcp/conf"
    mkdir -p "forge-dpu_${vers}/var/lib/hbn/var/support/forge-dhcp/logs"
    cp ${REPO_ROOT}/target/debug/forge-dpu-agent "forge-dpu_${vers}/usr/bin/"
    cp ${REPO_ROOT}/target/debug/forge-dhcp-server "forge-dpu_${vers}/var/lib/hbn/var/support/forge-dhcp/bin/"
    cp misc/forge-dpu-agent.service "forge-dpu_${vers}/lib/systemd/system/"
    cp misc/clean_core_files.sh "forge-dpu_${vers}/usr/bin/" && chmod u+x "forge-dpu_${vers}/usr/bin/clean_core_files.sh"
    cp misc/local_bmc_dev "forge-dpu_${vers}/usr/bin/"
    cp misc/local_bmc_dev.service "forge-dpu_${vers}/lib/systemd/system/"
    cp -r misc/DEBIAN "forge-dpu_${vers}/"
	sed -i "s/SED__DPU_AGENT_PKG_VERSION/${vers}/" forge-dpu_${vers}/DEBIAN/control
'''
dependencies = [
  "build-dpu-agent-ci",
  { name = "build-dhcp-server-ci", path = "${REPO_ROOT}/dhcp-server" },
]

[tasks.build-forge-dpu-deb-local]
category = "Build"
description = "Build the forge-dpu.deb package locally"
workspace = false
script = '''
    dpkg-deb --build forge-dpu_${DPU_AGENT_PKG_VERSION}
'''
dependencies = ["setup-dpu-agent-deb-local"]

[tasks.build-forge-dpu-deb]
category = "Build"
description = "Build the forge-dpu.deb package"
workspace = false
script = '''
    dpkg-deb --build forge-dpu_${DPU_AGENT_PKG_VERSION}
'''
dependencies = ["setup-forge-dpu-deb"]

[tasks.build-forge-dpu-deb-ci]
category = "Build"
description = "Build the forge-dpu.deb package"
workspace = false
script = '''
    dpkg-deb --build forge-dpu_${DPU_AGENT_PKG_VERSION}
'''
dependencies = ["setup-forge-dpu-deb-ci"]
