# SPDX-FileCopyrightText: Copyright (c) 2021-2023 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: LicenseRef-NvidiaProprietary
#
# NVIDIA CORPORATION, its affiliates and licensors retain all intellectual
# property and proprietary rights in and to this material, related
# documentation and any modifications thereto. Any use, reproduction,
# disclosure or distribution of this material and related documentation
# without an express license agreement from NVIDIA CORPORATION or
# its affiliates is strictly prohibited.

[env]
# e.g. 2024.05.24-rc1-0-0-g786e94757
DPU_AGENT_PKG_VERSION = { script = [
  "echo $(git describe --tags --first-parent --always --long | cut -c 2-)",
] }

[tasks.cleanup-local-pkg-files]
category = "Build"
workspace = false
description = "clean up locally built forge-dpu-agent files"
script = '''
  echo Removing locally built forge-dpu-agent files ...
  rm -rf forge-dpu_*
  echo Cleanup completed.
'''

[tasks.clean]
dependencies = ["cleanup-local-pkg-files"]

[tasks.build-dpu-agent]
category = "Build"
description = "cross compile forge-dpu-agent locally"
workspace = false
script = '''
docker run --rm -v $REPO_ROOT:/carbide --user $(id -u):$(id -g) \
    --env CARGO_HOME=/cargo \
    -v $CARGO_HOME:/cargo \
    build-artifacts-container-cross-aarch64 \
    "cargo" \
    "build" \
    "--release" \
    "--target=aarch64-unknown-linux-gnu" \
    "--bin" \
    "forge-dpu-agent"
docker run --rm -v $REPO_ROOT:/carbide --user $(id -u):$(id -g) build-artifacts-container-cross-aarch64 "aarch64-linux-gnu-strip" \
    "/carbide/target/aarch64-unknown-linux-gnu/release/forge-dpu-agent" \
'''
dependencies = [
  { name = "build-cross-docker-image", path = "${REPO_ROOT}" },
  { name = "check-cargo-home-set", path = "${REPO_ROOT}" },
]

[tasks.build-dpu-agent-ci]
category = "Build"
workspace = false
description = "Referring to the prebuilt 'build' task doesn't work here, since it always tries to build the full workspace - including targets that are not aarch64 compatible"
command = "cargo"
args = ["build", "--bin", "forge-dpu-agent"]

[tasks.download-otelcol]
category = "Build"
description = "Download otelcol-contrib"
workspace = false
command = "wget"
args = [
    "--input-file=${REPO_ROOT}/bluefield/otel/wget_otelcol_url",
    "--directory-prefix=${REPO_ROOT}/bluefield/otel",
    "--tries=5",
    "--continue",
]

[tasks.extract-otelcol]
category = "Build"
description = "Extract and stage the downloaded otelcol-contrib binary"
workspace = false
script = '''
  export vers=${DPU_AGENT_PKG_VERSION}
  export otelcol=`cat ${REPO_ROOT}/bluefield/otel/wget_otelcol_url | sed 's#.*/##'`
  mkdir -p "forge-dpu_${vers}/usr/bin"
  tar xzf otel/${otelcol} -C otel otelcol-contrib
  cp otel/otelcol-contrib "forge-dpu_${vers}/usr/bin/"
  rm otel/otelcol-contrib
  rm otel/${otelcol}
'''
dependencies = [
  "download-otelcol",
]

[tasks.stage-otelcol]
category = "Build"
description = "Stage the inclusion of otelcol-contrib binary in forge-dpu-agent.deb package"
condition = { files_modified = { input = [
  "${REPO_ROOT}/bluefield/Makefile.toml",
  "${REPO_ROOT}/bluefield/otel/wget_otelcol_url",
], output = [
  "${REPO_ROOT}/bluefield/forge-dpu_${DPU_AGENT_PKG_VERSION}/usr/bin/otelcol-contrib",
] } }
run_task = "extract-otelcol"

[tasks.setup-dpu-agent-deb-local]
category = "Build"
description = "Build the forge-dpu-agent.deb package locally"
workspace = false
script = '''
  export vers=${DPU_AGENT_PKG_VERSION}
  mkdir -p "forge-dpu_${vers}/lib/systemd/system"
  mkdir -p "forge-dpu_${vers}/usr/bin"
  mkdir -p "forge-dpu_${vers}/var/lib/hbn/var/support/forge-dhcp/bin"
  mkdir -p "forge-dpu_${vers}/var/lib/hbn/var/support/forge-dhcp/conf"
  mkdir -p "forge-dpu_${vers}/var/lib/hbn/var/support/forge-dhcp/logs"
  mkdir -p "forge-dpu_${vers}/etc/otelcol-contrib"
  mkdir -p "forge-dpu_${vers}/var/lib/otelcol-contrib/cursors"
  mkdir -p "forge-dpu_${vers}/etc/otelcol-contrib/fd_configs"
  cp ${REPO_ROOT}/target/aarch64-unknown-linux-gnu/release/forge-dpu-agent "forge-dpu_${vers}/usr/bin/"
  cp ${REPO_ROOT}/target/aarch64-unknown-linux-gnu/release/forge-dhcp-server "forge-dpu_${vers}/var/lib/hbn/var/support/forge-dhcp/bin/"
  cp misc/forge-dpu-agent.service "forge-dpu_${vers}/lib/systemd/system/"
  cp misc/clean_core_files.sh "forge-dpu_${vers}/usr/bin/" && chmod u+x "forge-dpu_${vers}/usr/bin/clean_core_files.sh"
  cp misc/local_bmc_dev "forge-dpu_${vers}/usr/bin/"
  cp misc/local_bmc_dev.service "forge-dpu_${vers}/lib/systemd/system/"
  cp misc/otelcol-contrib.service "forge-dpu_${vers}/lib/systemd/system/"
  cp misc/prometheus_fd_discovery "forge-dpu_${vers}/usr/bin"
  cp otel/otel_config.yaml "forge-dpu_${vers}/etc/otelcol-contrib/config.yaml"
  cp -r misc/DEBIAN "forge-dpu_${vers}/"
  sed -i "s/SED__DPU_AGENT_PKG_VERSION/${vers}/" forge-dpu_${vers}/DEBIAN/control
'''
dependencies = [
  "build-dpu-agent",
  { name = "build-dhcp-server", path = "${REPO_ROOT}/dhcp-server" },
  "stage-otelcol"
]

[tasks.setup-forge-dpu-deb]
category = "Build"
workspace = false
script = '''
    export vers=${DPU_AGENT_PKG_VERSION}
    mkdir -p "forge-dpu_${vers}/lib/systemd/system"
    mkdir -p "forge-dpu_${vers}/usr/bin"
    mkdir -p "forge-dpu_${vers}/var/lib/hbn/var/support/forge-dhcp/bin"
    mkdir -p "forge-dpu_${vers}/var/lib/hbn/var/support/forge-dhcp/conf"
    mkdir -p "forge-dpu_${vers}/var/lib/hbn/var/support/forge-dhcp/logs"
    mkdir -p "forge-dpu_${vers}/etc/otelcol-contrib"
    mkdir -p "forge-dpu_${vers}/var/lib/otelcol-contrib/cursors"
    mkdir -p "forge-dpu_${vers}/etc/otelcol-contrib/fd_configs"
    cp ${REPO_ROOT}/target/debug/forge-dpu-agent "forge-dpu_${vers}/usr/bin/"
    cp ${REPO_ROOT}/target/debug/forge-dhcp-server "forge-dpu_${vers}/var/lib/hbn/var/support/forge-dhcp/bin/"
    cp misc/forge-dpu-agent.service "forge-dpu_${vers}/lib/systemd/system/"
    cp misc/clean_core_files.sh "forge-dpu_${vers}/usr/bin/" && chmod u+x "forge-dpu_${vers}/usr/bin/clean_core_files.sh"
    cp misc/local_bmc_dev "forge-dpu_${vers}/usr/bin/"
    cp misc/local_bmc_dev.service "forge-dpu_${vers}/lib/systemd/system/"
    cp misc/otelcol-contrib.service "forge-dpu_${vers}/lib/systemd/system/"
    cp misc/prometheus_fd_discovery "forge-dpu_${vers}/usr/bin"
    cp otel/otel_config.yaml "forge-dpu_${vers}/etc/otelcol-contrib/config.yaml"
    cp -r misc/DEBIAN "forge-dpu_${vers}/"
	sed -i "s/SED__DPU_AGENT_PKG_VERSION/${vers}/" forge-dpu_${vers}/DEBIAN/control
'''
dependencies = [
  "build-dpu-agent-ci",
  { name = "build-dhcp-server-ci", path = "${REPO_ROOT}/dhcp-server" },
  "stage-otelcol"
]

[tasks.setup-forge-dpu-deb-ci]
category = "Build"
workspace = false
script = '''
    export vers=${DPU_AGENT_PKG_VERSION}
    mkdir -p "forge-dpu_${vers}/lib/systemd/system"
    mkdir -p "forge-dpu_${vers}/usr/bin"
    mkdir -p "forge-dpu_${vers}/var/lib/hbn/var/support/forge-dhcp/bin"
    mkdir -p "forge-dpu_${vers}/var/lib/hbn/var/support/forge-dhcp/conf"
    mkdir -p "forge-dpu_${vers}/var/lib/hbn/var/support/forge-dhcp/logs"
    mkdir -p "forge-dpu_${vers}/etc/otelcol-contrib"
    mkdir -p "forge-dpu_${vers}/var/lib/otelcol-contrib/cursors"
    mkdir -p "forge-dpu_${vers}/etc/otelcol-contrib/fd_configs"
    cp ${REPO_ROOT}/target/debug/forge-dpu-agent "forge-dpu_${vers}/usr/bin/"
    cp ${REPO_ROOT}/target/debug/forge-dhcp-server "forge-dpu_${vers}/var/lib/hbn/var/support/forge-dhcp/bin/"
    cp misc/forge-dpu-agent.service "forge-dpu_${vers}/lib/systemd/system/"
    cp misc/clean_core_files.sh "forge-dpu_${vers}/usr/bin/" && chmod u+x "forge-dpu_${vers}/usr/bin/clean_core_files.sh"
    cp misc/local_bmc_dev "forge-dpu_${vers}/usr/bin/"
    cp misc/local_bmc_dev.service "forge-dpu_${vers}/lib/systemd/system/"
    cp misc/otelcol-contrib.service "forge-dpu_${vers}/lib/systemd/system/"
    cp misc/prometheus_fd_discovery "forge-dpu_${vers}/usr/bin"
    cp otel/otel_config.yaml "forge-dpu_${vers}/etc/otelcol-contrib/config.yaml"
    cp -r misc/DEBIAN "forge-dpu_${vers}/"
	sed -i "s/SED__DPU_AGENT_PKG_VERSION/${vers}/" forge-dpu_${vers}/DEBIAN/control
'''
dependencies = [
  "build-dpu-agent-ci",
  { name = "build-dhcp-server-ci", path = "${REPO_ROOT}/dhcp-server" },
  "stage-otelcol"
]

[tasks.build-forge-dpu-deb-local]
category = "Build"
description = "Build the forge-dpu.deb package locally"
workspace = false
script = '''
    dpkg-deb --build forge-dpu_${DPU_AGENT_PKG_VERSION}
'''
dependencies = ["setup-dpu-agent-deb-local"]

[tasks.build-forge-dpu-deb]
category = "Build"
description = "Build the forge-dpu.deb package"
workspace = false
script = '''
    dpkg-deb --build forge-dpu_${DPU_AGENT_PKG_VERSION}
'''
dependencies = ["setup-forge-dpu-deb"]

[tasks.build-forge-dpu-deb-ci]
category = "Build"
description = "Build the forge-dpu.deb package"
workspace = false
script = '''
    dpkg-deb --build forge-dpu_${DPU_AGENT_PKG_VERSION}
'''
dependencies = ["setup-forge-dpu-deb-ci"]
