apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
  - name: carbide:latest
    newName: quay.io/nvidia/nvmetal-carbide
    newTag: latest
resources:
  - ../../../base/carbide-api
  - ../../../base/carbide-dhcp
  - ../../../base/carbide-dns
  - ../../../base/carbide-pxe
  - ../../../base/carbide-relay
  - ../../../base/postgres
  - configs/serviceAccount.yaml
  - configs/certificate.yaml
  - secrets/dockersecret.yaml
  - configs/postgres_carbide.yaml
  - configs/carbide-http-service.yaml
  - configs/carbide-http-service-external.yaml
  - configs/carbide-pxe-http.yaml
namespace: forge-system
patchesStrategicMerge:
  - patches/carbide-api_image_pull_service_account.yaml
  - patches/carbide-dns_image_pull.yaml
  - patches/carbide-relay_deployment_delete.yaml
  - patches/carbide-pxe_image_pull.yaml
  - patches/postgres_deployment_delete.yaml
  - patches/postgres_service_delete.yaml
  - patches/postgres_cm_delete.yaml
  - patches/kea-dhcp_image_pull.yaml
  - patches/carbide-api_envoy.yaml
  - patches/carbide-api_db_migrate_job.yaml
  - patches/carbide-pxe_envoy.yaml
  - patches/nodePort_we_already_failed.yaml
  - patches/carbide-pxe_volume.yaml
configMapGenerator:
  - name: envoy-carbide-api-config
    behavior: create
    files:
      - envoy.yaml=configs/envoy.yaml
  - name: envoy-resource-tls
    files:
      - configs/tls_certificate_sds_secret.yaml
  - name: envoy-resource-tls-ca
    files:
      - configs/validation_context_sds_secret.yaml
  - name: envoy-carbide-pxe-config
    files:
      - envoy.yaml=configs/envoy_pxe.yaml
  - name: kea-dhcp-configuration
    behavior: replace
    files:
      - kea_config.conf=configs/kea.json
  - name: carbide-pxe-config
    behavior: replace
    files:
      - Rocket.toml=configs/rocket.toml
