export TESTDB_USER=postgres
export TESTDB_PASSWORD=admin
export TESTDB_HOST=localhost

export REPO_ROOT=`pwd`
if has kind; then
  kind export kubeconfig --name forge-local 
fi

export GOBIN=$(pwd)/vpc/bin
PATH_add vpc/bin

DISTRO=`awk -F "=" '/^NAME=/{gsub(/ /,"");gsub(/"/,""); print tolower($2) }' /etc/os-release`
DISTRO_VERSION=`awk -F "=" '/^UBUNTU_CODENAME=/{gsub(/ /,""); gsub(/"/,""); print tolower($2) }' /etc/os-release`

#if you need to specify where kea is locally (it's installed in a non standard location)
#export KEA_INCLUDE_PATH=/usr/local/include/kea
#export KEA_BIN_PATH=/usr/local/bin
#export KEA_LIB_PATH=/usr/local/lib

#if you locally build kea you will need this -- if you see an error related to missing kea .so's when running tests, uncomment this
#export LD_LIBRARY_PATH=/usr/local/lib/

