export TESTDB_USER=postgres
export TESTDB_PASSWORD=admin
export TESTDB_HOST=localhost

export RUSTC_WRAPPER=sccache

# required for sqlx::test harnesses.
export DATABASE_URL=postgresql://${TESTDB_USER}:${TESTDB_PASSWORD}@${TESTDB_HOST}

export REPO_ROOT=`pwd`

DISTRO=`awk -F "=" '/^NAME=/{gsub(/ /,"");gsub(/"/,""); print tolower($2) }' /etc/os-release`
DISTRO_VERSION=`awk -F "=" '/^UBUNTU_CODENAME=/{gsub(/ /,""); gsub(/"/,""); print tolower($2) }' /etc/os-release`

#create this file and put any local overrides you may need into it.
if [[ -f "./.local_envrc" ]]; then
    source ./.local_envrc
fi
