export TESTDB_USER=postgres
export TESTDB_PASSWORD=admin
export TESTDB_HOST=localhost
#export KEA_INCLUDE_PATH=/usr/local/include/kea
#export KEA_BIN_PATH=/usr/local/sbin
#export KEA_LIB_PATH=/usr/local/lib

