variables:
  NSPECT_ID: NSPECT-2SV4-7361
  APPLICATION_NAME: nvmetal-carbide
  APPLICATION_DOCKERFILE: dev/deployment/Dockerfile

  KANIKO_CACHE_ARGS: "--cache=false --cache-copy-layers=true --cache-ttl=24h"
  CARGO_HOME: $CI_PROJECT_DIR/cargo
  APT_CACHE_DIR: $CI_PROJECT_DIR/apt
  LOGNAME: root
  KEA_BIN_PATH: /usr/bin
  KEA_INCLUDE_PATH: /usr/include/kea
  CARGO_MAKE_SKIP_CODECOV: "true"

include:
  - project: 'nvmetal/gitlab-templates'
    ref: main
    file:
      - defaults.gitlab-ci.yml

build-container:
  variables:
    DOCKER_FILE_LOCATION: $CI_PROJECT_DIR/dev/docker
    DOCKER_FILE: Dockerfile.build-container

build-container-arm:
  stage: .pre
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]
  before_script: |
    mkdir -p /kaniko/.docker
    echo "$DOCKER_AUTH_CONFIG" > /kaniko/.docker/config.json
  script: |
    set -xeuo pipefail

    /kaniko/executor --context $CI_PROJECT_DIR/dev/docker --dockerfile $CI_PROJECT_DIR/dev/docker/Dockerfile.build-container-arm --destination urm.nvidia.com/swngc-ngcc-docker-local/forge/carbide/arm64v8/build-container:$VERSION
  needs: 
    - versioning
  tags:
    - aarch64

build-cargo:
  stage: build
  script:
    - /etc/init.d/postgresql start
    - cargo make kind
    - cargo make workspace-ci-flow
  after_script:
    - kind delete cluster --name ${CI_PIPELINE_ID}
  cache:
    paths:
      - apt/
      - cargo/
      - target/

build-ipxe-x86_64:
  before_script:
  - mkdir ~/.jfrog
  - echo "${JFROG_CONFIG}" > ~/.jfrog/jfrog-cli.conf.v5
  stage: build
  script:
    - cargo make --cwd pxe build-boot-artifacts-x86_64-ci
  when: manual 

build-ipxe-aarch64:
  before_script:
  - mkdir ~/.jfrog
  - echo "${JFROG_CONFIG}" > ~/.jfrog/jfrog-cli.conf.v5
  stage: build
  image: 
    name: urm.nvidia.com/swngc-ngcc-docker-local/forge/carbide/arm64v8/build-container:$VERSION
  script:
    - cargo make --cwd pxe build-boot-artifacts-aarch64-ci
  tags:
    - aarch64
  when: manual

checkmarx-scan-csv:
  before_script: |
    set -e
    /app/check_variables.sh gitlab
    rm -f pxe/mkosi.extra/etc/systemd/system/multi-user.target.wants/carbide-discovery.service

pages:
  stage: doc
  script:
    - cargo make book
  artifacts:
    paths:
      - public
  only:
    - trunk
