image: "rust:latest"

default:
  before_script:
    - rustc --version 
    - cargo --version

stages:
  - doc
    #  - test

variables:
  CARGO_HOME: $CI_PROJECT_DIR/cargo
  APT_CACHE_DIR: $CI_PROJECT_DIR/apt

    #test-code:
    #  stage: test
    #  script:
    #    - rustup component add rustfmt
    #    - cargo test --lib
    #    - cargo test --doc
    #    - cargo test --examples
    #
    #lint-code:
    #  stage: test
    #  script:
    #    - rustup component add clippy rustfmt
    #    - cargo clippy
    #    
    #format-code:
    #  stage: test
    #  script:
    #    - rustup component add rustfmt
    #    - cargo fmt -- --check
    #
    #audit-code:
    #  stage: test
    #  script:
    #    - cargo install cargo-audit
    #    - cargo audit

pages:
  stage: doc
  before_script:
    - export PATH="$PATH:$CARGO_HOME/bin"
    - mdbook --version || cargo install mdbook
    - mdbook-mermaid --version || cargo install mdbook-mermaid
  script:
    - mkdir public
    - cargo doc --no-deps
    - mv target/doc public/api
    - mdbook build book
    - mv book/book public/book
  artifacts:
    paths:
      - public
  only:
    - trunk

cache:
  paths:
    - apt/
    - cargo/
    - target/
