image: "carbide-build-container:latest"

include:
  - .gitlab-license-scanning.yml

variables:
  CARGO_HOME: $CI_PROJECT_DIR/cargo
  APT_CACHE_DIR: $CI_PROJECT_DIR/apt
  LOGNAME: root
  KEA_BIN_PATH: /usr/bin
  KEA_INCLUDE_PATH: /usr/include/kea
  CARGO_MAKE_SKIP_CODECOV: "true"

test:cargo:
  script:
    - /etc/init.d/postgresql start
    - cargo make workspace-ci-flow

#pages:
#  stage: doc
#  before_script:
#    - export PATH="$PATH:$CARGO_HOME/bin"
#    - mdbook --version || cargo install mdbook
#    - mdbook-mermaid --version || cargo install mdbook-mermaid
#    - rustfmt --version || rustup component add rustfmt
#  script:
#    - mkdir public
#    - cargo doc --no-deps
#    - mv target/doc public/api
#    - mdbook build book
#    - mv book/book public/book
#    - find public
#  artifacts:
#    paths:
#      - public
#  only:
#    - trunk

cache:
  paths:
    - apt/
    - cargo/
    - target/
