image: "gitlab-master.nvidia.com:5005/nvmetal/carbide/build-container:latest"

variables:
  CARGO_HOME: $CI_PROJECT_DIR/cargo
  APT_CACHE_DIR: $CI_PROJECT_DIR/apt
  LOGNAME: root
  KEA_BIN_PATH: /usr/bin
  KEA_INCLUDE_PATH: /usr/include/kea
  CARGO_MAKE_SKIP_CODECOV: "true"

stages:
  - test
  - doc

test:cargo:
  stage: test
  script:
    - /etc/init.d/postgresql start
    - cargo make workspace-ci-flow

pages:
  stage: doc
  script:
    - cargo make book
  artifacts:
    paths:
      - public
  only:
    - trunk

cache:
  paths:
    - apt/
    - cargo/
    - target/
