variables:
  NSPECT_ID: NSPECT-K66V-JJ0K
  APPLICATION_DOCKERFILE: dev/deployment/Dockerfile
  KUSTOMIZE_LOCATION: dev/kube
  APPLICATION_DOCKER_IMAGE: quay.io/nvidia/nvmetal-carbide
  NVCR_APPLICATION_DOCKER_IMAGE: nvcr.io/nvidian/forge/nvmetal-carbide


  FF_USE_FASTZIP: "true" # enable fastzip - a faster zip implementation that also supports level configuration.
  ARTIFACT_COMPRESSION_LEVEL: default # can also be set to fastest, fast, slow and slowest. If just enabling fastzip is not enough try setting this to fastest or fast.
  CACHE_COMPRESSION_LEVEL: fastest
  TRANSFER_METER_FREQUENCY: 5s

  KANIKO_CACHE_ARGS: "--cache=false --cache-copy-layers=true --cache-ttl=24h"
  APT_CACHE_DIR: $CI_PROJECT_DIR/apt
  LOGNAME: root
  KEA_BIN_PATH: /usr/bin
  KEA_INCLUDE_PATH: /usr/include/kea

  CARGO_INCREMENTAL: 0
  CARGO_HOME: $CI_PROJECT_DIR/cargo
  NEED_HELM: "yes"

stages:
  - lint
  - build
  - test
  - publish
  - e2e-test
  - deploy
  - doc
  - security

include:
  - project: 'nvmetal/gitlab-templates'
    ref: main
    file:
      - defaults.gitlab-ci.yml

build-container:
  variables:
    DOCKER_FILE_LOCATION: $CI_PROJECT_DIR/dev/docker
    DOCKER_FILE: Dockerfile.build-container

build-container-arm:
  stage: .pre
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]
  before_script: |
    mkdir -p /kaniko/.docker
    echo "$DOCKER_AUTH_CONFIG" > /kaniko/.docker/config.json
  script: |
    set -xeuo pipefail

    /kaniko/executor --context $CI_PROJECT_DIR/dev/docker --dockerfile $CI_PROJECT_DIR/dev/docker/Dockerfile.build-container-arm --destination urm.nvidia.com/swngc-ngcc-docker-local/forge/carbide/arm64v8/build-container:$VERSION
  needs:
    - prepare-ci
  tags:
    - aarch64

build-cargo:
  stage: build
  variables:
    CARGO_MAKE_SKIP_CODECOV: "true"
    DATABASE_URL: "postgresql://%2Fvar%2Frun%2Fpostgresql"
    SCCACHE_DIR: /sccache
  script:
    - /etc/init.d/postgresql start
    - sudo -u postgres psql -c "ALTER USER root WITH SUPERUSER;"
    - createdb root
    - cargo make --env CARGO_MAKE_RUN_CLIPPY=true workspace-ci-flow
  after_script:
    - cargo clean

build-boot-artifacts-x86_64:
  before_script:
    - mkdir ~/.jfrog
    - echo "${JFROG_CONFIG}" > ~/.jfrog/jfrog-cli.conf.v5
  stage: build
  script:
    - cargo make --cwd pxe build-boot-artifacts-x86_64-ci
  when: manual

build-user-date-artifacts-x86_64:
  before_script:
    - mkdir ~/.jfrog
    - echo "${JFROG_CONFIG}" > ~/.jfrog/jfrog-cli.conf.v5
  stage: build
  script:
    - cargo make --cwd cli build-user-data-artifacts-x86_64-ci
  when: manual

build-boot-artifacts-aarch64:
  before_script:
    - mkdir ~/.jfrog
    - echo "${JFROG_CONFIG}" > ~/.jfrog/jfrog-cli.conf.v5
  stage: build
  image:
    name: urm.nvidia.com/swngc-ngcc-docker-local/forge/carbide/arm64v8/build-container:$VERSION
  script:
    - cargo make --cwd pxe build-boot-artifacts-aarch64-ci
  tags:
    - aarch64
  when: manual

build-user-data-artifacts-aarch64:
  before_script:
    - mkdir ~/.jfrog
    - echo "${JFROG_CONFIG}" > ~/.jfrog/jfrog-cli.conf.v5
  stage: build
  image:
    name: urm.nvidia.com/swngc-ngcc-docker-local/forge/carbide/arm64v8/build-container:$VERSION
  script:
    - cargo make --cwd cli build-user-data-artifacts-aarch64-ci
  tags:
    - aarch64
  when: manual

license-checks:
  before_script:
    - /bin/bash -l -c "CARGO_HOME=/root/.cargo rustup toolchain uninstall stable-x86_64-unknown-linux-gnu"
    - /bin/bash -l -c "CARGO_HOME=/root/.cargo rustup toolchain install stable-x86_64-unknown-linux-gnu"
  rules:
    - changes:
        - Cargo.lock
        - .license-config.yml
    - if: $CI_COMMIT_TAG
    - if: $CI_PIPELINE_SOURCE != 'merge_request_event'

checkmarx-scan-csv:
  before_script: |
    set -e
    /app/check_variables.sh gitlab
    rm -f pxe/mkosi.extra/etc/systemd/system/multi-user.target.wants/carbide-discovery.service

    # The VPC project will be scanned as part of the VPC repo, there is no need to run the scan
    # for VPC as part of the carbide repository
    rm -rf vpc

    # iPXE findings are inactionable - https://nvidia.slack.com/archives/C02RKLCN8BT/p1658425245618589?thread_ts=1658424844.339609&cid=C02RKLCN8BT
    rm -rf pxe/ipxe

    # Request to exclude mkosi from scans - https://nvidia.slack.com/archives/C02RKLCN8BT/p1658424426970489
    rm -rf pxe/mkosi

pages:
  stage: doc
  script:
    - cargo make book
  artifacts:
    paths:
      - public
  only:
    - trunk

build-push-helm:
  variables:
    PUSH_TO_NVCR: 'true'
    HELM_FILE_NAME: "${CI_PROJECT_NAME}-${HELM_VERSION}"
  before_script:
    - apt-get update
    - apt-get install -y gettext-base
    - export LOCALBIN=$PWD/"ci/bin"
    - mkdir -p $LOCALBIN
    - GOBIN=$LOCALBIN go install github.com/vinodchitraliNVIDIA/helmify/cmd/helmify@v0.0.1
    - GOBIN=$LOCALBIN go install sigs.k8s.io/kustomize/kustomize/v4@v4.5.7
    - $LOCALBIN/kustomize build dev/kube/overlays/helm | $LOCALBIN/helmify $CI_PROJECT_NAME
    - yq -i '.carbideApiDeployment.carbideApi.image.tag = env(VERSION)' $CI_PROJECT_NAME/values.yaml
    - yq -i '.carbideApiDeployment.carbideApi.image.repository = "nvcr.io/nvidian/forge/nvmetal-carbide"' $CI_PROJECT_NAME/values.yaml
    - yq -i '.carbideDnsDeployment.carbideDns.image.tag = env(VERSION)' $CI_PROJECT_NAME/values.yaml
    - yq -i '.carbideDnsDeployment.carbideDns.image.repository = "nvcr.io/nvidian/forge/nvmetal-carbide"' $CI_PROJECT_NAME/values.yaml
    - yq -i '.carbidePxeDeployment.carbidePxe.image.tag = env(VERSION)' $CI_PROJECT_NAME/values.yaml
    - yq -i '.carbidePxeDeployment.carbidePxe.image.repository = "nvcr.io/nvidian/forge/nvmetal-carbide"' $CI_PROJECT_NAME/values.yaml
    - yq -i '.keaDhcpDeployment.keaDhcp.image.tag = env(VERSION)' $CI_PROJECT_NAME/values.yaml
    - yq -i '.keaDhcpDeployment.keaDhcp.image.repository = "nvcr.io/nvidian/forge/nvmetal-carbide"' $CI_PROJECT_NAME/values.yaml
    - yq -i '.carbideApiDeployment.envoy.image.tag = "35f8d59b1172a85f02dd119791a9ef42c728cfa8"' $CI_PROJECT_NAME/values.yaml
    - yq -i '.carbideApiDeployment.envoy.image.repository = "nvcr.io/nvidian/forge/envoy-dev"' $CI_PROJECT_NAME/values.yaml
    - yq -i '.carbidePxeDeployment.envoy.image.tag = "35f8d59b1172a85f02dd119791a9ef42c728cfa8"' $CI_PROJECT_NAME/values.yaml
    - yq -i '.carbidePxeDeployment.envoy.image.repository = "nvcr.io/nvidian/forge/envoy-dev"' $CI_PROJECT_NAME/values.yaml
    - yq -i '.version = env(HELM_VERSION)' $CI_PROJECT_NAME/Chart.yaml
    - |
      NAMESPACE=forge-system  yq -i '.NameSpace = env(NAMESPACE)' $CI_PROJECT_NAME/values.yaml
      sed -i '/^spec:/a \ \ imagePullSecrets:\n \ \- name: imagepullsecret' $CI_PROJECT_NAME/templates/postgres.yaml
      sed -i '/^metadata:/a \ \ namespace: {{ .Values.NameSpace }}' $CI_PROJECT_NAME/templates/*
      sed -i 's/carbide-postgres-pguser-carbide-postgres/{{ include "carbide.fullname" . }}-postgres-pguser-carbide-postgres/g' $CI_PROJECT_NAME/templates/deployment.yaml
      sed -i 's/secretName: forge-provisioner-cert/secretName: {{ include "carbide.fullname" . }}-forge-provisioner-cert/g' $CI_PROJECT_NAME/templates/*
      helm package $CI_PROJECT_NAME/

deploy_dev1:
  extends: .deploy_kustomize
  environment:
    name: dev1
    deployment_tier: development

deploy_dev2:
  extends: .deploy_kustomize
  environment:
    name: dev2
    deployment_tier: development

deploy_qa:
  extends: .deploy_kustomize
  environment:
    name: qa
    deployment_tier: testing
  tags:
    - corp

deploy_nbu:
  extends: .deploy_kustomize
  environment:
    name: nbu_testing
    deployment_tier: testing
  tags:
    - corp

deploy_dogfood:
  extends: .deploy_helm
  environment:
    name: dogfood
    deployment_tier: testing
  tags:
    - corp

