image: "rust:latest"

default:
  before_script:
    - rustc --version 
    - cargo --version

stages:
  - test
  - doc

variables:
  CARGO_HOME: $CI_PROJECT_DIR/cargo
  APT_CACHE_DIR: $CI_PROJECT_DIR/apt

test-code:
  stage: test
  script:
    - rustup component add rustfmt
    - cargo test --lib
    - cargo test --doc
    - cargo test --examples

lint-code:
  stage: test
  script:
    - rustup component add clippy rustfmt
    - cargo clippy
    
format-code:
  stage: test
  script:
    - rustup component add rustfmt
    - cargo fmt -- --check

audit-code:
  stage: test
  script:
    - cargo install cargo-audit
    - cargo audit

pages:
  stage: doc
  script:
    - cargo docs --nodeps
    - mv target/doc public
  artifacts:
    paths:
      - public
  only:
    - trunk

cache:
  paths:
    - apt/
    - cargo/
    - target/
