[workspace]

members = [
  "admin",
  "api",
  "bluefield/agent",
  "dev/bmc-mock",
  "dev/vpc-mock",
  "dhcp",
  "dns",
  "forge_credentials",
  "host-support",
  "pxe",
  "dev/rainbow",
  "rpc",
  "scout",
]

[workspace.package]
edition = "2021"
license-file = "LICENSE"
authors = ["NVIDIA Forge Engineering <swngc-forge-dev@exchange.nvidia.com>"]

[workspace.dependencies]
tokio = { version = "1", features = ["full"] }
clap = { version = "4", features = ["derive", "env"] }

[profile.release]
debug = true # Enable debuginfo
debug-assertions = true # Add some extra assurance during development
overflow-checks = true # Add some extra assurance during development
