[workspace]

members = [
  "api",
  "cli",
  "dhcp",
  "dns",
  "forge_credentials",
  "pxe",
  "redfish",
  "rpc",
]

[workspace.package]
edition = "2021"
license-file = "LICENSE"
authors = ["NVIDIA Forge Engineering <swngc-forge-dev@exchange.nvidia.com>"]

[workspace.dependencies]
tokio = { version = "1", features = ["full"] }

[profile.release]
debug = true # Enable debuginfo
debug-assertions = true # Add some extra assurance during development
overflow-checks = true # Add some extra assurance during development
