[workspace]

members = [
  "admin",
  "api",
  "api-test",
  "bluefield/agent",
  "common/dsocket",
  "common/host-support",
  "common/http-connector",
  "common/secrets",
  "common/tls",
  "common/utils",
  "common/version",
  "dev/bmc-mock",
  "dev/rainbow",
  "dhcp",
  "dhcp-server",
  "dns",
  "health",
  "pxe",
  "rpc",
  "scout",
]

[workspace.package]
edition = "2021"
license-file = "LICENSE"
authors = ["NVIDIA Forge Engineering <swngc-forge-dev@exchange.nvidia.com>"]

[workspace.dependencies]
clap = { version = "4", features = ["derive", "env"] }
tokio = { version = "1", features = ["full", "tracing"] }
tonic = { version = "0.10", features = ["tls"] }

[profile.release]
debug = true            # Enable debuginfo
debug-assertions = true # Add some extra assurance during development
overflow-checks = true  # Add some extra assurance during development
