[workspace]

members = [
  "admin",
  "api",
  "api-test",
  "bluefield/agent",
  "dev/bmc-mock",
  "dev/rainbow",
  "dhcp",
  "dns",
  "forge-http-connector",
  "dsocket",
  "forge_secrets",
  "health",
  "host-support",
  "pxe",
  "rpc",
  "scout",
  "version",
  "utils",
]

[workspace.package]
edition = "2021"
license-file = "LICENSE"
authors = ["NVIDIA Forge Engineering <swngc-forge-dev@exchange.nvidia.com>"]

[workspace.dependencies]
clap = { version = "4", features = ["derive", "env"] }
tokio = { version = "1", features = ["full", "tracing"] }
tonic = { version = "0.9.0", features = ["tls"] }

[profile.release]
debug = true # Enable debuginfo
debug-assertions = true # Add some extra assurance during development
overflow-checks = true # Add some extra assurance during development
