# This file is separated into sections, and each section is evaluated
# and enforced separately. The names of the sections have no meaning to gitlab.
# 
# See https://docs.gitlab.com/user/project/codeowners/reference/ for syntax.
#
# Note in particular this warning:
# > If an entry is duplicated in a section, the last entry is used. Rules
# > defined later in the file take precedence over earlier rules.

# We keep this in its own section to ensure it gets evaluated separately.
[codeowners file]
CODEOWNERS @nvmetal/approvers/carbide-owners

# This section is intended to cover the majority of the project. If different
# ownership is needed for something (a crate, a module, or specific files or
# patterns), that can be expressed as an entry in this section (which will
# override the default owner).
[carbide] @nvmetal/approvers/carbide-default
*

# Code with security or correctness concerns can be assigned owners here.
[critical]

# Anything related to keeping CI/CD working should be defined here.
[cicd]
.gitlab-ci.yml @lgray

# Anything in this section is an optional approval, but can be useful
# to subscribe to changes in certain areas.
^[notification]
common/network/src/ip/ @drew
