# SPDX-FileCopyrightText: Copyright (c) 2021-2022 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: LicenseRef-NvidiaProprietary
#
# NVIDIA CORPORATION, its affiliates and licensors retain all intellectual
# property and proprietary rights in and to this material, related
# documentation and any modifications thereto. Any use, reproduction,
# disclosure or distribution of this material and related documentation
# without an express license agreement from NVIDIA CORPORATION or
# its affiliates is strictly prohibited.
[env]
CARGO_MAKE_EXTEND_WORKSPACE_MAKEFILE = true
REPO_ROOT = { script = ["echo ${REPO_ROOT}"], condition = {env_not_set = ["CI_PROJECT_DIR"]} }
REPO_ROOT = { script = ["echo ${CI_PROJECT_DIR}"], condition = {env_set = ["CI_PROJECT_DIR"]}}
CARBIDE_ENVIRONMENT = { value = "local", condition = { env_not_set = ["CARBIDE_ENVIRONMENT"] } }

[tasks.book]
workspace = false
command = "find"
args = ["public"]
dependencies = [
	"book-compile",
#	"generate-database-schema",  # - needs build image changes.  Will update later.
]

[tasks.generate-database-schema]
workspace = false
command = "mermerd"
args = ['-c', "${DATABASE_URL}", '-s', 'public', '--useAllTables', '--showAllConstraints', '--encloseWithMermaidBackticks', '-o', 'book/src/development/schema.md']


[tasks.build-carbide-cli-ci]
category = "Build"
description = "Build carbide-cli in CI"
workspace = false
script = '''
cargo build -p cli
'''

[tasks.build-carbide-cli]
category = "Build"
description = "Build carbide-cli using debian container locally"
workspace = false
script = '''
docker run --rm --volume $(pwd):/code --workdir /code -it gitlab-master.nvidia.com:5005/nvmetal/carbide/build-container cargo build -p cli
'''

[tasks.build-kind]
category = "Kind"
description = "Build carbide container and upload to KinD cluster"
workspace=false
dependencies = [
  {name = "config-kind-ci", path="include/Makefile-kind.toml"},
  {name = "create-kind-cluster", path="include/Makefile-kind.toml"},
  {name = "carbide-container", path="include/Makefile-kind.toml"},
  {name = "load-carbide-container", path="include/Makefile-kind.toml"},
  {name = "build-vpc-container", path="include/Makefile-vpc.toml"},
  {name = "load-vpc-container", path="include/Makefile-kind.toml"},
  {name = "configure_kind", path="include/Makefile-kind.toml"}
]
cwd="${REPO_ROOT}"

[tasks.kind]
category = "Kind"
description = "Build carbide container and upload to KinD cluster"
workspace=false
run_task = "build-kind"
cwd="${REPO_ROOT}"

[tasks.build-x86-build-container]
category = "Kind"
description = "Build the x86 build container"
workspace = false
command = "docker"
args = ["build", "-t", "gitlab-master.nvidia.com:5005/nvmetal/carbide/build-container:latest", "-f", "${REPO_ROOT}/dev/docker/Dockerfile.build-container", "."]
cwd="${REPO_ROOT}/dev/docker"

[tasks.build-arm-build-container]
category = "Kind"
description = "Build the ARM build container"
workspace = false
command = "docker"
args = ["build", "-t", "gitlab-master.nvidia.com:5005/nvmetal/carbide/arm64v8/build-container:latest", "-f", "${REPO_ROOT}/dev/docker/Dockerfile.build-container-arm", "."]
cwd="${REPO_ROOT}/dev/docker"

[tasks.runtime-container]
category = "Docker Compose"
description = "Build the runtime container base image for Carbide components"
workspace = false
command = "docker"
args = ["build", "-t", "carbide-runtime:latest", "."]
env = { "DOCKER_BUILDKIT" = "1" }

[tasks.fullstack-up]
category = "Docker Compose"
description = "Brings up a full Carbide stack"
workspace = false
command = "docker-compose"
args = ["up", "-d", "--build"]

[tasks.fullstack-down]
category = "Docker Compose"
description = "Brings down the full Carbide stack"
workspace = false
command = "docker-compose"
args = ["down", "-v"]

[tasks.fullstack-cert-renew]
category = "Docker Compose"
description = "Renews all the certificates in the containers and reloads the services"
workspace=false
dependencies = [
	{name="fullstack-terraform", path="include/Makefile-docker-compose.toml"},
	{name="fullstack-refresh-postgresql", path="include/Makefile-docker-compose.toml"},
]


[tasks.book-compile]
workspace = false
command = "mdbook"
args = ["build", "-d", "../public", "book"]

[tasks.attribution]
workspace = false
command = "cargo"
args = ["license", "--avoid-build-deps", "--avoid-dev-deps", "--json"]

[tasks.bootstrap-forge-docker]
workspace = false
dependencies = [
  {name="build-bootstrap-forge-docker", path="include/Makefile-bootstrap.toml"}
]

[tasks.update-kube-structs]
workspace = false
dependencies = [
  {name="update-vpc-submodule", path="include/Makefile-vpc.toml"},
  {name="generate-rust-from-crd", path="include/Makefile-vpc.toml"}
]

[tasks.pre-commit-verify]
description = "Runs the same set of tasks CI will."
category = "CI"
# clippy-flow and check-format-flow are default targets provided by cargo-make
dependencies = [
    "clippy-flow",
    "check-format-flow",
    "workspace-ci-flow",
]

[tasks.clippy]
workspace = false
description = "Runs clippy code linter."
category = "Test"
dependencies = ["install-clippy"]
command = "cargo"
args = ["clippy", "--tests"]

[tasks.workspace-ci-flow]
args = ["--no-default-features"]

[tasks.clippy-ci-flow]
condition = { env_set = [ "CARGO_MAKE_RUN_CLIPPY" ] }
