[env]
CARGO_MAKE_EXTEND_WORKSPACE_MAKEFILE = true
REPO_ROOT = { script = ["echo ${REPO_ROOT}"], condition = {env_not_set = ["CI_BUILDS_DIR"]} }
REPO_ROOT = { script = ["echo ${CI_BUILDS_DIR}"], condition = {env_set = ["CI_BUILDS_DIR"]}}
CARBIDE_ENVIRONMENT = { value = "local", condition = { env_not_set = ["CARBIDE_ENVIRONMENT"] } }

[tasks.book]
workspace = false
command = "find"
args = ["public"]
dependencies = [
	"book-compile",
]

[tasks.build-kind]
category = "Kind"
description = "Build carbide container and upload to KinD cluster"
workspace=false
dependencies = [
  {name = "config-kind-ci", path="include/Makefile-kind.toml"},
  {name = "create-kind-cluster", path="include/Makefile-kind.toml"},
  {name = "carbide-container", path="include/Makefile-kind.toml"},
  {name = "load-carbide-container", path="include/Makefile-kind.toml"},
  {name = "build-vpc-container", path="include/Makefile-vpc.toml"},
  {name = "load-vpc-container", path="include/Makefile-kind.toml"},
  {name = "configure_kind", path="include/Makefile-kind.toml"}
]
cwd="${REPO_ROOT}"

[tasks.kind]
category = "Kind"
description = "Build carbide container and upload to KinD cluster"
workspace=false
run_task = "build-kind"
dependencies = [
  "echo"
]
cwd="${REPO_ROOT}"

[tasks.echo]
command = "echo"
args = ["${REPO_ROOT}"]

[tasks.build-x86-build-container]
category = "Kind"
description = "Build the x86 build container"
workspace = false
command = "docker"
args = ["build", "-t", "gitlab-master.nvidia.com:5005/nvmetal/carbide/build-container:latest", "-f", "${REPO_ROOT}/dev/docker/Dockerfile.build-container", "."]
cwd="${REPO_ROOT}/dev/docker"

[tasks.build-arm-build-container]
category = "Kind"
description = "Build the ARM build container"
workspace = false
command = "docker"
args = ["build", "-t", "gitlab-master.nvidia.com:5005/nvmetal/carbide/arm64v8/build-container:latest", "-f", "${REPO_ROOT}/dev/docker/Dockerfile.build-container-arm", "."]
cwd="${REPO_ROOT}/dev/docker"

[tasks.runtime-container]
category = "Docker Compose"
description = "Build the runtime container base image for Carbide components"
workspace = false
command = "docker"
args = ["build", "-t", "carbide-runtime:latest", "."]
env = { "DOCKER_BUILDKIT" = "1" }

[tasks.fullstack-up]
category = "Docker Compose"
description = "Brings up a full Carbide stack"
workspace = false
command = "docker-compose"
args = ["up", "-d"]

[tasks.fullstack-down]
category = "Docker Compose"
description = "Brings down the full Carbide stack"
workspace = false
command = "docker-compose"
args = ["down", "-v"]

[tasks.fullstack-cert-renew]
category = "Docker Compose"
description = "Renews all the certificates in the containers and reloads the services"
workspace=false
dependencies = [
	{name="fullstack-terraform", path="include/Makefile-docker-compose.toml"},
	{name="fullstack-refresh-postgresql", path="include/Makefile-docker-compose.toml"},
]


[tasks.book-compile]
workspace = false
command = "mdbook"
args = ["build", "-d", "../public", "book"]

[tasks.attribution]
workspace = false
command = "cargo"
args = ["license", "--avoid-build-deps", "--avoid-dev-deps", "--json"]


## - VPC Related tasks
[tasks.update-vpc-submodule]
workspace = false
script = '''
mkdir -p tmp
git fetch ssh://git@gitlab-master.nvidia.com:12051/nvmetal/vpc.git main
git subtree pull --prefix vpc/ ssh://git@gitlab-master.nvidia.com:12051/nvmetal/vpc.git main --squash -m 'updated rust structs for vpc crds'
kustomize build vpc/config/crd/ -o tmp/
'''
cwd="${REPO_ROOT}"


[tasks.update-kube-structs]
workspace = false
dependencies = [
  {name="update-vpc-submodule", path="include/Makefile-vpc.toml"},
  {name="generate-rust-from-crd", path="include/Makefile-vpc.toml"}
]

