[env]
CARGO_MAKE_EXTEND_WORKSPACE_MAKEFILE = true

[tasks.book]
workspace = false
command = "find"
args = ["public"]
dependencies = [
	"book-compile",
]

[tasks.create-kind-cluster]
category = "Kind"
description = "Build KinD cluster"
workspace = false
command = "kind"
args = ["create", "cluster", "--config", "dev/kube/kind/cluster.yaml"]

[tasks.configure_kind]
category = "Kind"
workspace=false
description = "kubectl apply KinD configuration"
script='''
kubectl kustomize dev/kube/overlays/local | kubectl apply -f -
'''

[tasks.kind]
category = "Kind"
description = "Build carbide container and upload to KinD cluster"
workspace=false
dependencies = [
  "create-kind-cluster",
  "carbide-container",
  "load-carbide-container",
  "configure_kind"
]

[tasks.carbide-container]
category = "Kind"
description = "Build the carbide container"
workspace = false
command = "docker"
args = ["build", "-t", "carbide:latest", "-f", "dev/deployment/Dockerfile", "."]


[tasks.load-carbide-container]
category = "Kind"
description = "Push image to Kind"
workspace = false
command = "kind"
args = ["load", "docker-image", "carbide:latest", "--name", "forge-local"]

[tasks.runtime-container]
category = "Docker Compose"
description = "Build the runtime container base image for Carbide components"
workspace = false
command = "docker"
args = ["build", "-t", "carbide-runtime:latest", "."]
env = { "DOCKER_BUILDKIT" = "1" }

[tasks.fullstack-up]
category = "Docker Compose"
description = "Brings up a full Carbide stack"
workspace = false
command = "docker-compose"
args = ["up", "-d"]

[tasks.fullstack-down]
category = "Docker Compose"
description = "Brings down the full Carbide stack"
workspace = false
command = "docker-compose"
args = ["down", "-v"]

[tasks.fullstack-cert-renew]
category = "Docker Compose"
description = "Renews all the certificates in the containers and reloads the services"
workspace=false
dependencies = [
	"fullstack-terraform",
	"fullstack-refresh-postgresql",
]

[tasks.fullstack-terraform]
category = "Docker Compose"
description = "Re-runs terraform in the running environment"
workspace = false
command = "docker-compose"
args = ["run", "terraform", "apply", "-auto-approve"]

[tasks.fullstack-refresh-postgresql]
category = "Docker Compose"
description = "Reloads postgres in the running container"
workspace = false
command = "docker-compose"
args = ["exec", "postgresql", "kill", "-HUP", "1"]


[tasks.book-compile]
workspace = false
command = "mdbook"
args = ["build", "-d", "../public", "book"]

[tasks.attribution]
workspace = false
command = "cargo"
args = ["license", "--avoid-build-deps", "--avoid-dev-deps", "--json"]
