[env]
CARGO_MAKE_EXTEND_WORKSPACE_MAKEFILE = true


[tasks.book]
workspace = false
command = "find"
args = ["public"]
dependencies = [
	"book-compile",
]

[tasks.book-compile]
workspace = false
command = "mdbook"
args = ["build", "-d", "../public", "book"]
