# SPDX-FileCopyrightText: Copyright (c) 2021-2023 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: LicenseRef-NvidiaProprietary
#
# NVIDIA CORPORATION, its affiliates and licensors retain all intellectual
# property and proprietary rights in and to this material, related
# documentation and any modifications thereto. Any use, reproduction,
# disclosure or distribution of this material and related documentation
# without an express license agreement from NVIDIA CORPORATION or
# its affiliates is strictly prohibited.
[env]
CARGO_MAKE_EXTEND_WORKSPACE_MAKEFILE = true
REPO_ROOT = { script = ["echo ${CI_PROJECT_DIR}"], condition = {env_set = ["CI_PROJECT_DIR"]}}
CARBIDE_ENVIRONMENT = { value = "local", condition = { env_not_set = ["CARBIDE_ENVIRONMENT"] } }
FORGE_CA = { value = "nonprod", condition = { env_not_set = ["FORGE_CA"] } }
FORGE_CA_PATH = { value = "${REPO_ROOT}/dev/forge_${FORGE_CA}root.pem"}

[tasks.book]
workspace = false
command = "find"
args = ["public"]
dependencies = [
	"book-compile",
#	"generate-database-schema",  # - needs build image changes.  Will update later.
]

[tasks.generate-database-schema]
workspace = false
command = "mermerd" # not a typo. go install github.com/KarnerTh/mermerd@latest
args = ['-c', "${DATABASE_URL}", '-s', 'public', '--useAllTables', '--showAllConstraints', '--encloseWithMermaidBackticks', '-o', 'book/src/development/schema.md']
# To generate manually:
# Start docker-compose and wait until all migrations are in the DB
# mermerd -c postgresql://carbide_development:REPLACE_WITH_PW@172.20.0.16 -s public --useAllTables --showAllConstraints --encloseWithMermaidBackticks -o book/src/development/schema.md
# docker pull minlag/mermaid-cli
# docker run --rm -u `id -u`:`id -g` -v /home/graham/src/carbide/book/src/development:/data minlag/mermaid-cli -i schema.md
# Copy it's output to `schema.svg`
# (I had to edit _sqlx_migrations table, it doesn't like the underscore)
# Add to top of schema.md:
#  [View SVG](schema.svg)

[tasks.build-cli-ci]
category = "Build"
description = "Build forge-scout and forge-admin-cli in CI"
workspace = false
script = '''
cargo build -p scout -p admin
'''

[tasks.build-cli]
category = "Build"
description = "Build forge-scout and forge-admin-cli locally using debian container. Ensures correct GCC version is used."
workspace = false
script = '''
docker run \
	--rm \
	--user $(id -u):$(id -g) \
	--volume $(pwd):/code \
	--workdir /code \
	--volume $HOME/.cargo:/cargo \
	--env CARGO_HOME=/cargo \
	-it gitlab-master.nvidia.com:5005/nvmetal/carbide/build-container \
	cargo build -p scout -p admin
'''

[tasks.build-rainbow]
category = "Build"
description = "Build rainbow locally using debian container. Ensures correct GCC version is used."
workspace = false
script = '''
docker run \
	--rm \
	--user $(id -u):$(id -g) \
	--volume $(pwd):/code \
	--workdir /code \
	--volume $HOME/.cargo:/cargo \
	--env CARGO_HOME=/cargo \
	-it gitlab-master.nvidia.com:5005/nvmetal/carbide/build-container \
	cargo build --release -p rainbow && strip target/release/rainbow
'''

[tasks.build-x86-build-container]
category = "Kind"
description = "Build the x86 build container"
workspace = false
command = "docker"
args = ["build", "-t", "gitlab-master.nvidia.com:5005/nvmetal/carbide/build-container:latest", "-f", "${REPO_ROOT}/dev/docker/Dockerfile.build-container", "."]
cwd="${REPO_ROOT}/dev/docker"

[tasks.build-arm-build-container]
category = "Kind"
description = "Build the ARM build container"
workspace = false
command = "docker"
args = ["build", "-t", "gitlab-master.nvidia.com:5005/nvmetal/carbide/arm64v8/build-container:latest", "-f", "${REPO_ROOT}/dev/docker/Dockerfile.build-container-arm", "."]
cwd="${REPO_ROOT}/dev/docker"

[tasks.runtime-container]
category = "Docker Compose"
description = "Build the runtime container base image for Carbide components"
workspace = false
command = "docker"
args = ["build", "-t", "carbide-runtime:latest", "."]
env = { "DOCKER_BUILDKIT" = "1" }

[tasks.fullstack-up]
category = "Docker Compose"
description = "Brings up a full Carbide stack"
workspace = false
command = "docker-compose"
args = ["up", "-d", "--build"]
dependencies = [
  { name = "mkdir-static-x86_64", path = "${REPO_ROOT}/pxe"},
  { name = "mkdir-static-aarch64", path = "${REPO_ROOT}/pxe"}
]

[tasks.fullstack-down]
category = "Docker Compose"
description = "Brings down the full Carbide stack"
workspace = false
command = "docker-compose"
args = ["down", "-v"]

[tasks.fullstack-cert-renew]
category = "Docker Compose"
description = "Renews all the certificates in the containers and reloads the services"
workspace=false
dependencies = [
	{name="fullstack-terraform", path="include/Makefile-docker-compose.toml"},
	{name="fullstack-refresh-postgresql", path="include/Makefile-docker-compose.toml"},
]


[tasks.book-compile]
workspace = false
command = "mdbook"
args = ["build", "-d", "../public", "book"]

[tasks.attribution]
workspace = false
command = "cargo"
args = ["license", "--avoid-build-deps", "--avoid-dev-deps", "--json"]



[tasks.bootstrap-forge-base-docker]
category = "Bootstrap"
workspace = false
env = { "FORGE_BOOTSTRAP_KIND" = "docker" }
dependencies = [
  {name="build-bootstrap-forge-base-docker", path="include/Makefile-bootstrap.toml"}
]
[tasks.bootstrap-forge-base-kube]
category = "Bootstrap"
workspace = false
env = { "FORGE_BOOTSTRAP_KIND" = "kube" }
dependencies = [
  {name="build-bootstrap-forge-base-kube", path="include/Makefile-bootstrap.toml"}
]


[tasks.bootstrap-forge-dpu-discovery-docker]
category = "Bootstrap"
workspace = false
dependencies = [
  {name="build-bootstrap-forge-dpu-discovery-docker", path="include/Makefile-bootstrap.toml"}
]
[tasks.bootstrap-forge-dpu-discovery-kube]
category = "Bootstrap"
workspace = false
dependencies = [
  {name="build-bootstrap-forge-dpu-discovery-kube", path="include/Makefile-bootstrap.toml"}
]

[tasks.bootstrap-forge-vmhost-init-docker]
category = "Bootstrap"
workspace = false
run_task = [
  {name="build-bootstrap-forge-vmhost-init-docker", path="include/Makefile-bootstrap.toml"}
]
[tasks.bootstrap-forge-vmhost-init-kube]
category = "Bootstrap"
workspace = false
dependencies = [
  {name="build-bootstrap-forge-vmhost-init-kube", path="include/Makefile-bootstrap.toml"}
]

[tasks.bootstrap-forge-docker]
category = "Bootstrap"
workspace = false
dependencies = [
  {name="build-bootstrap-forge-docker", path="include/Makefile-bootstrap.toml"}
]
[tasks.bootstrap-forge-kube]
category = "Bootstrap"
workspace = false
dependencies = [
  {name="build-bootstrap-forge-kube", path="include/Makefile-bootstrap.toml"}
]


[tasks.test-instance-forge-docker]
workspace = false
dependencies = [
  {name="test-instance-forge-docker", path="include/Makefile-bootstrap.toml"}
]

[tasks.pre-commit-verify]
description = "Runs the same set of tasks CI will."
category = "CI"
# clippy-flow, check-format-flow and workspace-ci-flow are default targets provided by cargo-make.
# workspace-ci-flow means run 'ci-flow' (you guessed it, default) on everything in the workspace.
dependencies = [
    "clippy-flow",
    "check-format-flow",
    "workspace-ci-flow",
]

[tasks.clippy]
workspace = false
description = "Runs clippy code linter."
category = "Test"
dependencies = ["install-clippy"]
command = "cargo"
args = ["clippy", "--tests"]

# CI will build and test each package in order.
# `api` integration tests depend on forge-dpu-agent and forge-admin-cli, so
# those must be built before `api`.
#
# workspace-ci-flow is in cargo make's repo (it's a default task). It calls this task
# as part of it's run. See
# https://github.com/sagiegurari/cargo-make/blob/master/src/lib/descriptor/makefiles/rust.toml
[tasks.pre-workspace-ci-flow]
script = '''
cargo build --release -p agent -p admin
'''

[tasks.build-debug-test-prerequisites]
script = '''
cargo build -p agent -p admin -p carbide-api
'''
workspace = false

[tasks.correctly-execute-tests]
dependencies = [
  "build-debug-test-prerequisites",
  "test",
]
workspace = false

[tasks.workspace-ci-flow]
args = ["--no-default-features"]

# workspace-ci-flow runs this on every crate in our workspace
[tasks.ci-flow]
dependencies = [
  "pre-ci-flow",
  "print-env-flow",
  "pre-build",
  "check-format-ci-flow",
  "clippy-ci-flow",
  "build-release",  # this the only change from cargo-make's src/lib/descriptor/makefiles/rust.toml
  "post-build",
  "test-flow",
  "examples-ci-flow",
  "bench-ci-flow",
  "outdated-ci-flow",
  "ci-coverage-flow",
  "post-ci-flow",
]

[tasks.clippy-ci-flow]
condition = { env_set = [ "CARGO_MAKE_RUN_CLIPPY" ] }

[tasks.helmupdate]
workspace = false
description = "Runs helm dependency builds in the right directories"
script = '''
for dir in charts/*/
do
  cd $dir
  helm dep update
  helm dep build
  cd -
done

'''

