# SPDX-FileCopyrightText: Copyright (c) 2021-2023 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: LicenseRef-NvidiaProprietary
#
# NVIDIA CORPORATION, its affiliates and licensors retain all intellectual
# property and proprietary rights in and to this material, related
# documentation and any modifications thereto. Any use, reproduction,
# disclosure or distribution of this material and related documentation
# without an express license agreement from NVIDIA CORPORATION or
# its affiliates is strictly prohibited.
[env]
CARGO_MAKE_EXTEND_WORKSPACE_MAKEFILE = true
REPO_ROOT = { script = ["dirname $(cargo locate-project --message-format plain --workspace)"] }
CARBIDE_ENVIRONMENT = { value = "local", condition = { env_not_set = [
  "CARBIDE_ENVIRONMENT",
] } }
FORGE_CA = { value = "nonprod", condition = { env_not_set = ["FORGE_CA"] } }
FORGE_CA_PATH = { value = "${REPO_ROOT}/dev/forge_${FORGE_CA}root.pem" }

[tasks.book]
workspace = false
command = "find"
args = ["public"]
dependencies = [
  "book-compile",
  #	"generate-database-schema",  # - needs build image changes.  Will update later.
]

[tasks.generate-database-schema]
workspace = false
command = "mermerd" # not a typo. go install github.com/KarnerTh/mermerd@latest
args = [
  '-c',
  "${DATABASE_URL}",
  '-s',
  'public',
  '--useAllTables',
  '--showAllConstraints',
  '--encloseWithMermaidBackticks',
  '-o',
  'book/src/development/schema.md',
]
# To generate manually:
# Start docker-compose and wait until all migrations are in the DB
# mermerd -c postgresql://carbide_development:REPLACE_WITH_PW@172.20.0.16 -s public --useAllTables --showAllConstraints --encloseWithMermaidBackticks -o book/src/development/schema.md
# docker pull minlag/mermaid-cli
# docker run --rm -u `id -u`:`id -g` -v /home/graham/src/carbide/book/src/development:/data minlag/mermaid-cli -i schema.md
# Copy it's output to `schema.svg`
# (I had to edit _sqlx_migrations table, it doesn't like the underscore)
# Add to top of schema.md:
#  [View SVG](schema.svg)

[tasks.build-cli-ci]
category = "Build"
description = "Build forge-scout and forge-admin-cli in CI"
workspace = false
script = '''
cargo build -p scout -p admin
'''

[tasks.build-cli]
category = "Build"
description = "Build forge-scout and forge-admin-cli locally using debian container. Ensures correct GCC version is used."
workspace = false
script = '''
docker run \
	--rm \
	--user $(id -u):$(id -g) \
	--volume $(pwd):/code \
	--workdir /code \
	--volume $HOME/.cargo:/cargo \
	--env CARGO_HOME=/cargo \
	-it urm.nvidia.com/swngc-ngcc-docker-local/forge/carbide/x86-64/build-container:latest \
	cargo build -p scout -p admin
'''

[tasks.build-health]
category = "Build"
description = "Build forge-hw-health locally using debian container."
workspace = false
script = '''
docker run \
	--rm \
	--user $(id -u):$(id -g) \
	--volume $(pwd):/code \
	--workdir /code \
	--volume $HOME/.cargo:/cargo \
	--env CARGO_HOME=/cargo \
	-it urm.nvidia.com/swngc-ngcc-docker-local/forge/carbide/x86-64/build-container:latest \
	cargo build -p health
'''

[tasks.check-cross-installed]
workspace = false
script = '''
#/usr/bin/env bash

which cross >/dev/null && exit 0

echo "!!!! ERROR: 'cross' binary not found. install with 'cargo install cross'. !!!!!"
exit 1
'''

[tasks.build-cli-cross-aarch64]
category = "Build"
description = "Build forge-scout and forge-admin-cli for aarch64, intended only for local artifact builds."
workspace = false
script = '''
cross build --target aarch64-unknown-linux-gnu -p scout -p admin
'''
dependencies = ["check-cross-installed", "build-cross-docker-image"]

[tasks.build-cross-docker-image]
category = "Build"
description = "Build cross docker image for aarch64, intended only for local artifact builds."
workspace = false
script = '''
#!/usr/bin/env bash

docker build ${REPO_ROOT}/dev/docker -f ${REPO_ROOT}/dev/docker/Dockerfile.build-artifacts-container-cross-aarch64 -t build-artifacts-container-cross-aarch64
'''

[tasks.build-x86-build-container]
category = "Kind"
description = "Build the x86 build container"
workspace = false
command = "docker"
args = [
  "build",
  "-t",
  "urm.nvidia.com/swngc-ngcc-docker-local/forge/carbide/x86-64/build-container:latest",
  "-f",
  "${REPO_ROOT}/dev/docker/Dockerfile.build-container-x86_64",
  ".",
]
cwd = "${REPO_ROOT}/dev/docker"

[tasks.build-arm-build-container]
category = "Kind"
description = "Build the ARM build container"
workspace = false
command = "docker"
args = [
  "build",
  "-t",
  "urm.nvidia.com/swngc-ngcc-docker-local/forge/carbide/arm64v8/build-container:latest",
  "-f",
  "${REPO_ROOT}/dev/docker/Dockerfile.build-container-arm",
  ".",
]
cwd = "${REPO_ROOT}/dev/docker"

[tasks.runtime-container]
category = "Docker Compose"
description = "Build the runtime container base image for Carbide components"
workspace = false
command = "docker"
args = ["build", "-t", "carbide-runtime:latest", ".", "-f", "dev/docker/Dockerfile.build-container-x86_64"]
env = { "DOCKER_BUILDKIT" = "1" }

[tasks.fullstack-up]
category = "Docker Compose"
description = "Brings up a full Carbide stack"
workspace = false
command = "docker-compose"
args = ["up", "-d", "--build"]
dependencies = [
  { name = "mkdir-static-x86_64", path = "${REPO_ROOT}/pxe" },
  { name = "mkdir-static-aarch64", path = "${REPO_ROOT}/pxe" },
]

[tasks.fullstack-down]
category = "Docker Compose"
description = "Brings down the full Carbide stack"
workspace = false
command = "docker-compose"
args = ["down", "-v"]

[tasks.fullstack-cert-renew]
category = "Docker Compose"
description = "Renews all the certificates in the containers and reloads the services"
workspace = false
dependencies = [
  { name = "fullstack-terraform", path = "include/Makefile-docker-compose.toml" },
  { name = "fullstack-refresh-postgresql", path = "include/Makefile-docker-compose.toml" },
]


[tasks.book-compile]
workspace = false
command = "mdbook"
args = ["build", "-d", "../public", "book"]

[tasks.attribution]
workspace = false
command = "cargo"
args = ["license", "--avoid-build-deps", "--avoid-dev-deps", "--json"]


[tasks.bootstrap-forge-base-docker]
category = "Bootstrap"
workspace = false
env = { "FORGE_BOOTSTRAP_KIND" = "docker" }
dependencies = [
  { name = "build-bootstrap-forge-base-docker", path = "include/Makefile-bootstrap.toml" },
]
[tasks.bootstrap-forge-base-kube]
category = "Bootstrap"
workspace = false
env = { "FORGE_BOOTSTRAP_KIND" = "kube" }
dependencies = [
  { name = "build-bootstrap-forge-base-kube", path = "include/Makefile-bootstrap.toml" },
]

[tasks.bootstrap-forge-dpu-discovery-docker]
category = "Bootstrap"
workspace = false
dependencies = [
  { name = "build-bootstrap-forge-dpu-discovery-docker", path = "include/Makefile-bootstrap.toml" },
]
[tasks.bootstrap-forge-dpu-discovery-kube]
category = "Bootstrap"
workspace = false
dependencies = [
  { name = "build-bootstrap-forge-dpu-discovery-kube", path = "include/Makefile-bootstrap.toml" },
]

[tasks.bootstrap-forge-vmhost-init-docker]
category = "Bootstrap"
workspace = false
run_task = [
  { name = "build-bootstrap-forge-vmhost-init-docker", path = "include/Makefile-bootstrap.toml" },
]

[tasks.bootstrap-forge-vmhost-init-kube]
category = "Bootstrap"
workspace = false
dependencies = [
  { name = "build-bootstrap-forge-vmhost-init-kube", path = "include/Makefile-bootstrap.toml" },
]

[tasks.bootstrap-forge-docker]
category = "Bootstrap"
workspace = false
dependencies = [
  { name = "build-bootstrap-forge-docker", path = "include/Makefile-bootstrap.toml" },
]
[tasks.bootstrap-forge-kube]
category = "Bootstrap"
workspace = false
dependencies = [
  { name = "build-bootstrap-forge-kube", path = "include/Makefile-bootstrap.toml" },
]


[tasks.test-instance-forge-docker]
workspace = false
dependencies = [
  { name = "test-instance-forge-docker", path = "include/Makefile-bootstrap.toml" },
]

[tasks.test-dpu-reprov-forge-docker]
workspace = false
dependencies = [
  { name = "test-dpu-reprov-forge-docker", path = "include/Makefile-bootstrap.toml" },
]

[tasks.pre-commit-verify]
description = "Runs the same set of tasks CI will."
category = "CI"
dependencies = ["pre-commit-verify-workspace", "build-and-test-release-container-services"]

[tasks.pre-commit-verify-workspace]
workspace = false
description = "Tasks that run on workspace level (not crate level) in pre-commit-verify"
category = "CI"
# clippy-flow, check-format-flow are default targets provided by cargo-make.
dependencies = ["clippy-flow", "check-format-flow"]

[tasks.clippy]
workspace = false
description = "Runs clippy code linter."
category = "Test"
dependencies = ["install-clippy"]
command = "cargo"
args = ["clippy", "--tests"]

[tasks.build-debug-test-prerequisites]
script = '''
cargo build -p agent -p admin -p carbide-api
'''
workspace = false

[tasks.correctly-execute-tests]
dependencies = ["build-debug-test-prerequisites", "test"]
workspace = false

[tasks.build-and-test-release-container-services]
workspace = false
dependencies = [
  "build-release", # Start with release builds, since some artifacts are used in integration tests
  "test-flow", # Then run all tests
]

[tasks.clippy-ci-flow]
condition = { env_set = ["CARGO_MAKE_RUN_CLIPPY"] }

[tasks.helmupdate]
workspace = false
description = "Runs helm dependency builds in the right directories"
script = '''
for dir in charts/*/
do
  cd $dir
  helm dep update
  helm dep build
  cd -
done

'''
