ExternalConfigs: 
  - "shoreline"
Tests:
  Shoreline:
    Runbook:
      ForgeRunBook:
        ContainerImageName: "docker.io/shorelinesoftware/agent:release-24.0.22-multiarch-lt"
        ContainerArg: --net-host  --env-file /tmp/machine_validation/external_config/shoreline --mount type=bind,src=/opt/shorelineagent/databases,dst=/agent/databases,options=rbind:rw   --mount type=bind,src=/opt/shorelineagent/onprem,dst=/agent/onprem,options=rbind:rw   --mount type=bind,src=/opt/shorelineagent/secrets,dst=/agent/secrets,options=rbind:rw   --mount type=bind,src=/opt/shorelineagent/scraper.yml,dst=/agent/etc/scraper.yml,options=rbind:rw   --mount type=bind,src=/root/.ssh,dst=/agent/.host_ssh,options=rbind:ro   --mount type=bind,src=/opt/shorelineagent/shoreline,dst=/agent/host-etc-shoreline,options=rbind:ro   --memory-limit 524288000   --cpus 0.5
        RequiredExternalConfigFile: shoreline
        Command: ""
        Desc: "Shoreline Runbook"
        ExtraOutputFile: "/tmp/output"
        ExtraErrFile: "/tmp/error"
        Args: ""
        Contexts:
          - Discovery
          - Cleanup
  Dcgm:
    Diag:
      DcgmFullLong:
        Command: "dcgmi "
        Desc: "Full DCGM diag test for 5 min"
        Args: " diag -r 3"
        PreCondition: "nvidia-smi"
        Contexts:
          - Discovery
      DcgmFullShort:
        Command: "dcgmi "
        Desc: "Full DCGM diag test for seconds"
        Args: " diag -r 2"
        PreCondition: "nvidia-smi"
        Contexts:
          - Cleanup
  Stresser:
    Perf:
      MqStresserLong:
        Command: "stress-ng "
        Desc: "stress ng mq stresser for 30"
        Args: " --mq 0 -t 120s --times --perf"
        Contexts:
          - Cleanup
      MqStresserShort:
        Command: "stress-ng "
        Desc: "stress ng mq stresser for 30"
        Args: " --mq 0 -t 30s --times --perf"
        Contexts:
          - Cleanup
  Memory:
    Stress:
      MemoryTestLong:
        Command: "stress-ng "
        Desc: "Memory Stress Test"
        Args: " -t 120s --vm 4 --vm-bytes 90% --vm-keep"
        Contexts:
          - Discovery
      MemoryTestShort:
        Command: "stress-ng "
        Desc: "Memory Stress Test"
        Args: " -t 10s --vm 4 --vm-bytes 90% --vm-keep"
        Contexts:
          - Cleanup

  CPU:
    Stress:
      CPUTestLong:
        Command: "stress-ng "
        Desc: "CPU Stress Test"
        Args: " -t 120s --cpu -1 --cpu-method matrixprod"
        Contexts:
          - Discovery
      CPUTestShort:
        Command: "stress-ng "
        Desc: "CPU Stress Test"
        Args: " -t 10s --cpu -1 --cpu-method matrixprod"
        Contexts:
          - Cleanup