---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.9.0
  creationTimestamp: null
  name: resourcegroups.resource.vpc.forge.gitlab-master.nvidia.com
spec:
  group: resource.vpc.forge.gitlab-master.nvidia.com
  names:
    kind: ResourceGroup
    listKind: ResourceGroupList
    plural: resourcegroups
    singular: resourcegroup
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.network
      name: Network
      type: string
    - jsonPath: .status.dhcpCircID
      name: DHCPCircID
      type: string
    - jsonPath: .status.fabricNetworkConfiguration.vni
      name: VNI
      type: string
    - jsonPath: .status.fabricNetworkConfiguration.vlanID
      name: VLAN
      type: string
    - jsonPath: .status.conditions[0].status
      name: Status
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: ResourceGroup is the Schema for the resourcegroups API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: ResourceGroupSpec defines the desired state of ResourceGroup.
            properties:
              dhcpServer:
                description: DHCPServer is the IPAddress of the DHCP server (i.e.
                  Carbide) for ManagedResources in this ResourceGroup.
                type: string
              fabricIPPool:
                description: FabricIPPool is used to assign fabric routable IPs to
                  tenant hosts on the overlay network.
                type: string
              network:
                description: Network defines the overlay L2 network for this ResourceGroup.
                  It is immutable.
                properties:
                  gateway:
                    description: Gateway is the default gateway for IPv4 subnet.
                    type: string
                  ip:
                    description: IPAddress is IPv4 or IPv6 Addresse types.
                    type: string
                  prefixLength:
                    format: int32
                    type: integer
                type: object
              networkImplementationType:
                description: NetworkImplementationType is the backend implementing
                  the l2 overlay network. Default to "Fabric".
                type: string
              overlayIPPool:
                description: OverlayIPPool is used to allocate overlay IP ranges on
                  tenant's behave.
                type: string
              tenantIdentifier:
                description: TenantIdentifier identifies the tenant associated with
                  this ResourceGroup.
                type: string
            type: object
          status:
            description: ResourceGroupStatus defines the observed state of ResourceGroup
            properties:
              conditions:
                description: Conditions specifies responses of ResourceGroup create/delete/update.
                items:
                  description: ResourceGroupCondition defines responses of ResourceGroup
                    create/delete/update.
                  properties:
                    lastTransitionTime:
                      description: LastTransitionTime is the last transaction time
                        for this ResourceGroup.
                      format: date-time
                      type: string
                    message:
                      description: Message is message from the transaction.
                      type: string
                    reason:
                      description: Reason is reason for the transaction.
                      type: string
                    status:
                      description: Status is ResourceGroupCondition status.
                      type: string
                    type:
                      description: Type is ResourceGroupCondition type.
                      type: string
                  type: object
                type: array
              dhcpCircID:
                description: DHCPCircID is DHCP option 82 - circuit ID. This is the
                  interface name on which DHCP requests for this ResourceGroup are
                  received on.
                type: string
              fabricNetworkConfiguration:
                description: FabricNetworkConfiguration is the fabric configuration
                  supporting this overlay network.
                properties:
                  vlanID:
                    description: VlanID is the ID of VLAN interfaces for this overlay
                      network
                    format: int32
                    maximum: 4095
                    minimum: 2
                    type: integer
                  vni:
                    description: VNI is the vni for this overlay network.
                    format: int32
                    maximum: 16777215
                    minimum: 4096
                    type: integer
                  vrf:
                    description: VRF is the VRF name for this overlay network. TODO,
                      Do we need VRF ??
                    type: string
                type: object
              managedResourceCount:
                description: ManagedResourceCount is the number of ManagedResources
                  in the ResourceGroup.
                format: int64
                type: integer
              network:
                description: Network is the overlay L2 network for this ResourceGroup.
                  If Spec.Network is defined, this is same network, otherwise it is
                  auto-allocated.
                properties:
                  gateway:
                    description: Gateway is the default gateway for IPv4 subnet.
                    type: string
                  ip:
                    description: IPAddress is IPv4 or IPv6 Addresse types.
                    type: string
                  prefixLength:
                    format: int32
                    type: integer
                type: object
              snatIPs:
                description: SNATIPs is the snat IPs for overlay traffic entering
                  network fabric.
                items:
                  description: IPAddress is IPv4 or IPv6 Addresse types.
                  type: string
                type: array
              softwareNetworkConfiguration:
                description: SoftwareNetworkConfiguration is the software defined
                  overlay network configuration.
                properties:
                  LogicalNetwork:
                    description: LogicalNetwork is logical network name.
                    type: string
                  ovnServiceName:
                    description: OvnService is the OVN central service name.
                    type: string
                type: object
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
