apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: mutating-webhook-configuration
webhooks:
  - name: mconfigurationresourcepool.kb.io
    namespaceSelector:
      matchLabels:
        namespace: $(SERVICE_NAMESPACE)
  - name: mleaf.kb.io
    namespaceSelector:
      matchLabels:
        namespace: $(SERVICE_NAMESPACE)
  - name: mmanagedresource.kb.io
    namespaceSelector:
      matchLabels:
        namespace: $(SERVICE_NAMESPACE)
  - name: mresourcegroup.kb.io
    namespaceSelector:
      matchLabels:
        namespace: $(SERVICE_NAMESPACE)
  - name: mnetworkpolicy.kb.io
    namespaceSelector:
      matchLabels:
        namespace: $(SERVICE_NAMESPACE)
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: validating-webhook-configuration
webhooks:
  - name: vconfigurationresourcepool.kb.io
    namespaceSelector:
      matchLabels:
        namespace: $(SERVICE_NAMESPACE)
  - name: vleaf.kb.io
    namespaceSelector:
      matchLabels:
        namespace: $(SERVICE_NAMESPACE)
  - name: vmanagedresource.kb.io
    namespaceSelector:
      matchLabels:
        namespace: $(SERVICE_NAMESPACE)
  - name: vresourcegroup.kb.io
    namespaceSelector:
      matchLabels:
        namespace: $(SERVICE_NAMESPACE)
  - name: vnetworkpolicy.kb.io
    namespaceSelector:
      matchLabels:
        namespace: $(SERVICE_NAMESPACE)
