---
extensions:
  file_storage/cursors:
    directory: /var/lib/otelcol-contrib/cursors
    fsync: true

receivers:
  filelog:
    include:
      - /var/log/doca/hbn/frr/frr.log
    include_file_name: false
    include_file_path: true
    start_at: beginning
    storage: file_storage/cursors
    operators:
      - type: regex_parser
        regex: "^(?P<timestamp>\\w{3}\\s+\\d{1,2}\\s+\\d{2}:\\d{2}:\\d{2})\\s+\
          (?P<hostname>\\S+)\\s+\
          (?P<program>\\S+)\\[(?P<pid>\\d+)\\]:\\s+\
          (?P<identifiers>(\\[[^\\]]+\\])+)\\s*\
          (?:\
            (?P<frr_record_type>%\\w+):\
            |\
            (?:(?P<device>\\S+)\\s+(?P<severity>\\[(?:Error|Warn|Info|Debug)\\]))\
          )?\\s*\
          (?P<message>.*)$"
        timestamp:
          parse_from: attributes.timestamp
          layout: '%b %e %H:%M:%S'
        severity:
          parse_from: attributes.severity
          mapping:
            error: '[Error]'
            warn: '[Warn]'
            info: '[Info]'
            debug: '[Debug]'

  journald:
    directory: /var/log/journal
    units:
      - forge-dpu-agent
    storage: file_storage/cursors
    operators:
      # If you want to extract more than a few key=value pairs, use
      # key_value_parser in place of regex_parser to just parse them all then
      # drop unwanted pairs in the transform processor.
      - type: regex_parser
        regex: 'level=(?P<level>\w+)'
        parse_from: body.MESSAGE
        severity:
          parse_from: attributes.level
          mapping:
            error: 'ERROR'
            warn: 'WARN'
            info: 'INFO'
            debug: 'DEBUG'

  prometheus:
    config:
      scrape_configs:
        - job_name: 'otel-collector'
          scrape_interval: 10s
          file_sd_configs:
            - files: ["/etc/otelcol-contrib/fd_configs/fd_discovery.yaml"]
          relabel_configs:
            - source_labels: [__address__]
              regex: '[^:]+(:\d+)'
              target_label: __port
            - source_labels: [ipaddress, __port]
              separator: ''
              regex: '(.*)'
              target_label: instance
            - regex: '^ipaddress$'
              action: labeldrop
          metric_relabel_configs:
            # Apply the prefix to a new label called "prefix"
            - source_labels: [__name__]
              regex: '^(.*)_eth_(?:rx|tx)(?:_.*)?_errors$'
              target_label: prefix
              replacement: '$$1'
              action: replace
            - source_labels: [__name__]
              regex: '^(.*)_eth_(?:rx|tx)_dropped$'
              target_label: prefix
              replacement: '$$1'
              action: replace
            # Strip the prefix from the metric name
            - source_labels: [__name__]
              regex: '^.*_(eth_(?:rx|tx)(?:_.*)?_errors)$'
              target_label: __name__
              replacement: '$$1'
              action: replace
            - source_labels: [__name__]
              regex: '^.*_(eth_(?:rx|tx)_dropped)$'
              target_label: __name__
              replacement: '$$1'
              action: replace

  hostmetrics:
    collection_interval: 10s
    initial_delay: 5s
    scrapers:
      load:
      cpu:
      memory:
      process:
        mute_process_cgroup_error: true
        mute_process_exe_error: true
        mute_process_name_error: true
        mute_process_io_error: true
        include:
          match_type: strict
          names:
            - bgpd
            - clx
            - forge-dpu-agent
            - neighmgrd
            - nl2docad
            - nvued
            - otelcol-contrib
            - ovs-vswitchd
            - ovsdb-server
            - rsyslogd
            - supervisord
            - zebra
      network:
      processes:

  hostmetrics/disk:
    collection_interval: 1m
    scrapers:
      disk:
      filesystem:
      paging:

processors:
  batch/logs:
    send_batch_size: 8192
    timeout: 5s
  batch/metrics:
    send_batch_size: 8192
    timeout: 15s
  batch/metrics-disk:
    send_batch_size: 8192
    timeout: 75s
  memory_limiter:
    check_interval: 1s
    limit_percentage: 50
    spike_limit_percentage: 20
  resource/logs-journald:
    attributes:
      - key: group
        value: journald
        action: upsert
  resource/logs-hbn:
    attributes:
      - key: group
        value: hbn
        action: upsert
  resourcedetection:
    # Add hostname at the resource level
    detectors: ["system"]
    system:
      hostname_sources: ["os"]
      resource_attributes:
        host.name:
          enabled: true
        os.type:
          enabled: false
        host.id:
          enabled: false
  # Remove all but the "MESSAGE" and "_SYSTEMD_UNIT" keys from each log record
  transform/journald:
    error_mode: ignore
    log_statements:
      - context: log
        statements:
          - keep_keys(body, ["MESSAGE", "_SYSTEMD_UNIT"])
          - set(attributes["systemd.unit"], body["_SYSTEMD_UNIT"])
          - set(body, body["MESSAGE"])
          - delete_key(attributes, "level")
  transform/frr:
    # - Omit optional log fields when the value is empty.
    # - Always delete the temporary "severity" attribute because it was already
    #   mapped by the filelog receiver to a standard OpenTelemetry
    #   severityNumber, and the mapping preserved the original text as
    #   severityText.
    # - Always delete the temporary "timestamp" attribute because it was
    #   translated to timeUnixNano by the filelog receiver.
    error_mode: ignore
    log_statements:
      - context: log
        statements:
          - delete_key(attributes, "device") where attributes["device"] == ""
          - delete_key(attributes, "frr_record_type") where attributes["frr_record_type"] == ""
          - delete_key(attributes, "timestamp")
          - delete_key(attributes, "severity")

exporters:
  otlp/site:
    endpoint: otel-receiver.forge:443
    tls:
      ca_file: /opt/forge/forge_root.pem
  prometheus:
    endpoint: "127.0.0.1:9999"
    resource_to_telemetry_conversion:
      enabled: true

service:
  pipelines:
    logs/journald:
      receivers: [journald]
      processors:
        - memory_limiter
        - resourcedetection
        - resource/logs-journald
        - transform/journald
        - batch/logs
      exporters: [otlp/site]
    logs/frr:
      receivers: [filelog]
      processors:
        - memory_limiter
        - resourcedetection
        - resource/logs-hbn
        - transform/frr
        - batch/logs
      exporters: [otlp/site]
    metrics:
      receivers: [prometheus]
      processors:
        - memory_limiter
        - resourcedetection
        - batch/metrics
      exporters: [otlp/site, prometheus]
    metrics/hostmetrics:
      receivers: [hostmetrics]
      processors:
        - memory_limiter
        - resourcedetection
        - batch/metrics
      exporters: [otlp/site, prometheus]
    metrics/hostmetrics-disk:
      receivers: [hostmetrics/disk]
      processors:
        - memory_limiter
        - resourcedetection
        - batch/metrics-disk
      exporters: [otlp/site, prometheus]
  extensions: [file_storage/cursors]
  # Internal otel collector metrics by default are exposed on port 8888,
  # already in use by Forge, causing otelcol-contrib to terminate with an
  # error.
  telemetry:
    metrics:
      level: none
