extensions:
  file_storage/cursors:
    directory: /var/lib/otelcol-contrib/cursors
    fsync: true

receivers:
  journald:
    directory: /var/log/journal
    units:
      - forge-dpu-agent
    storage: file_storage/cursors
  prometheus:
    config:
      scrape_configs:
        - job_name: 'otel-collector'
          scrape_interval: 10s
          file_sd_configs:
            - files:
              - fd_configs/fd_discovery.yaml
          relabel_configs:
            - source_labels: [__address__]
              regex: '[^:]+(:\d+)'
              target_label: __port
            - source_labels: [ipaddress, __port]
              separator: ''
              regex: '(.*)'
              target_label: instance
            - regex: '^ipaddress$'
              action: labeldrop

  hostmetrics:
    collection_interval: 10s
    initial_delay: 5s
    scrapers:
      load:
      cpu:
      memory:
      process:
        mute_process_cgroup_error: true
        mute_process_exe_error: true
        mute_process_name_error: true
        mute_process_io_error: true
      network:
      processes:

  hostmetrics/disk:
    collection_interval: 1m
    scrapers:
      disk:
      filesystem:
      paging:

processors:
  batch: {}
  batch/metrics:
    timeout: 0s
  memory_limiter:
    check_interval: 1s
    limit_percentage: 50
    spike_limit_percentage: 20
  # Add hostname at the resource level
  resourcedetection:
    detectors: ["system"]
    system:
      hostname_sources: ["os"]
      resource_attributes:
        host.name:
          enabled: true
        os.type:
          enabled: false
        host.id:
          enabled: false
  # Remove all but the "MESSAGE" and "_SYSTEMD_UNIT" keys from each log record
  transform:
    error_mode: ignore
    log_statements:
      - context: log
        statements:
          - set(cache["MESSAGE"], body["MESSAGE"])
          - set(cache["_SYSTEMD_UNIT"], body["_SYSTEMD_UNIT"])
          - set(body, cache)

exporters:
  otlp/site:
    endpoint: otel-receiver.forge:443
    tls:
      ca_file: /opt/forge/forge_root.pem
  prometheus:
    endpoint: "127.0.0.1:9999"
    resource_to_telemetry_conversion:
      enabled: true

service:
  pipelines:
    logs:
      receivers: [journald]
      processors: [memory_limiter, batch, resourcedetection, transform]
      exporters: [otlp/site]
    metrics:
      receivers: [prometheus, hostmetrics, hostmetrics/disk]
      processors: [memory_limiter, batch/metrics, resourcedetection]
      exporters: [prometheus, otlp/site]
  extensions: [file_storage/cursors]
  # Turn off otel collector metrics (which by default are exposed on port 8888,
  # already in use by Forge, and cause the service to terminate with an error)
  telemetry:
    metrics:
      level: none
