---
extensions:
  file_storage/cursors:
    directory: /var/lib/otelcol-contrib/cursors
    fsync: true

receivers:
  journald:
    directory: /var/log/journal
    units:
      - forge-dpu-agent
    storage: file_storage/cursors

  prometheus:
    config:
      scrape_configs:
        - job_name: 'otel-collector'
          scrape_interval: 10s
          file_sd_configs:
            - files: ["fd_configs/fd_discovery.yaml"]
          relabel_configs:
            - source_labels: [__address__]
              regex: '[^:]+(:\d+)'
              target_label: __port
            - source_labels: [ipaddress, __port]
              separator: ''
              regex: '(.*)'
              target_label: instance
            - regex: '^ipaddress$'
              action: labeldrop

  prometheus/doca:
    config:
      scrape_configs:
        - job_name: 'doca_telemetry'
          static_configs:
            - targets: ['0.0.0.0:9100']
          metric_relabel_configs:
            # 'regex: >-' syntax converts newlines into single space, which the
            # Prometheus regular expression parser can't handle. The multiline
            # regex needs to be concatenated into a single-line string with no
            # delimiting whitespace at all.
            - source_labels: [__name__]
              regex: "^(?:hw_port_state|\
                ib_port_state|\
                link_downed|\
                link_error_recovery|\
                .*_eth_(?:rx|tx)(?:_.*)?_errors|\
                .*_eth_(?:rx|tx)_dropped)$"
              action: keep
            # Apply the prefix to a new label called "prefix"
            - source_labels: [__name__]
              regex: '^(.*)_eth_(?:rx|tx)(?:_.*)?_errors$'
              target_label: prefix
              replacement: '$$1'
              action: replace
            - source_labels: [__name__]
              regex: '^(.*)_eth_(?:rx|tx)_dropped$'
              target_label: prefix
              replacement: '$$1'
              action: replace
            # Strip the prefix from the metric name
            - source_labels: [__name__]
              regex: '^.*_(eth_(?:rx|tx)(?:_.*)?_errors)$'
              target_label: __name__
              replacement: '$$1'
              action: replace
            - source_labels: [__name__]
              regex: '^.*_(eth_(?:rx|tx)_dropped)$'
              target_label: __name__
              replacement: '$$1'
              action: replace

  hostmetrics:
    collection_interval: 10s
    initial_delay: 5s
    scrapers:
      load:
      cpu:
      memory:
      process:
        mute_process_cgroup_error: true
        mute_process_exe_error: true
        mute_process_name_error: true
        mute_process_io_error: true
      network:
      processes:

  hostmetrics/disk:
    collection_interval: 1m
    scrapers:
      disk:
      filesystem:
      paging:

  prometheus/internal-telemetry:
    config:
      scrape_configs:
        - job_name: dpu-otelcol-telemetry
          scrape_interval: 10s
          static_configs:
            - targets: ["127.0.0.1:8889"]

processors:
  batch: {}
  batch/internal-telemetry:
    send_batch_size: 8192
    timeout: 200ms
  batch/metrics:
    timeout: 0s
  filter/metrics-site:
    error_mode: ignore
    metrics:
      metric:
        - 'IsMatch(name, "^process.*")'
  filter/metrics-doca-eth-dropped:
    metrics:
      include:
        match_type: regexp
        metric_names:
          - '^eth_(?:rx|tx)_dropped$'
  filter/metrics-doca-eth-error:
    metrics:
      include:
        match_type: regexp
        metric_names:
          - '^eth_(?:rx|tx)(?:_.*)?_errors$'
  filter/metrics-doca-flapping:
    metrics:
      include:
        match_type: strict
        metric_names:
          - link_downed
          - link_error_recovery
  filter/metrics-doca-ports:
    metrics:
      include:
        match_type: strict
        metric_names:
          - hw_port_state
          - ib_port_state
  memory_limiter:
    check_interval: 1s
    limit_percentage: 50
    spike_limit_percentage: 20
  memory_limiter/internal-telemetry:
    check_interval: 1s
    limit_mib: 512
    spike_limit_mib: 128
  resource:
    attributes:
      - action: insert
        key: exporter
        value: "forge-dpu"
  resource/metrics-doca-eth-dropped:
    attributes:
      - key: group
        value: doca_eth_dropped
        action: upsert
  resource/metrics-doca-eth-error:
    attributes:
      - key: group
        value: doca_eth_error
        action: upsert
  resource/metrics-doca-flapping:
    attributes:
      - key: group
        value: doca_flapping
        action: upsert
  resource/metrics-doca-ports:
    attributes:
      - key: group
        value: doca_ports
        action: upsert
  resourcedetection:
    # Add hostname at the resource level
    detectors: ["system"]
    system:
      hostname_sources: ["os"]
      resource_attributes:
        host.name:
          enabled: true
        os.type:
          enabled: false
        host.id:
          enabled: false
  # Remove all but the "MESSAGE" and "_SYSTEMD_UNIT" keys from each log record
  transform:
    error_mode: ignore
    log_statements:
      - context: log
        statements:
          - keep_keys(body, ["MESSAGE", "_SYSTEMD_UNIT"])
          - set(attributes["systemd.unit"], body["_SYSTEMD_UNIT"])
  # Avoid "duplicate label name" errors on the site controller
  transform/internal-telemetry:
    error_mode: ignore
    metric_statements:
      - context: resource
        statements:
          - delete_key(attributes, "service.instance.id")
          - set(attributes["job.name"], attributes["service.name"])
          - delete_key(attributes, "service.name")

exporters:
  otlp/site:
    endpoint: otel-receiver.forge:443
    tls:
      ca_file: /opt/forge/forge_root.pem
  prometheus:
    endpoint: "127.0.0.1:9999"
    resource_to_telemetry_conversion:
      enabled: true

service:
  pipelines:
    logs:
      receivers: [journald]
      processors:
        - memory_limiter
        - resourcedetection
        - resource
        - transform
        - batch
      exporters: [otlp/site]
    metrics:
      receivers: [prometheus, hostmetrics, hostmetrics/disk]
      processors:
        - memory_limiter
        - resourcedetection
        - batch/metrics
      exporters: [prometheus]
    metrics/doca-eth-dropped:
      receivers: [prometheus/doca]
      processors:
        - memory_limiter
        - filter/metrics-doca-eth-dropped
        - resourcedetection
        - resource/metrics-doca-eth-dropped
        - batch
      exporters: [otlp/site]
    metrics/doca-eth-error:
      receivers: [prometheus/doca]
      processors:
        - memory_limiter
        - filter/metrics-doca-eth-error
        - resourcedetection
        - resource/metrics-doca-eth-error
        - batch
      exporters: [otlp/site]
    metrics/doca-flapping:
      receivers: [prometheus/doca]
      processors:
        - memory_limiter
        - filter/metrics-doca-flapping
        - resourcedetection
        - resource/metrics-doca-flapping
        - batch
      exporters: [otlp/site]
    metrics/doca-ports:
      receivers: [prometheus/doca]
      processors:
        - memory_limiter
        - filter/metrics-doca-ports
        - resourcedetection
        - resource/metrics-doca-ports
        - batch
      exporters: [otlp/site]
    metrics/site:
      receivers: [prometheus, hostmetrics, hostmetrics/disk]
      processors:
        - memory_limiter
        - resourcedetection
        - filter/metrics-site
        - batch/metrics
      exporters: [otlp/site]
    metrics/telemetry:
      receivers: [prometheus/internal-telemetry]
      processors:
        - memory_limiter/internal-telemetry
        - resourcedetection
        - transform/internal-telemetry
        - batch/internal-telemetry
      exporters: [otlp/site]
  extensions: [file_storage/cursors]
  # Internal otel collector metrics by default are exposed on port 8888,
  # already in use by Forge, causing otelcol-contrib to terminate with an
  # error.
  telemetry:
    metrics:
      address: "127.0.0.1:8889"
      level: normal
