---
extensions:
  file_storage/cursors:
    directory: /var/lib/otelcol-contrib/cursors
    fsync: true

receivers:
  journald:
    directory: /var/log/journal
    units:
      - forge-dpu-agent
    storage: file_storage/cursors

  prometheus:
    config:
      scrape_configs:
        - job_name: 'otel-collector'
          scrape_interval: 10s
          file_sd_configs:
            - files: ["fd_configs/fd_discovery.yaml"]
          relabel_configs:
            - source_labels: [__address__]
              regex: '[^:]+(:\d+)'
              target_label: __port
            - source_labels: [ipaddress, __port]
              separator: ''
              regex: '(.*)'
              target_label: instance
            - regex: '^ipaddress$'
              action: labeldrop

  hostmetrics:
    collection_interval: 10s
    initial_delay: 5s
    scrapers:
      load:
      cpu:
      memory:
      process:
        mute_process_cgroup_error: true
        mute_process_exe_error: true
        mute_process_name_error: true
        mute_process_io_error: true
      network:
      processes:

  hostmetrics/disk:
    collection_interval: 1m
    scrapers:
      disk:
      filesystem:
      paging:

  prometheus/internal-telemetry:
    config:
      scrape_configs:
        - job_name: dpu-otelcol-telemetry
          scrape_interval: 10s
          static_configs:
            - targets: ["127.0.0.1:8889"]

processors:
  batch: {}
  batch/internal-telemetry:
    send_batch_size: 8192
    timeout: 200ms
  batch/metrics:
    timeout: 0s
  filter/metrics-site:
    error_mode: ignore
    metrics:
      metric:
        - 'IsMatch(name, "^process.*")'
  memory_limiter:
    check_interval: 1s
    limit_percentage: 50
    spike_limit_percentage: 20
  memory_limiter/internal-telemetry:
    check_interval: 1s
    limit_mib: 512
    spike_limit_mib: 128
  resource:
    attributes:
      - action: insert
        key: exporter
        value: "forge-dpu"
  # Add hostname at the resource level
  resourcedetection:
    detectors: ["system"]
    system:
      hostname_sources: ["os"]
      resource_attributes:
        host.name:
          enabled: true
        os.type:
          enabled: false
        host.id:
          enabled: false
  # Remove all but the "MESSAGE" and "_SYSTEMD_UNIT" keys from each log record
  transform:
    error_mode: ignore
    log_statements:
      - context: log
        statements:
          - keep_keys(body, ["MESSAGE", "_SYSTEMD_UNIT"])
          - set(attributes["systemd.unit"], body["_SYSTEMD_UNIT"])
  # Avoid "duplicate label name" errors on the site controller
  transform/internal-telemetry:
    error_mode: ignore
    metric_statements:
      - context: resource
        statements:
          - delete_key(attributes, "service.instance.id")
          - set(attributes["job.name"], attributes["service.name"])
          - delete_key(attributes, "service.name")

exporters:
  otlp/site:
    endpoint: otel-receiver.forge:443
    tls:
      ca_file: /opt/forge/forge_root.pem
  prometheus:
    endpoint: "127.0.0.1:9999"
    resource_to_telemetry_conversion:
      enabled: true

service:
  pipelines:
    logs:
      receivers: [journald]
      processors:
        - memory_limiter
        - resourcedetection
        - resource
        - transform
        - batch
      exporters: [otlp/site]
    metrics:
      receivers: [prometheus, hostmetrics, hostmetrics/disk]
      processors:
        - memory_limiter
        - resourcedetection
        - batch/metrics
      exporters: [prometheus]
    metrics/site:
      receivers: [prometheus, hostmetrics, hostmetrics/disk]
      processors:
        - memory_limiter
        - resourcedetection
        - filter/metrics-site
        - batch/metrics
      exporters: [otlp/site]
    metrics/telemetry:
      receivers: [prometheus/internal-telemetry]
      processors:
        - memory_limiter/internal-telemetry
        - resourcedetection
        - transform/internal-telemetry
        - batch/internal-telemetry
      exporters: [otlp/site]
  extensions: [file_storage/cursors]
  # Internal otel collector metrics by default are exposed on port 8888,
  # already in use by Forge, causing otelcol-contrib to terminate with an
  # error.
  telemetry:
    metrics:
      address: "127.0.0.1:8889"
      level: normal
