apiVersion: v1
kind: ConfigMap
metadata:
  name: kea-dhcp-configuration
  namespace: default
data:
  kea_config.conf: |-
    {
    "Dhcp4": {
      // Add names of your network interfaces to listen on.
      "interfaces-config": {
        "interfaces": [ "eth0" ],

        // Relay only
        "dhcp-socket-type": "udp"
      },

      "lease-database": {
        "type": "memfile",
        "lfc-interval": 3600
      },

      "renew-timer": 900,
      "rebind-timer": 1800,
      "valid-lifetime": 3600,

      // Another thing possible here are hooks. Kea supports a powerful mechanism
      // that allows loading external libraries that can extract information and
      // even influence how the server processes packets.
      "hooks-libraries": [
        {
          // Carbide provides host provisioning workflow
          "library": "/usr/lib/x86_64-linux-gnu/kea/hooks/libdhcp.so",
          "parameters": {
            "carbide-api-url": "http://carbide-api:1079",
            "carbide-provisioning-server-ipv4": "127.0.0.1"
          }
        }
      ],
      "subnet4": [
        {
          "subnet": "0.0.0.0/0",
          "pools": [{
            "pool": "0.0.0.0-255.255.255.255"
          }]
        }
      ],

      "loggers": [
        {
          "name": "*",
          "output_options": [
            {
              "output": "stdout"
            }
          ],
          "severity": "DEBUG",
          "debuglevel": 10
        }		]
      }
    }

