[Unit]
Description=Forge DPU agent service
After=networking.service

[Service]
Type=simple
Environment="RUST_BACKTRACE=1"
Environment="RUST_LOG=debug"
ExecStart=/usr/bin/forge-dpu-agent

[Install]
WantedBy=multi-user.target
