[Unit]
Description=OpenTelemetry Collector Contrib
Documentation=https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/receiver/journaldreceiver
After=networking.service network-online.target time-sync.target containerd@mgmt.service cloud-final.service
StartLimitIntervalSec=300
StartLimitBurst=5

[Service]
ExecStart=ip vrf exec mgmt /etc/otelcol-contrib/otelcol-wrapper
KillMode=mixed
Restart=always
RestartSec=5

Type=simple
User=root
Group=root

[Install]
WantedBy=multi-user.target
