[tasks.build-user-data-artifacts-x86_64]
dependencies = [
    "build",
    "copy-cli-to-pxe-x86_64",
    "package-user-data-artifacts-x86_64",
    "upload-user-data-artifacts-x86_64",
]

[tasks.build-user-data-artifacts-x86_64-ci]
dependencies = [
    "build",
    "copy-cli-to-pxe-x86_64",
    "package-user-data-artifacts-x86_64",
    "upload-user-data-artifacts-x86_64",
]

[tasks.build-user-data-artifacts-aarch64]
dependencies = [
    "build",
    "copy-cli-to-pxe-aarch64",
    "download-hbn-installer",
    "package-user-data-artifacts-aarch64",
    "upload-user-data-artifacts-aarch64",
]

[tasks.build-user-data-artifacts-aarch64-ci]
dependencies = [
    "build",
    "copy-cli-to-pxe-aarch64",
    "download-hbn-installer",
    "package-user-data-artifacts-aarch64",
    "upload-user-data-artifacts-aarch64",
]

[tasks.copy-cli-to-pxe-x86_64]
category = "User Data"
description = "copy the cli to the pxe directories"
command = "cp"
args = [
    "../../../../../target/debug/carbide-cli",
    ".",
]
cwd = "../pxe/static/blobs/internal/x86_64"

[tasks.copy-cli-to-pxe-aarch64]
category = "User Data"
description = "copy the cli to the pxe directories"
command = "cp"
args = [
    "../../../../../target/debug/carbide-cli",
    ".",
]
cwd = "../pxe/static/blobs/internal/aarch64"

[tasks.download-hbn-installer]
category = "User Data"
description = "Download the HBN installer on aarch64 gitlab runner"
command = "wget"
args = [
    "https://api.ngc.nvidia.com/v2/resources/nvidia/doca/doca_container_configs/versions/1.3.0/zip",
    "-O",
    "doca_container_configs_1.3.0.zip",
]
cwd = "../pxe/static/blobs/internal/aarch64"

[tasks.package-user-data-artifacts-x86_64]
category = "User Data"
description = "Package x86_64 EFI iPXE user data artifacts"
command = "tar"
args = [ "-czvf", "${CI_PROJECT_DIR}/forge-user-data-artifacts-${CI_BUILD_ID}.tar.gz", "carbide-cli"]
cwd = "../pxe/static/blobs/internal/x86_64"

[tasks.package-user-data-artifacts-aarch64]
category = "User Data"
description = "Package aarch64 EFI iPXE user data artifacts"
command = "tar"
args = [
    "-czvf",
    "${CI_PROJECT_DIR}/forge-user-data-artifacts-${CI_BUILD_ID}.tar.gz",
    "carbide-cli",
    "doca_container_configs_1.3.0.zip"
]
cwd = "../pxe/static/blobs/internal/aarch64"

[tasks.upload-user-data-artifacts-x86_64]
category = "User Data"
description = "Upload x86_64 EFI iPXE user data artifacts"
command = "/usr/local/bin/jfrog"
args = [ "rt", "u", "${CI_PROJECT_DIR}/forge-user-data-artifacts-${CI_BUILD_ID}.tar.gz", "swngc-ngcc-generic-local/nvmetal/user-data-artifacts/x86_64/forge-user-data-artifacts-${CI_BUILD_ID}.tar.gz"]
dependencies = [
    "package-user-data-artifacts-x86_64"
]

[tasks.upload-user-data-artifacts-aarch64]
category = "User Data"
description = "Upload aarch64 user data artifacts"
command = "/usr/local/bin/jfrog"
args = [ "rt", "u", "${CI_PROJECT_DIR}/forge-user-data-artifacts-${CI_BUILD_ID}.tar.gz", "swngc-ngcc-generic-local/nvmetal/user-data-artifacts/aarch64/forge-user-data-artifacts-${CI_BUILD_ID}.tar.gz"]
dependencies = [
    "package-user-data-artifacts-aarch64"
]
