[tasks.build-user-data-artifacts-x86_64]
dependencies = [
    "build",
    "copy-cli-to-pxe-x86_64",
]

[tasks.build-user-data-artifacts-x86_64-ci]
dependencies = [
    "build",
    "copy-cli-to-pxe-x86_64",
    "package-user-data-artifacts-x86_64",
    "upload-user-data-artifacts-x86_64",
]

[tasks.build-user-data-artifacts-aarch64]
dependencies = [
    "build",
    "copy-cli-to-pxe-aarch64",
    "update-cli-checksum-aarch64",
    "download-hbn-installer",
    "update-hbn-installer-checksum",
    {name = "build-forge-dpu-deb", path="../bluefield/Makefile.toml"},
]

[tasks.build-user-data-artifacts-aarch64-ci]
dependencies = [
    "build",
    "copy-cli-to-pxe-aarch64",
    "download-hbn-installer",
    {name = "build-forge-dpu-deb", path="../bluefield/Makefile.toml"},
    "package-user-data-artifacts-aarch64",
    "upload-user-data-artifacts-aarch64",
]

[tasks.copy-cli-to-pxe-x86_64]
category = "User Data"
description = "copy the cli to the pxe directories"
command = "cp"
args = [
    "../../../../../target/debug/carbide-cli",
    ".",
]
cwd = "../pxe/static/blobs/internal/x86_64"

[tasks.update-cli-checksum-aarch64]
category = "User Data"
description = "update the checksum for the carbide-cli file"
script = '''
rm -f artifacts.json.bk &&
CHECKSUM=$(shasum -a 256 static/blobs/internal/aarch64/carbide-cli | cut -d ' ' -f 1)
jq --arg CHECKSUM "$CHECKSUM" '."forge-user-data-artifact-aarch64".checksums."carbide-cli" = $CHECKSUM' < artifacts.json > artifacts.json.bk &&
mv artifacts.json.bk artifacts.json
'''
cwd = "../pxe"
dependencies = [
    "copy-cli-to-pxe-aarch64"
]

[tasks.copy-cli-to-pxe-aarch64]
category = "User Data"
description = "copy the cli to the pxe directories"
command = "cp"
args = [
    "../../../../../target/debug/carbide-cli",
    ".",
]
cwd = "../pxe/static/blobs/internal/aarch64"


[tasks.update-hbn-installer-checksum]
category = "User Data"
description = "update the checksum for the hbn installer zip file"
script = '''
rm -f artifacts.json.bk &&
CHECKSUM=$(shasum -a 256 static/blobs/internal/aarch64/doca_container_configs_1.4.0.zip | cut -d ' ' -f 1)
jq --arg CHECKSUM "$CHECKSUM" '."forge-user-data-artifact-aarch64".checksums."doca_container_configs_1.4.0.zip" = $CHECKSUM' < artifacts.json > artifacts.json.bk &&
mv artifacts.json.bk artifacts.json
'''
cwd = "../pxe"
dependencies = [
    "download-hbn-installer"
]

[tasks.download-hbn-installer]
category = "User Data"
description = "Download the HBN installer on aarch64 gitlab runner"
command = "wget"
args = [
    "https://api.ngc.nvidia.com/v2/resources/nvidia/doca/doca_container_configs/versions/1.4.0/zip",
    "-O",
    "doca_container_configs_1.4.0.zip",
]
cwd = "../pxe/static/blobs/internal/aarch64"

[tasks.package-user-data-artifacts-x86_64]
category = "User Data"
description = "Package x86_64 EFI iPXE user data artifacts"
command = "tar"
args = [ "-czvf", "${CI_PROJECT_DIR}/forge-user-data-artifacts-${CI_BUILD_ID}.tar.gz", "carbide-cli"]
cwd = "../pxe/static/blobs/internal/x86_64"

[tasks.package-user-data-artifacts-aarch64]
category = "User Data"
description = "Package aarch64 EFI iPXE user data artifacts"
command = "tar"
args = [
    "-czvf",
    "${CI_PROJECT_DIR}/forge-user-data-artifacts-${CI_BUILD_ID}.tar.gz",
    "carbide-cli",
    "doca_container_configs_1.4.0.zip",
#    "forge-dpu_1.0-1.deb"
]
cwd = "../pxe/static/blobs/internal/aarch64"

[tasks.upload-user-data-artifacts-x86_64]
category = "User Data"
description = "Upload x86_64 EFI iPXE user data artifacts"
command = "/usr/local/bin/jfrog"
args = [ "rt", "u", "${CI_PROJECT_DIR}/forge-user-data-artifacts-${CI_BUILD_ID}.tar.gz", "swngc-ngcc-generic-local/nvmetal/user-data-artifacts/x86_64/forge-user-data-artifacts-${CI_BUILD_ID}.tar.gz"]
dependencies = [
    "package-user-data-artifacts-x86_64"
]

[tasks.upload-user-data-artifacts-aarch64]
category = "User Data"
description = "Upload aarch64 user data artifacts"
command = "/usr/local/bin/jfrog"
args = [ "rt", "u", "${CI_PROJECT_DIR}/forge-user-data-artifacts-${CI_BUILD_ID}.tar.gz", "swngc-ngcc-generic-local/nvmetal/user-data-artifacts/aarch64/forge-user-data-artifacts-${CI_BUILD_ID}.tar.gz"]
dependencies = [
    "package-user-data-artifacts-aarch64"
]
