[package]
name = "xtask"
version = "0.1.0"
edition.workspace = true
license-file.workspace = true
authors.workspace = true

[dependencies]
toml_edit = { workspace = true }
walkdir = { workspace = true }
eyre = { workspace = true }

[lints]
workspace = true
