[Unit]
Description=Carbide discovery client
After=network-online.target

[Service]
Type=idle
Environment=RUST_BACKTRACE=full
ExecStart=/carbide/run.sh

[Install]
WantedBy=multi-user.target
