[Unit]
Description=Carbide discovery client
After=network-online.target
Wants=network-online.target

[Service]
Type=idle
Environment=RUST_BACKTRACE=full
Environment=RUST_LIB_BACKTRACE=0
ExecStart=/opt/forge/run.sh
OOMScoreAdjust=-1000

[Install]
WantedBy=multi-user.target
