apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
  - name: carbide:latest
    newName: gitlab-master.nvidia.com:5005/nvmetal/carbide/carbide-dev
resources:
  - resources/forge-system.yaml
  - ./forge
