apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
  - name: carbide:latest
    newName: quay.io/nvidia/nvmetal-carbide
    newTag: $TAG
resources:
  - resources/forge-system.yaml
  - ./forge
