version: "3.9"
services:
  carbide-dhcp:
    image: carbide:latest
    ports:
      - "67:67"
    depends_on:
      - carbide-api
      - carbide-pxe
    cap_add:
      - net_bind_service
  carbide-db-migrations:
    image: carbide:latest
    environment:
      - POSTGRES_PASSWORD=${DBPASSWD:-notforprod}
      - POSTGRES_USER=${DBUSER:-carbide_development}
      - POSTGRES_DB=${DBNAME:-carbide_development}
    depends_on:
      - postgresql
    command: ["wait-for-pg", "postgresql", "/opt/carbide", "./carbide-api", "migrate", "--datastore=postgres://carbide_development:notforprod@postgresql"]
  carbide-api:
    image: carbide:latest
    environment:
      - POSTGRES_USER=${DBUSER:-carbide_development}
      - POSTGRES_PASSWORD=${DBPASSWD:-notforprod}
      - POSTGRES_DB=${DBNAME:-carbide_development}
    ports:
      - 1079:1079
    depends_on:
      - postgresql
      - carbide-db-migrations
    command: ["wait-for-carbide-migrations", "postgresql", "/opt/carbide", "4", "./carbide-api", "run", "--listen=0.0.0.0:1079", "--datastore=postgresql://carbide_development:notforprod@postgresql"]
  carbide-pxe:
    image: carbide:latest
    ports:
      - 8000:8000
    environment:
      - ROCKET_template_dir="/opt/carbide/pxe/templates"
      - ROCKET_CARBIDE_API_URL=${carbide_url-"https://[::1]:1079}"
      - ROCKET_ADDRESS="0.0.0.0"
      - ROCKET_PORT=8000
    command: ["/opt/carbide/carbide", "-s", "/opt/carbide/static"]
    depends_on:
      - carbide-api
  postgresql:
    image: postgres:14.1-alpine
    volumes:
      - db-data:/var/lib/postgresql/db-data
    environment:
      - POSTGRES_USER=${DBUSER:-carbide_development}
      - POSTGRES_DB=${DBNAME:-carbide_development}
      - POSTGRES_PASSWORD=${DBPASSWD:-notforprod}
    ports:
      - 5432:5432
    expose:
      - 5432
volumes:
  db-data: {}
