listen = "[::]:1081"
metrics_endpoint = "[::]:1080"
database_url = "postgres://a:b@postgresql"
max_database_connections = 1222
asn = 123
dhcp_servers = ["1.2.3.4", "5.6.7.8"]
route_servers = ["9.10.11.12"]
rapid_iterations = false
otlp_endpoint = "https://localhost:4317"
initial_domain_name = "forge.local"
initial_dpu_agent_upgrade_policy = "off"
dpu_nic_firmware_intial_update_enabled = false
dpu_nic_firmware_reprovision_update_enabled = true
dpu_nic_firmware_update_version = { "BlueField SoC" = "24.38.1402", "BlueField-3 SmartNIC Main Card" = "32.38.1402" }
max_concurrent_machine_updates = 1
machine_update_run_interval = 60
dpu_impi_tool_impl = "fake"
dpu_ipmi_reboot_attempts = 1

[tls]
identity_pemfile_path = "/path/to/cert"
identity_keyfile_path = "/path/to/key"
root_cafile_path = "/path/to/ca"

[auth]
permissive_mode = false
casbin_policy_file = "/path/to/policy"

[pools.lo-ip]
type = "ipv4"
prefix = "10.180.62.1/26"

[pools.vlan-id]
type = "integer"
ranges = [{ start = "100", end = "501" }]

[pools.vni]
type = "integer"
ranges = [{ start = "1024500", end = "1024550" }]

[pools.vpc-vni]
type = "integer"
ranges = [{ start = "2024500", end = "2024550" }]

[pools.pkey]
type = "integer"
ranges = [{ start = "1", end = "10" }]

[networks.admin]
type = "admin"
prefix = "172.20.0.0/24"
gateway = "172.20.0.1"
mtu = 9000
reserve_first = 5

[networks.DEV1-C09-IPMI-01]
type = "underlay"
prefix = "172.99.0.0/26"
gateway = "172.99.0.1"
mtu = 1500
reserve_first = 5

[ib_fabric_monitor]
enabled = false
run_interval = "101s"

[site_explorer]
enabled = false
run_interval = "100s"
explorations_per_run = 11
create_machines = true
override_target_ip = "1.2.3.4"
override_target_port = 10443

# Unit is mandatory
[machine_state_controller]
dpu_wait_time = "3m"
power_down_wait = "13s"
failure_retry_time = "31m"
dpu_up_threshold = "33m"
[machine_state_controller.controller]
iteration_time = "9m"
max_object_handling_time = "99s"
max_concurrency = 999

[network_segment_state_controller]
network_segment_drain_time = "44s"
[network_segment_state_controller.controller]
iteration_time = "8m"
max_object_handling_time = "88s"
max_concurrency = 888

[ib_partition_state_controller.controller]
iteration_time = "7m"
max_object_handling_time = "77s"
max_concurrency = 777

[dpu_models.bluefield2]
# Do not set specific component settings to disable update for it
component_update.bmc = { "version" = '23.10', "path" = '/forge-boot-artifacts/blobs/internal/firmware/nvidia/dpu/bf2-bmc.fwpkg' }
component_update.cec = { "version" = '4-15', "path" = '/forge-boot-artifacts/blobs/internal/firmware/nvidia/dpu/bf2-cec.fwpkg' }

[dpu_models.bluefield3]
# Explicitly replace default settings for sanity check
component_min_version = { "bmc" = "23.10", "uefi" = "4.5" }
# Alternative approach to set component parameters for component update action
component_update.bmc.version = '24.04'
component_update.bmc.path = '/forge-boot-artifacts/blobs/internal/firmware/nvidia/dpu/bf3-bmc.fwpkg'
# Force component update action ignoring current version
component_update.cec.path = '/forge-boot-artifacts/blobs/internal/firmware/nvidia/dpu/bf3-cec.fwpkg'

[firmware_global]
autoupdate = false
host_enable_autoupdate = [
    "AAEJOIEFIJL",
    "AJELIJVLNE",
    "ALJIFJSEVDI",
    "fm100dsg80d2f4tq4tt5m8hgib5pcldrm3gvefbduau7gjoitgc0iqg3lpg",
]
host_disable_autoupdate = [
    "FJLSIELIAF",
    "FVLIWEGLWJE",
    "FFULIJWCL",
    "fm100ds27v4uuq7sgs4gsjummskt0b3tedugtpevjrbfh6su081n9jufcq0",
]
run_interval = "20s"
max_uploads = 3

[host_models.dell_r750]
vendor = "Dell Inc."
model = "PowerEdge R750"
ordering = ["uefi", "bmc"]

[host_models.dell_r750.components.bmc]
current_version_reported_as = "^Installed-.*__iDRAC."
preingest_upgrade_when_below = "0.5"
known_firmware = [
    { version = "1.1", filename = "/mnt/persistence/fw/dell/bmc/r750_1.1.fw", url = "https://letmegooglethat.com/?q=dell750bmc", checksum = "f4d4e0954b5635e6c9a8c79ebaa95218", default = true },
]

[host_models.dell_r750.components.uefi]
current_version_reported_as = "^Installed-.*__BIOS.Setup."
preingest_upgrade_when_below = "0.5"
known_firmware = [
    { version = "0.9", mandatory_upgrade_from_priority = "security" },
    { version = "2.0", filename = "/mnt/persistence/fw/dell/uefi/r750_1.1.fw", url = "https://letmegooglethat.com/?q=dell750uefi", checksum = "f4d4e0954b5635e6c9a8c79ebaa95218", default = true },
]

[host_models.dell_r750_plus]
vendor = "Dell Inc."
model = "PowerEdge R750+"
ordering = ["uefi", "bmc"]

[host_models.dell_r750_plus.components.bmc]
current_version_reported_as = "^Installed-.*__iDRAC."
preingest_upgrade_when_below = "0.5"
known_firmware = [
    { version = "1.1", filename = "/mnt/persistence/fw/dell/bmc/r750_1.1.fw", url = "https://letmegooglethat.com/?q=dell750bmc", checksum = "f4d4e0954b5635e6c9a8c79ebaa95218", default = true },
]

[host_models.dell_r750_plus.components.uefi]
current_version_reported_as = "^Installed-.*__BIOS.Setup."
preingest_upgrade_when_below = "0.5"
known_firmware = [
    { version = "0.9", mandatory_upgrade_from_priority = "security" },
    { version = "2.0", filename = "/mnt/persistence/fw/dell/uefi/r750_1.1.fw", url = "https://letmegooglethat.com/?q=dell750uefi", checksum = "f4d4e0954b5635e6c9a8c79ebaa95218", default = true },
]
