listen = "[::]:1081"
metrics_endpoint = "[::]:1080"
database_url = "postgres://a:b@postgresql"
max_database_connections = 1222
asn = 123
dhcp_servers = ["1.2.3.4", "5.6.7.8"]
route_servers = ["9.10.11.12"]
rapid_iterations = false
initial_domain_name = "forge.local"
initial_dpu_agent_upgrade_policy = "off"
dpu_dhcp_server_enabled = true
dpu_nic_firmware_intial_update_enabled = false
dpu_nic_firmware_reprovision_update_enabled = true
dpu_nic_firmware_update_version = { "BlueField SoC" = "24.38.1402", "BlueField-3 SmartNIC Main Card" = "32.38.1402" }
max_concurrent_machine_updates = 1
machine_update_run_interval = 60
dpu_ipmi_tool_impl = "fake"
dpu_ipmi_reboot_attempts = 1
max_find_by_ids = 75
nvue_enabled = true
internet_l3_vni = 1337

[tls]
identity_pemfile_path = "/path/to/cert"
identity_keyfile_path = "/path/to/key"
root_cafile_path = "/path/to/ca"

[auth]
permissive_mode = false
casbin_policy_file = "/path/to/policy"

[auth.cli_certs]
required_equals = {"IssuerO" = "NVIDIA Corporation", "IssuerCN" = "NVIDIA Forge Root Certificate Authority 2022"}
group_from = "SubjectOU"
username_from = "SubjectCN"

[pools.lo-ip]
type = "ipv4"
prefix = "10.180.62.1/26"

[pools.vlan-id]
type = "integer"
ranges = [{ start = "100", end = "501" }]

[pools.vni]
type = "integer"
ranges = [{ start = "1024500", end = "1024550" }]

[pools.vpc-vni]
type = "integer"
ranges = [{ start = "2024500", end = "2024550" }]

[pools.pkey]
type = "integer"
ranges = [{ start = "1", end = "10" }]

[networks.admin]
type = "admin"
prefix = "172.20.0.0/24"
gateway = "172.20.0.1"
mtu = 9000
reserve_first = 5

[networks.DEV1-C09-IPMI-01]
type = "underlay"
prefix = "172.99.0.0/26"
gateway = "172.99.0.1"
mtu = 1500
reserve_first = 5

[ib_fabric_monitor]
enabled = false
run_interval = "101s"

[site_explorer]
enabled = true
run_interval = "100s"
explorations_per_run = 11
create_machines = true
machines_created_per_run = 2
override_target_ip = "1.2.3.4"
override_target_port = 10443
reset_rate_limit = "2h"

# Unit is mandatory
[machine_state_controller]
dpu_wait_time = "3m"
power_down_wait = "13s"
failure_retry_time = "31m"
dpu_up_threshold = "33m"
[machine_state_controller.controller]
iteration_time = "9m"
max_object_handling_time = "99s"
max_concurrency = 999

[network_segment_state_controller]
network_segment_drain_time = "44s"
[network_segment_state_controller.controller]
iteration_time = "8m"
max_object_handling_time = "88s"
max_concurrency = 888

[ib_partition_state_controller.controller]
iteration_time = "7m"
max_object_handling_time = "77s"
max_concurrency = 777

[firmware_global]
autoupdate = false
host_enable_autoupdate = [
  "AAEJOIEFIJL",
  "AJELIJVLNE",
  "ALJIFJSEVDI",
  "fm100dsg80d2f4tq4tt5m8hgib5pcldrm3gvefbduau7gjoitgc0iqg3lpg",
]
host_disable_autoupdate = [
  "FJLSIELIAF",
  "FVLIWEGLWJE",
  "FFULIJWCL",
  "fm100ds27v4uuq7sgs4gsjummskt0b3tedugtpevjrbfh6su081n9jufcq0",
]
run_interval = "20s"
max_uploads = 3

[dpu_models.bluefield2]
vendor = "Nvidia"
model = "Bluefield 2 SmartNIC Main Card"
ordering = ["bmc", "cec"]

[dpu_models.bluefield3]
vendor = "Nvidia"
model = "Bluefield 3 SmartNIC Main Card"
ordering = ["bmc", "cec", "uefi", "nic"]


[dpu_models.bluefield2.components.bmc]
preingest_upgrade_when_below = "23.10"
current_version_reported_as = ".*"
known_firmware = [
  { version = "24.10", filename = "/forge-boot-artifacts/blobs/internal/firmware/nvidia/dpu/bf2-bmc-ota-24.10-9-opn.tar", default = true },
]

[dpu_models.bluefield2.components.cec]
preingest_upgrade_when_below = "04.0f_prod"
current_version_reported_as = ".*"
known_firmware = [
  { version = "04.0f_prod ", filename = "/forge-boot-artifacts/blobs/internal/firmware/nvidia/dpu/cec_ota_BMGP-04.0f_prod.bin", default = true },
]

[dpu_models.bluefield3.components.bmc]
preingest_upgrade_when_below = "24.10"
current_version_reported_as = "BMC_Firmware"
known_firmware = [
  { version = "24.10", filename = "/forge-boot-artifacts/blobs/internal/firmware/nvidia/dpu/bf3-bmc-24.10-9_opn.fwpkg", default = true },
]

[dpu_models.bluefield3.components.cec]
preingest_upgrade_when_below = "00.02.0195.0000_n02"
current_version_reported_as = "Bluefield_FW_ERoT"
known_firmware = [
  { version = "00.02.0195.0000_n02", filename = "/forge-boot-artifacts/blobs/internal/firmware/nvidia/dpu/cec1736-ecfw-00.02.0195.0000-n02-rel-prod.fwpkg", default = true },
]

[dpu_models.bluefield3.components.uefi]
preingest_upgrade_when_below = "4.9.0-13378"
current_version_reported_as = "DPU_UEFI"
known_firmware = [
  { version = "4.9.0-13378", filename = "/internal/firmware/nvidia/dpu/bf-fwbundle-2.9.0-90_24.10-prod.bfb", url = "http://carbide-pxe.forge", checksum = "f4d4e0954b5635e6c9a8c79ebaa95218", default = true },
]

[dpu_models.bluefield3.components.nic]
preingest_upgrade_when_below = "32.43.1014"
current_version_reported_as = "DPU_NIC"
known_firmware = [
  { version = "32.43.1014", filename = "/internal/firmware/nvidia/dpu/bf-fwbundle-2.9.0-90_24.10-prod.bfb", url = "http://carbide-pxe.forge", checksum = "f4d4e0954b5635e6c9a8c79ebaa95218", default = true },
]

[host_models.dell_r750]
vendor = "Dell"
model = "PowerEdge R750"
ordering = ["uefi", "bmc"]

[host_models.dell_r750.components.bmc]
current_version_reported_as = "^Installed-.*__iDRAC."
preingest_upgrade_when_below = "0.5"
known_firmware = [
  { version = "1.1", filename = "/mnt/persistence/fw/dell/bmc/r750_1.1.fw", url = "https://letmegooglethat.com/?q=dell750bmc", checksum = "f4d4e0954b5635e6c9a8c79ebaa95218", default = true },
]

[host_models.dell_r750.components.uefi]
current_version_reported_as = "^Installed-.*__BIOS.Setup."
preingest_upgrade_when_below = "0.5"
known_firmware = [
  { version = "0.9", mandatory_upgrade_from_priority = "security" },
  { version = "2.0", filename = "/mnt/persistence/fw/dell/uefi/r750_1.1.fw", url = "https://letmegooglethat.com/?q=dell750uefi", checksum = "f4d4e0954b5635e6c9a8c79ebaa95218", default = true },
]

[host_models.dell_r750_plus]
vendor = "Dell"
model = "PowerEdge R750+"
ordering = ["uefi", "bmc"]

[host_models.dell_r750_plus.components.bmc]
current_version_reported_as = "^Installed-.*__iDRAC."
preingest_upgrade_when_below = "0.5"
known_firmware = [
  { version = "1.1", filename = "/mnt/persistence/fw/dell/bmc/r750_1.1.fw", url = "https://letmegooglethat.com/?q=dell750bmc", checksum = "f4d4e0954b5635e6c9a8c79ebaa95218", default = true },
]

[host_models.dell_r750_plus.components.uefi]
current_version_reported_as = "^Installed-.*__BIOS.Setup."
preingest_upgrade_when_below = "0.5"
known_firmware = [
  { version = "0.9", mandatory_upgrade_from_priority = "security" },
  { version = "2.0", filename = "/mnt/persistence/fw/dell/uefi/r750_1.1.fw", url = "https://letmegooglethat.com/?q=dell750uefi", checksum = "f4d4e0954b5635e6c9a8c79ebaa95218", default = true },
]

[multi_dpu]
enabled = false

[measured_boot_collector]
enabled = false
run_interval = "555s"
