listen="[::]:1081"
metrics_endpoint="[::]:1080"
database_url="postgres://a:b@postgresql"
asn=123
dhcp_servers=["1.2.3.4", "5.6.7.8"]
route_servers=["9.10.11.12"]
rapid_iterations=false
otlp_endpoint="https://localhost:4317"

[tls]
identity_pemfile_path="/path/to/cert"
identity_keyfile_path="/path/to/key"
root_cafile_path="/path/to/ca"

[auth]
permissive_mode=false
casbin_policy_file="/path/to/policy"

[pools.lo-ip]
type = "ipv4"
prefix = "10.180.62.1/26"

[pools.vlan-id]
type = "integer"
ranges = [{ start = "100", end = "501" }]

[pools.vni]
type = "integer"
ranges = [{ start = "1024500", end = "1024550" }]

[pools.vpc-vni]
type = "integer"
ranges = [{ start = "2024500", end = "2024550" }]

[pools.pkey]
type = "integer"
ranges = [{ start = "1", end = "10" }]
