listen = "[::]:1081"
metrics_endpoint = "[::]:1080"
database_url = "postgres://a:b@postgresql"
max_database_connections = 1222
asn = 123
dhcp_servers = ["1.2.3.4", "5.6.7.8"]
route_servers = ["9.10.11.12"]
rapid_iterations = false
otlp_endpoint = "https://localhost:4317"
initial_domain_name = "forge.local"
initial_dpu_agent_upgrade_policy = "off"
dpu_nic_firmware_intial_update_enabled = false
dpu_nic_firmware_reprovision_update_enabled = true
dpu_nic_firmware_update_version = { "BlueField SoC" = "24.38.1402", "BlueField-3 SmartNIC Main Card" = "32.38.1402" }
max_concurrent_machine_updates = 1
machine_update_run_interval = 60
dpu_impi_tool_impl = "fake"
dpu_ipmi_reboot_attempts = 1

[tls]
identity_pemfile_path = "/path/to/cert"
identity_keyfile_path = "/path/to/key"
root_cafile_path = "/path/to/ca"

[auth]
permissive_mode = false
casbin_policy_file = "/path/to/policy"

[pools.lo-ip]
type = "ipv4"
prefix = "10.180.62.1/26"

[pools.vlan-id]
type = "integer"
ranges = [{ start = "100", end = "501" }]

[pools.vni]
type = "integer"
ranges = [{ start = "1024500", end = "1024550" }]

[pools.vpc-vni]
type = "integer"
ranges = [{ start = "2024500", end = "2024550" }]

[pools.pkey]
type = "integer"
ranges = [{ start = "1", end = "10" }]

[networks.admin]
type = "admin"
prefix = "172.20.0.0/24"
gateway = "172.20.0.1"
mtu = 9000
reserve_first = 5

[networks.DEV1-C09-IPMI-01]
type = "underlay"
prefix = "172.99.0.0/26"
gateway = "172.99.0.1"
mtu = 1500
reserve_first = 5

[site_explorer]
enabled = false
run_interval = 100
explorations_per_run = 11
create_machines = true

# Unit is mandatory
[machine_state_controller]
dpu_wait_time = "3m"
power_down_wait = "13s"
failure_retry_time = "31m"
dpu_up_threshold = "33m"
[machine_state_controller.controller]
iteration_time = "9m"
max_object_handling_time = "99s"
max_concurrency = 999

[network_segment_state_controller]
network_segment_drain_time = "44s"
[network_segment_state_controller.controller]
iteration_time = "8m"
max_object_handling_time = "88s"
max_concurrency = 888

[ib_partition_state_controller.controller]
iteration_time = "7m"
max_object_handling_time = "77s"
max_concurrency = 777
