[package]
name = "agent"
version = "0.1.0"
edition.workspace = true
license = "LicenseRef-NvidiaProprietary"
authors = ["NVIDIA Forge Engineering <swngc-forge-dev@exchange.nvidia.com>"]

[[bin]]
name = "forge-dpu-agent"
path = "src/main.rs"

[dependencies]
arc-swap = "1.6"
axum = "0.6.18"
clap = { workspace = true }
eyre = "*"
gtmpl = "0.7.1"
gtmpl_derive = "0.5.0"
gtmpl_value = "0.5.1"
hyper = "0.14"
ipnetwork = "*"
rand = "0.8"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1"
tracing = "*"
thiserror = "1.0"
tokio = { workspace = true }
tonic = { workspace = true}
tower = "0.4.13"
tower-http = { version = "0.4.0", features = ["trace"] }
uuid = { version = "1.0", features = ["v4", "serde"] }
opentelemetry = { version = "0.19.0", features = ["rt-tokio"] }
opentelemetry-prometheus = "0.12.0"
opentelemetry-http = "0.8.0"
opentelemetry-semantic-conventions = "0.11.0"
http-body = "0.4.5"
prometheus = "0.13.3"
mockall = "0.11.4"

# Local dependencies
forge-host-support = { path = "../../host-support" }
forge-version = { path = "../../version" }
rpc = { path = "../../rpc" }

[build-dependencies]
forge-version = { path = "../../version" }

[dev-dependencies]
ctor = "0.1"
tempfile = "3"
axum = "0.6.4"
axum-server = { version = "0.4.4", features = ["tls-rustls"] }
prost = "0.11.9"
chrono = "0.4.26"
