[package]
name = "agent"
version = "0.1.0"
edition.workspace = true
license-file.workspace = true
authors.workspace = true

[[bin]]
name = "forge-dpu-agent"
path = "src/main.rs"

[dependencies]
arc-swap = "1.6"
axum = "0.6.18"
async-trait = "0.1.77"
blake3 = "1.4"
clap = { workspace = true }
data-encoding = "2.3.3"
diff = "0.1"
eyre = "*"
gtmpl = "0.7.1"
gtmpl_derive = "0.5.0"
gtmpl_value = "0.5.1"
http-body = "0.4.5"
humantime = "*"
hyper = "0.14"
ipnetwork = "0.20.0"
lazy_static = "*"
libc = "*"
mockall = "0.11.4"
opentelemetry = { version = "0.21.0", features = ["logs"] }
opentelemetry_sdk = { version = "0.21.1", features = ["logs", "rt-tokio"] }
opentelemetry-prometheus = "0.14.1"
opentelemetry-http = "0.9.0"
opentelemetry-semantic-conventions = "0.13.0"
prometheus = "0.13.3"
rand = "0.8"
regex = "1.10.2"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1"
serde_yaml = "0.9.27"
sha2 = "0.10.3"
tracing = "*"
tokio = { workspace = true }
tonic = { workspace = true }
tower = "0.4.13"
tower-http = { version = "0.4.0", features = ["trace"] }
uuid = { version = "1.0", features = ["v4", "serde"] }
url = "*"
resolv-conf = "0.7.0"
hickory-proto = "0.24.0"
hickory-resolver = "0.24.0"

# [local-dependencies]
forge-host-support = { path = "../../common/host-support" }
forge-http-connector = { path = "../../common/http-connector/" }
forge-tls = { path = "../../common/tls" }
forge-version = { path = "../../common/version" }
rpc = { path = "../../rpc" }
utils = { path = "../../common/utils" }

[build-dependencies]
forge-version = { path = "../../common/version" }

[dev-dependencies]
chrono = "0.4.26"
ctor = "0.1"
tempfile = "3"
axum-server = { version = "0.4.4", features = ["tls-rustls"] }
prost = "0.12"
reqwest = { version = "*", default-features = false, features = ["rustls-tls"] }
serde_yaml = "*"
