[package]
name = "agent"
version = "0.1.0"
edition.workspace = true
license = "LicenseRef-NvidiaProprietary"
authors = ["NVIDIA Forge Engineering <swngc-forge-dev@exchange.nvidia.com>"]

[[bin]]
name = "forge-dpu-agent"
path = "src/main.rs"

[dependencies]
arc-swap = "1.6"
clap = { workspace = true }
eyre = "*"
gtmpl = "0.7.1"
gtmpl_derive = "0.5.0"
gtmpl_value = "0.5.1"
ipnetwork = "*"
pretty_env_logger = "*"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1"
tracing = "*"
tracing-subscriber = { version = "*", features = ["env-filter", "local-time"] }
thiserror = "1.0"
tokio = { workspace = true }
tonic = { workspace = true }
uuid = { version = "1.0", features = ["v4", "serde"] }

# Local dependencies
forge-host-support = { path = "../../host-support" }
forge-version = { path = "../../version" }
rpc = { path = "../../rpc" }

[build-dependencies]
forge-version = { path = "../../version" }
