resources:
  - "@type": "type.googleapis.com/envoy.extensions.transport_sockets.tls.v3.Secret"
    name: tls_sds
    tls_certificate:
      certificate_chain:
        filename: /etc/certs/tls.crt
      private_key:
        filename: /etc/certs/tls.key
