# Copyright 2021 NVIDIA CORPORATION.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

variables:
  NSPECT_ID: NSPECT-K66V-JJ0K
  APPLICATION_DOCKER_IMAGE: quay.io/nvidia/forge-connectivity
  NVCR_APPLICATION_DOCKER_IMAGE: nvcr.io/nvidian/forge/forge-connectivity
  APPLICATION_DOCKERFILE: build/images/forge/Dockerfile.nobuild
  KUSTOMIZE_LOCATION: config
  NEED_HELM: "yes"

include:
  - project: 'nvmetal/gitlab-templates'
    ref: main
    file:
      - defaults.gitlab-ci.yml

build:
  stage: build
  before_script:
    - go mod download
  script:
    - make
    - make manifests
    - ci/check-codegen.sh
    - ci/check-manifest.sh
  artifacts:
    paths:
      - bin/manager
      - bin/grpc-server
      - bin/agent
      - config/forge.yaml
      - config/forge-dev.yaml
      - config/forge-canary.yaml
    expire_in: 1 day

test:
  stage: test
  before_script:
    - export DEBIAN_FRONTEND=noninteractive
    - apt-get install -y isc-dhcp-relay
  script:
    - make test
  tags:
    - forge
  artifacts:
    when: always
    reports:
      junit: report.xml

license-checks:
  before_script:
    - /bin/bash -l -c "wget https://go.dev/dl/go1.18.4.linux-amd64.tar.gz"
    - /bin/bash -l -c "rm -rf /go"
    - /bin/bash -l -c "tar -C / -xzf go1.18.4.linux-amd64.tar.gz"
  rules:
    - changes:
#        - go.sum
        - .license-config.yml
    - if: $CI_COMMIT_TAG

build-push-kustomize:
  before_script:
    - apt-get update
    - apt-get install -y gettext-base
    - make manifests-ci


build-push-helm:
  variables:
    PUSH_TO_NVCR: 'true'
    HELM_FILE_NAME: "vpc-${HELM_VERSION}"
  when: manual
  before_script:
    - apt-get update
    - apt-get install -y gettext-base
    - make manifests-ci
    - yq -i '.grpcServer.grpcServer.image.tag = env(VERSION)' $CI_PROJECT_NAME/values.yaml
    - yq -i '.grpcServer.grpcServer.image.repository = "nvcr.io/nvidian/forge/forge-connectivity"' $CI_PROJECT_NAME/values.yaml
    - yq -i '.controllerManager.kubeRbacProxy.image.repository = "nvcr.io/nvidian/forge/kube-rbac-proxy"' $CI_PROJECT_NAME/values.yaml
    - yq -i '.controllerManager.manager.image.repository = "nvcr.io/nvidian/forge/forge-connectivity"' $CI_PROJECT_NAME/values.yaml
    - yq -i '.controllerManager.manager.image.tag = env(VERSION)' $CI_PROJECT_NAME/values.yaml
    - yq -i '.version = env(HELM_VERSION)' $CI_PROJECT_NAME/Chart.yaml
    - helm package $CI_PROJECT_NAME/


deploy_dev1:
  extends: .deploy_kustomize
  environment: 
    name: dev1
    deployment_tier: development

deploy_dev2:
  extends: .deploy_kustomize
  environment: 
    name: dev2
    deployment_tier: staging

deploy_qa:
  extends: .deploy_kustomize
  environment: 
    name: qa
    deployment_tier: testing
  tags:
    - corp

deploy_nbu:
  extends: .deploy_kustomize
  environment: 
    name: nbu_testing
    deployment_tier: testing
  tags:
    - corp

#TODO Change this to label based run
e2e-test:
  stage: e2e-test
  needs:
    - job: build-push-container
      artifacts: true
    - job: prepare-ci
  variables:
    FORGE_TAG: $VERSION
  trigger:
    project: nvmetal/e2e-test
    strategy: depend
  rules:
    - if: $CI_COMMIT_MESSAGE =~ /.*test-all.*/
