apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../../base/carbide-api
  - ../../../base/carbide-dhcp
  - ../../../base/carbide-dns
  - ../../../base/carbide-pxe
  - ../../../base/carbide-relay
  - ../../../base/postgres
  - ./serviceAccount.yaml
patchesStrategicMerge:
  - patches/local_services.yaml
  - patches/carbide-api_envoy.yaml
  - patches/carbide-api_db_migrate_job.yaml
  - patches/carbide-pxe_envoy.yaml
  - patches/carbide-api_configmapref.yaml
  - patches/carbide-api_db_migrate_job.yaml
  - patches/carbide-api_image.yaml
  - patches/carbide-pxe_image.yaml
  - patches/carbide-dns_image.yaml
patches:
  - path: override_api_image.json
    target:
      group: apps
      version: v1
      kind: Deployment
      name: carbide-api-deployment
namespace: forge-system
configMapGenerator:
  - name: envoy-carbide-api-config
    behavior: create
    files:
      - envoy.yaml=configs/envoy.yaml
  - name: envoy-carbide-pxe-config
    behavior: create
    files:
      - envoy.yaml=configs/envoy.yaml
  - name: carbide-api-config
    behavior: create
    literals:
    - CARBIDE_API_LISTEN_INTERFACE=127.0.0.1:1079
    - CARBIDE_API_DATASTORE="postgres://carbide_development:notforprod@postgres"
