[tasks.update-vpc-submodule]
category = "vpc"
workspace = false
script = '''
mkdir -p tmp
git fetch ssh://git@gitlab-master.nvidia.com:12051/nvmetal/vpc.git main
git subtree pull --prefix vpc/ ssh://git@gitlab-master.nvidia.com:12051/nvmetal/vpc.git main --squash -m 'updated rust structs for vpc crds'
kustomize build vpc/config/crd/ -o tmp/
'''
cwd="${REPO_ROOT}"

[tasks.generate-rust-from-crd]
category="vpc"
workspace = false
script = '''
kopium -Adf tmp/apiextensions.k8s.io_v1_customresourcedefinition_configurationresourcepools.networkfabric.vpc.forge.gitlab-master.nvidia.com.yaml > api/src/kube/vpc/configuration_resource_pool.rs
kopium -Adf tmp/apiextensions.k8s.io_v1_customresourcedefinition_leafs.networkfabric.vpc.forge.gitlab-master.nvidia.com.yaml > api/src/kube/vpc/leaf.rs
kopium -Adf tmp/apiextensions.k8s.io_v1_customresourcedefinition_managedresources.resource.vpc.forge.gitlab-master.nvidia.com.yaml > api/src/kube/vpc/managed_resource.rs
kopium -Adf tmp/apiextensions.k8s.io_v1_customresourcedefinition_resourcegroups.resource.vpc.forge.gitlab-master.nvidia.com.yaml > api/src/kube/vpc/resource_group.rs
'''
cwd="${REPO_ROOT}"


[tasks.prep-build-vpc]
workspace = false
category = "vpc"
script = '''
mkdir -p vpc/bin
GOBIN=`pwd`/vpc/bin go install sigs.k8s.io/controller-tools/cmd/controller-gen@v0.4.1
GOBIN=`pwd`/vpc/bin go install google.golang.org/protobuf/cmd/protoc-gen-go@v1.28
GOBIN=`pwd`/vpc/bin go install google.golang.org/grpc/cmd/protoc-gen-go-grpc@v1.2
GOBIN=`pwd`/vpc/bin go install sigs.k8s.io/kustomize/kustomize/v4@v4.5.5
'''
cwd="${REPO_ROOT}"


[tasks.build-vpc-container]
workspace = false
condition = {env = {"CARBIDE_ENVIRONMENT" = "local"}}
category = "vpc"
command = "make"
args = ["docker-build"]
cwd = "${REPO_ROOT}/vpc"
dependencies = [
  "prep-build-vpc"
]

