
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.4.1
  creationTimestamp: null
  name: sharedresources.resource.vpc.forge.gitlab-master.nvidia.com
spec:
  group: resource.vpc.forge.gitlab-master.nvidia.com
  names:
    kind: SharedResource
    listKind: SharedResourceList
    plural: sharedresources
    singular: sharedresource
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: SharedResource is the Schema for the sharedresources API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: SharedResourceSpec defines the desired state of SharedResource
            properties:
              ips:
                description: IPs are fabric IPs of the shared resources.
                items:
                  description: IPAddress is IPv4 or IPv6 Addresse types.
                  type: string
                type: array
              resourceGroup:
                description: ResourceGroup this SharedResource belongs.
                type: string
              type:
                description: Type is this ManagedResource type.
                type: string
            type: object
          status:
            description: SharedResourceStatus defines the observed state of SharedResource
            properties:
              conditions:
                description: Conditions specifies responses of ManagedResource create/delete/update.
                items:
                  description: SharedResourceCondition defines responses of ManagedResource
                    create/delete/update.
                  properties:
                    lastTransitionTime:
                      description: LastTransitionTime is the last transaction time
                        for this ManagedResource.
                      format: date-time
                      type: string
                    message:
                      description: Message is message for the transaction.
                      type: string
                    reason:
                      description: Reason is reason for the transaction.
                      type: string
                    status:
                      description: Status is SharedResourceCondition status.
                      type: string
                    type:
                      description: Type is SharedResourceCondition type.
                      type: string
                  type: object
                type: array
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
