carbide_api_url = "https://carbide-api.forge:443"
log_file = "mat.log"
bmc_port = 1443
interface = "cni0"
tui_enabled = true # requires log file
use_dhcp_api = true
dhcp_server_address = "192.168.252.78"

[machines.config1]
host_count = 10
dpu_per_host_count = 1
boot_delay = 10
# assumes running from REPO_ROOT
template_dir = "dev/machine-a-tron/templates"
dpu_bmc_redfish_template_dir = "dev/machine-a-tron/templates/dpu_bmc_redfish"
oob_dhcp_relay_address = "192.168.253.1"
admin_dhcp_relay_address = "192.168.249.1"

[machines.config2]
host_count = 10
dpu_per_host_count = 1
boot_delay = 10
# assumes running from REPO_ROOT
template_dir = "dev/machine-a-tron/templates"
dpu_bmc_redfish_template_dir = "dev/machine-a-tron/templates/dpu_bmc_redfish"
oob_dhcp_relay_address = "192.168.254.1"
admin_dhcp_relay_address = "192.168.249.1"
