carbide_api_url = "https://carbide-api.forge:443"
#log_file = "/dev/null"
log_file = "mat.log"
interface = "cni0"
tui_enabled = true # requires log file
use_dhcp_api = true
dhcp_server_address = "192.168.252.78"
bmc_ip = "192.168.252.1"
bmc_starting_port = 2000

[machines.config]
host_count = 200
dpu_per_host_count = 1
boot_delay = 10
# assumes running from REPO_ROOT
template_dir = "dev/machine-a-tron/templates"
dpu_bmc_redfish_template_dir = "dev/machine-a-tron/templates/dpu_bmc_redfish"
host_bmc_redfish_template_dir = "dev/machine-a-tron/templates/host_bmc_redfish"
oob_dhcp_relay_address = "192.168.64.1"
admin_dhcp_relay_address = "192.168.0.1"

