carbide_api_url = "https://carbide-api.forge:443"
#log_file = "/dev/null"
log_file = "/tmp/mat.log"
interface = "cni0"
tui_enabled = true # requires log file
use_dhcp_api = true
dhcp_server_address = "192.168.252.78"
pxe_server_host = "192.168.252.76"
pxe_server_port = "8080"

# Port to listen on for running bmc-mock instances for each host/DPU. We use a
# nonstandard port to avoid needing to run as root. Note: This must correspond
# with the value of the site_explorer.override_target_port option in carbide's
# site-config.toml to work, otherwise carbide will use port 443 to contact the
# mock BMC instances. Alternatively, you can leave this at 443 and use `sysctl
# net.ipv4.ip_unprivileged_port_start=0` to allow non-root users to bind to
# port 443.
bmc_mock_port = 2000

# Set this to "sudo" or "doas" if you're not running this as root. This allows
# the DHCP mocks to bind to interfaces in the above IP range. Must be
# configured to run without a password.
# sudo_command = "/usr/bin/sudo"

[machines.config]
host_count = 20
vpc_count = 10
dpu_per_host_count = 1
boot_delay = 10
dpu_reboot_delay = 20 # in units of seconds
host_reboot_delay = 20 # in units of seconds

# assumes running from REPO_ROOT
template_dir = "dev/machine-a-tron/templates"
oob_dhcp_relay_address = "192.168.253.1"
admin_dhcp_relay_address = "192.168.252.1"
